[% WRAPPER "layout.tt" title="Search" %]

[% WRAPPER "components/box.tt" header="Search Results" %]
  [% INCLUDE "components/paginator.tt" %]

  [% results %]
  
  [% INCLUDE "components/paginator.tt" %]
[% END IF results%]

[% INCLUDE "search/form.tt" %]

[% END %]
