[%- WRAPPER 'layout.tt' title=lp('Add event', 'header') full_width=1 -%]
    <div id="content">
        <h1>[%- lp('Add event', 'header') -%]</h1>
        [%- INCLUDE 'event/edit_form.tt' -%]
    </div>
[%- END -%]
