[% WRAPPER 'layout.tt' title=l('Event Not Found') full_width=1 %]
<h1>[% l('Event Not Found') %]</h1>

<p>[% l('Sorry, we could not find am event with that MusicBrainz ID. You may
         wish to try and {search_url|search for it} instead.',
         { search_url => c.uri_for_action('/search/search') }) %]</p>
[% END %]
