
.debug-highlight {
	font-family: Courier;
	color: #000;
	background: #f0efff;
}
.debug-level-debug 		{ margin: 0px; padding: 0px; border: 1px; }
.debug-level-info	 	{ margin: 0px; padding: 0px; }
.debug-level-warning 	{ margin: 0px; padding: 0px; color: #ff8800; background: #fff; }
.debug-level-error 		{ margin: 0px; padding: 0px; color: #ff0000; background: #fff; }

.debug-messages-outer	{
	border: 1px dotted #000;
	padding: 5px;
	font-family: Arial;
	font-size: 11px;
}
.debug-messages-inner {
	margin: 0px;
	padding: 5px;
	font-family: monospace;
	font-size: 11px;
	width: 100%; height: 100%;
	overflow-y: none;
}
.debug-messages-inner .line {
	border-top: 1px dotted #000;
	height: 1px;
	margin: 5px; margin-left: 0px; margin-right: 10px;
	padding: 0px;

}











/* tabs */
.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
	margin-top: 20px;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		12px;
	cursor:			Default;
	display:		inline;
	margin:			1px -6px 1px 5px;
	float:			left;
	padding:		3px 6px 3px 6px;
	background:		#fff;
	border:			1px solid #000;
	border-color:	#000;
	cursor:			hand;
	cursor:			pointer;
	z-index:		1;
	position:		relative;
	top:			0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	border:			1px solid #000;
	z-index:		3;
	padding:		3px 6px 3px 6px;
	margin:			1px -6px 1px 5px;
	background:		#fb5;
}

.dynamic-tab-pane-control .tab-row .tab a {
	font-family:		Verdana, Helvetica, Arial;
	font-size:			13px;
	color:				#000;
	text-decoration:	none;
	cursor:				hand;
	cursor:				pointer;
}

.dynamic-tab-pane-control .tab-row .hover a {
	color:	#000;
	text-decoration: underline;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight:	bold;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid #000;
	background:		White;
	z-index:		2;
	position:		relative;
	top:			-2px;
	color:			Black;
	font-family:	Verdana, Helvetica, Arial;
	font-size:		13px;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
	background:		#fff;
	height:			1.85em;
	width:			100%;
}
