/* */

.h2section
{
	padding: 1em;
	border: 1px solid #000;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.h2section h2
{
	margin: -1em;
	margin-bottom: inherit;
	padding: 0.5em 1em;
	background: #fff url(/images/header-bg-orangefade.gif) repeat-y;
	border: 0 solid #ffecac;
	border-width: 0px 0 1px 1px;
}
