table.difflegend {
	margin-top: 5px;
	font-weight: normal;
}

table.difflegend td span.legend {
	padding-right: 40px; 
	font-size: 9px; 
	font-weight: normal;
}

table.difflegend span.box {
	border: 1px solid #000; 
	margin-right: 3px;
	padding: 0px 2px;
	background: #fff; color: #000;
	font-weight: normal;
	font-size: 9px;
}

.diff-add,
table.difflegend span.diff-add {
	background: #cfc; color: #000; font-weight: normal;
}

.diff-del,
table.difflegend span.diff-del {
	background: #fcc; color: #000; font-weight: normal;
}

.diff-changeadd,
table.difflegend span.diff-changeadd {
	background: #cfc; color: #008; font-weight: normal;
}

.diff-changedel,
table.difflegend span.diff-changedel {
	background: #fcc; color: #008;  font-weight: normal;
}
