/* diff'ing legend, used in annotation preview */
table.difflegend {
	margin-top: 5px;
	font-weight: normal;
}

table.difflegend td span.legend {
	padding-right: 40px; 
	font-size: 9px; 
	font-weight: normal;
}

table.difflegend span.box {
	border: 1px solid #000; 
	margin-right: 3px;
	padding: 0px 2px;
	background: #fff; color: #000;
	font-weight: normal;
	font-size: 9px;
}

.diff-add,
table.difflegend span.diff-add {
	background: #dfd; color: #000; 
	font-weight: normal;
}

.diff-del,
table.difflegend span.diff-del {
	background: #fdd; color: #000; 
	font-weight: normal;
}

.diff-changeadd,
table.difflegend span.diff-changeadd {
	background: #dfd; color: #008; 
	font-weight: normal;
}

.diff-changedel,
table.difflegend span.diff-changedel {
	background: #fdd; color: #008;  
	font-weight: normal;
}



/* edits review/voting diff functionality */
table.editdiff {
	border-collapse: collapse; 
	margin: 0px; padding: 0px;
	border-top: 1px solid #fff;
}

table.editdiff tr {
	border: 1px solid #fff;
	vertical-align: top;
}

table.editdiff tr td {
	padding: 0px; margin: 0px;
	border: 1px solid #fff;
	vertical-align: top;
}

table.editdiff tr td.diff * {
	font-size: 12px;
}

table.editdiff tr td.lbl {
	border: 0px; margin: 0px; 
	padding: 0px 8px 0px 0px;
	width: 70px; 
	white-space: nowrap;
	text-align: right;
}

table.editdiff tr td.diff .ins {
	border: 1px solid #8f8;
	background: #efe;
	color: #000; 
	padding: 0px 1px;
}

table.editdiff tr td.diff .del {
	border: 1px solid #f88;
	background: #fee;
	color: #000; 
	padding: 0px 1px;
}

/* the blind tables which help to align values in the edit displays */
table.editfields {
	border-collapse: collapse;
	border: 0px; 
	margin: 0px; 
	padding: 0px;
}

table.editfields tr {
	vertical-align: top;
}

/* on /comp/showmod, add 3px indent to align with values from edit header */
table.editfields tr td.lbl {
	border: 0px; margin: 0px; 
	padding: 0px 8px 0px 0px;
	width: 72px; 
	white-space: nowrap; 
	text-align: right;
}

/* on /comp/showmoddetail, set indent to normal value */
td.editchanges table.editfields tr td.lbl {
	width: 70px;
	text-align: right;
}

table.editfields td {
	padding: 0px;
}

table.editfields tr td.lblinfo {
	border: 0px;
	margin: 0px;
	padding: 0px 6px 0px 16px;
	white-space: nowrap; 
	text-align: right;
}


table.editfields tr td.bold {
	font-weight: bold;
}

/* collapseable table inside the edits listing */
/* used in: batch edit types, remove trm/puid */
table.editlisting {
	border-collapse: collapse;
	border: 0px; 
}
table.editlisting td {
	padding: 0px 30px 0px 0px;
}

div.attrlist {
	margin-left: 16px; 
	font-size: 12px;
}


/* List of edits */
table.editlist {
	padding: 0px; margin: 0px;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 15px;
}

table.editlist td.spacer {
	width: 100%;
	background-color: #ffba58;
	color: #000; 
	border: 1px solid #000;
	height: 8px;
}

/* the header row of the edit */
tr.showedit td.info, 
tr.showedit td.type, 
tr.showedit td.votehead {
	background: #fff;
	color: #000; 
	border: 1px solid #000;
	padding: 2px 3px;
	vertical-align: top;
}

/* show header row, specific settings per column */
tr.showedit td.info {
	padding-right: 30px;
	white-space: nowrap;
}

tr.showedit td.type {}

tr.showedit td.type td {
	padding: 0px 3px;
}

tr.showedit td.votehead {
	text-align: center;
	padding: 5px;
	white-space: nowrap;
}

/* the old value of the edit */
tr.showedit td.oldvalue {
	background: #ffecd6;
	color: #000; 
	vertical-align: top;
	border: 1px solid #000;
	padding: 2px 3px;	
}

tr.showedit td.oldvalue table.editdiff {
	border-color: #ffecd6;
}

tr.showedit td.oldvalue table.editdiff tr {
	border-color: #ffecd6;
}

tr.showedit td.oldvalue table.editfields tr td,
tr.showedit td.oldvalue table.editdiff tr td {
	border-color: #ffecd6;
}

/* the new value of the edit */
tr.showedit td.newvalue {
	background: #f0efff;
	color: #000; 
	vertical-align: top; 
	width: 100%;
	border: 1px solid #000;
	padding: 2px 3px;	
}

tr.showedit td.newvalue table.editdiff {
	border-color: #f0efff;
}

tr.showedit td.newvalue table.editdiff tr {
	border-color: #f0efff;
}

tr.showedit td.newvalue table.editfields tr td,
tr.showedit td.newvalue table.editdiff tr td {
	border-color: #f0efff;
}

tr.showedit td.newvalue table.editdiff tr {
	vertical-align: middle;
}


/* display of the release in the edits list */
tr.showedit td.newvalue div.release_endspacer {
	display: none;
}

tr.showedit td.newvalue table.annotation {
	margin-top: 5px;
}

tr.showedit td.newvalue table.annotation tr.header td {
	background-color: #fb5;
	font-weight: normal;
	font-size: 12px;
}

/* the voting buttons [Yes] [No] [Abs] [No Vote] */
tr.showedit td.vote {
	background: #fff;
	color: #000; 
	vertical-align: top;
	text-align: center;
	padding: 2px 4px 2px;
	border: 1px solid #000;
}

tr.showedit td.notes {
	background: #fff;
	color: #000; 
	border: 1px solid #000;
	padding-left: 4px;
	padding-right: 4px;
}

tr.showedit td.notes table {
	width: 100%;
}

tr.showedit td.oldvalue .lbl {
	width: 30px;
}

/* the list of edit votes */
table.voteslist {
	border: 0px; border-collapse: collapse;
	padding: 0px;
	width: 100%;
}

tr.voteslist {
	vertical-align: middle;
}

tr.supersededvote td { 
	text-decoration: line-through; 
}

tr.voteslist td.voter {
	background-color: inherit;
	color: #000;
	padding: 3px 13px 0px 0px;
	text-align: right; 
	font-size: 12px; 
	border-top: 1px solid #fff;
	white-space: nowrap;
}
tr.voteslist td.vote { 
	background-color: inherit;
	color: #000;
	border-top: 1px dotted #ddd;
}
tr.voteslist span.date {
	background-color: inherit;
	color: #666;
	padding: 0px 0px 0px 5px;
	float: right;
	white-space: nowrap;	
}

/* the list of edit notes */
tr.noteslist td {
	padding: 0px; 
	vertical-align: top;
}

tr.noteslist td.noter {
	padding: 3px 13px 0px 0px;
	text-align: right; 
	font-size: 12px;
	background-color: #fff;
	color: #000;
	border-top: 1px solid #fff;
	white-space: nowrap;
}

tr.noteslist span.date {
	background-color: inherit;
	color: #666;
	padding: 0px 0px 5px 5px;
	float: right;
	white-space: nowrap;	
}

tr.noteslist td.text { 
	background-color: #fff;
	color: #000;
	border-top: 1px dotted #ddd;
	padding: 2px;	
}

tr.noteslist span.modbot {
	background-color: inherit;
	color: #666;
}

tr.noteslist span.modbot a {
	color: #999;	
}

tr.showedit table tr.noteslist td.noter { 
	width: 100px;
}





/* Voting buttons */
table.votechoice {
	border: 0px;
	border-collapse: collapse;
	padding: 0px;
}

table.votechoice3 td {
	width: 33%; text-align: left;
}

table.votechoice4 td {
	width: 25%; text-align: left;
}

table.votechoice input {
	padding: 0px 1px;
	margin-left: 0px;
	margin-right: 0px;
}

table.votechoice label {
	display: block;
	padding: 0px 1px;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid #fff;
	text-align: center;
}

table.votechoice label:hover {
	border: 1px dotted #999;
}


/* /comp/showmodetail */
.moddetail table {
	border: none;
	border-collapse: collapse;
}

td.separator { 
	border-bottom: 1px dotted #999; 
}


/* the blind tables which help to align values in the edit displays */
table.edittype {
	border-collapse: collapse; border: 0px; 
	margin: 0px; padding: 0px;
	width: 100%;
}

table.edittype tr {
	vertical-align: top;
	border: 0px; margin: 0px; padding: 0px;
}

table.edittype tr td {
	border: 0px; margin: 0px; padding: 0px;
}

table.edittype tr td.lbl {
	border: 0px; margin: 0px; 
	padding: 0px 8px 0px 0px;
	white-space: nowrap; 
	width: 70px; 
	text-align: right;
} 

table.edittype tr.entity td.lbl {
	text-align: right;
}

table.edittype tr.entity a {
}

table.edittype tr.entity td.editlinks {
	text-align: right;
}

.showedit-jsnote {
	font-size: 11px;
	padding-left: 30px;
	width: 500px;
}

.showedit-pendingnote {
	background-color: #ffffcc;
	color: #000; 
}

/* /comp/notetext - add some vertical padding before the notetext textarea 
*/
table.editnote {
	margin-top: 20px; 
	border-collapse: collapse;
	border-color: #fff;
}
table.editnote tr td {
	padding: 0px; margin: 0px;
}
table.editnote tr td * {
	margin: 0px; 
}
table.editnote tr td.textarea {
}
/* dom order hack, to allow the first button to be the one to 
   be the rightmost in the client. See ticket #1883 */
table.formstyle tr td.submitbuttons,
table.editnote tr td.submitbuttons {
	direction: rtl;
}
table.editnote tr td.submitbuttons {
	padding: 5px 0px 0px 0px; 
}

/* assign ltr style on the elements inside the buttons TD, which
   is rtl. This should fix the wrong alignment of the 
   button texts in Opera, and does not need a hack for the button
   texts to use mirrored special characters like &laquo; for &raquo; */
table.formstyle tr td.submitbuttons *,
table.editnote tr td.submitbuttons * {
	direction: ltr;
}


/* vi: set ts=4 sw=4 ft=mason : */
