h1 {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.formstyle input {
	font-weight: normal; font-size: 10pt; 
	font-family: Arial, Geneva, Helvetica, Verdana, sans-serif;  
	text-decoration : none;
}
fieldset {
	border: #ccc solid 1px;
	padding: 10px;
	width: 95%; /* some browser do not like 100%, scrollbar appears */
}
fieldset legend {
	padding: 10px 10px;
	background: #fff;
	font-weight: bold;
	color: black;
} 
fieldset label {
	text-align: right;
	margin-left: 15px;
	margin-right: 10px;
}
fieldset .textfield,
fieldset .numberfield,
fieldset .datefield {
	color: #000;
	background: #fff;
	padding-left: 2px;
}
fieldset .textfieldfocus,
fieldset .numberfieldfocus,
fieldset .datefieldfocus {
	color: #000;
	background: #f0efff;
	padding-left: 2px;
}
fieldset .textarea {
	width: 100%;
}
.backtolisting .button,
fieldset .button {
	/* font-weight: bold; font-size: 9pt; 
	font-family: Arial, Geneva, Helvetica, Verdana, sans-serif; 
	background: #ffba58; color: #000; */ 
}
fieldset .oldtextfield {
	padding-left: 2px; font-size: 9pt;
}
.discidmessage {
	color: red;	font-weight: bold;
	padding: 10px; 0px; 0px; 10px; 	
}
fieldset .padleft {	
	padding-left: 20px;
}
fieldset .padlefttop {
	padding-left: 20px;	padding-top: 10px;
}
fieldset .padtop {	
	padding-top: 10px;
}
.modnotearea {
}

.backtolisting {
	padding-top: 20px;
}

.similarartist {
	border-width: 2px; border-style: dotted; border-color: red; 
	margin: 10px 0px 20px 0px ; 
	padding: 5px;
}
.similarartist .warning {
	color: red; font-weight: bold;
}
.similarartist ul {
	margin: 0px; margin-left: 20px; margin-top: 5px;
}
.similarartist p {
	margin: 0px; margin-top: 10px;
}

.linkerror {
	font-weight: bold; color: #f00; padding-top: 4px;
}
.linkerrorslim {
	font-weight: slim; color: #f00; padding-top: 4px;
}
.linkdesc {
	font-weight: normal; color: #000; padding-top: 4px;
}

.helptext {
	font-size: 11px;
}
.ar-attribute {
}
.ar-attribute-description {
	margin-left: 25px;
	margin-bottom: 5px;
	width: 450px;
	font-size: 11px;
}

.autofixmenu {
}
.autofixmenu .button,
.autofixmenu .buttondisabled {
	 font-size: 11px;
}
.autofixmenu .buttondisabled {
}

/* styles for the help box. */ 
.ar-instrument-helpbox {
	margin-top: 5px;
}
.ar-instrument-help {
	font-family: Arial; font-size: 12px; margin-left: 10px; margin-bottom: 10px;
}
.ar-instrument-help p {
	margin: 0px; padding: 0px; padding-top: 5px;
}
.ar-instrument-help ul {
	margin: 0px; margin-left: 20px; padding: 0px;
}
.ar-instrument-help li {
	margin: 0px; padding: 0px;
}
.ar-instrument-help code {
	margin-left: 10px; margin-right: 10px; background-color: #eee;
}

/* styles for the dropdown, searchfield, and button */ 
.ar-dropdown {
	margin-bottom: 1px; margin-right: 5px; /* formats for the <select> dropdown element */ 
}
.ar-attr-textfield {}
.ar-attr-button {
	padding: 0px; margin-left: 4px; margin-right: 4px;
}
.ar-attribute-item {
	margin: 0px; padding: 0px;  /* is used to group multiple instrument/vocal dropdown boxes */
}
.ar-attribute-description input {
	margin: 0px; margin-left: 0px; padding: 0px;  /* add instrument/vocal button */ 
}
