/* Styles for the MB page layout framework */

.LogoBarCell
{
	background: #736DAB url(/images/header_BG.gif) repeat-x bottom;
	position: relative;
	height: 67px;
	font-size: 35px;
}

.LogoBarCell a
{
	color: #FFF;
	position: absolute;
	left: 0;
	top: 0;
}

.LogoBarStagingText
{
	position: absolute;
	top: 20px;
	right: 0.3em;
	color: #FFBA58;
}

.NavBarCell
{
	background: #FFBA58;
	width: 157px;
	text-align: left;
}

.SideBarContentArea
{
	width: 130px;
}
.SideBarContentArea2
{
	margin: 0.5em;
}

.SideBarMoreLink
{
	text-align: right;
	margin-top: 8pt;
	margin-bottom: 8pt;
}

.SideBarStatsBox
{
}

.SideBarStatsBoxName
{
	width: 50%;
	font-size: 8pt;
	color: #000;
	text-align: right;
	font-weight: bold;
}

.SideBarStatsBoxCount
{
	width: 50%;
	font-size: 8pt;
	color: #000;
	text-align: left;
}

.SideBarStatsBox a,
.SideBarStatsBox a:link,
.SideBarStatsBox a:visited,
.SideBarStatsBox a:hover,
.SideBarStatsBox a:active,
.SideBarStatsBox a:focus
{
	color: #000;
}

#FooterBar
{
	width: 100%;
	border: 1px solid black;
	border-width: 1px 0;
	background: #FFBA58;
	padding: 0.2em 0;
	text-align: center;
}

#FooterBar td
{
	text-align: center;
	font-size: 8pt;
}

#FooterBar a,
#FooterBar a:link,
#FooterBar a:visited
{
	color: #997035;
	text-decoration: none;
	display: block;
	width: 100%;
}

#FooterBar a:hover,
#FooterBar a:active,
#FooterBar a:focus
{
	color: #000;
}

#CreditsBar td
{
	padding: 0.3em;
	padding-top: 1.5em;
	color: #bbb;
	font-size: 8pt;
}

#CreditsBar a,
#CreditsBar a:link,
#CreditsBar a:visited
{
	color: #bbb;
	text-decoration: none;
	font-weight: bold;
}

#CreditsBar a:hover,
#CreditsBar a:active,
#CreditsBar a:focus
{
	color: #555;
}


/* adapted wiki-toolbar from trac, for the editing of the annotations */
.wikitoolbar {
	border: solid #d7d7d7;
	border-width: 1px 1px 1px 0;
	height: 18px;
	width: 130px;
}
.wikitoolbar :link, .wikitoolbar :visited {
	background: url(/images/wikitoolbar/bg.png) no-repeat;
	color: #000;
	border: 1px solid #fff;
	border-left-color: #d7d7d7;
	cursor: default;
	display: block;
	float: left; 
	width: 24px;
	height: 16px;
}
.wikitoolbar :link:hover, .wikitoolbar :visited:hover {
	background-color: transparent;
	border: 1px solid #FFBA58;
}
.wikitoolbar a#em { background-position: 0 0 }
.wikitoolbar a#strong { background-position: 0 -16px }
.wikitoolbar a#heading { background-position: 0 -32px }
.wikitoolbar a#link { background-position: 0 -48px }
.wikitoolbar a#code { background-position: 0 -64px }
.wikitoolbar a#hr { background-position: 0 -80px }

/* eof */

