/* disable borders for images contained in a <a> element */
a img {
	border: 0px;
}


/* Styles for the MB page layout framework */
td.header_logo
{
	background: #736DAB url(/images/header_BG.gif) repeat-x bottom;
	height: 67px;
}

td.header_logo a
{
	color: #FFF;
	position: absolute;
	left: 0;
	top: 0;
}

td.header_logo .servertype
{
	position: absolute;
	top: 20px; right: 0.3em;
	font-size: 35px; color: #FFBA58;
}


/* the orange footer bar with the links to related open-source sites */
#FooterBar { width: 100%; border: 1px solid black; border-width: 1px 0; background: #FFBA58; color: #000; padding: 0.2em 0; }
#FooterBar table { width: 100%; border-collapse: collapse; }
#FooterBar td { font-size: 8pt; white-space: nowrap; padding: 0px; padding-right: 10px; }
#FooterBar td.text { width: 24%; }
#FooterBar td.icon { width: 2%; padding-top: 2px; }
#FooterBar td.first { padding-left: 15px; }
#FooterBar td.last { padding-right: 15px; }
#FooterBar a,
#FooterBar a:link,
#FooterBar a:visited { color: #997035; text-decoration: none; }
#FooterBar a:hover, 
#FooterBar a:active,
#FooterBar a:focus { color: #000; }

/* the credits bar below the footerbar */
#CreditsBar { padding-bottom: 20px; }
#CreditsBar table { width: 100%; border-collapse: collapse; }
#CreditsBar td { padding: 2px; padding-top: 5px; color: #bbb; font-size: 8pt; }
#CreditsBar td.first { padding-left: 15px; }
#CreditsBar td.last { text-align: right; padding-right: 15px; }
#CreditsBar td.perlstatus { text-align: center; padding-top: 5px; }
#CreditsBar a,
#CreditsBar a:link,
#CreditsBar a:visited { color: #bbb; text-decoration: none; font-weight: bold; }
#CreditsBar a:hover,
#CreditsBar a:active,
#CreditsBar a:focus { color: #555; }

#ShowPageURL { text-align: center; color: #ddd; font-size: 8pt; padding: 0px; padding-bottom: 20px; }
#ShowPageURL a,
#ShowPageURL a:link,
#ShowPageURL a:visited { color: #ddd; text-decoration: none; font-weight: bold; }
#ShowPageURL a:hover,
#ShowPageURL a:active,
#ShowPageURL a:focus { color: #000; }


/* adapted wiki-toolbar from trac, for the editing of the annotations */
.wikitoolbar {
	border: solid #d7d7d7;
	border-width: 1px 1px 1px 0;
	height: 18px;
	width: 130px;
}
.wikitoolbar :link, .wikitoolbar :visited {
	background: url(/images/wikitoolbar/bg.png) no-repeat;
	color: #000;
	border: 1px solid #fff;
	border-left-color: #d7d7d7;
	cursor: default;
	display: block;
	float: left; 
	width: 24px;
	height: 16px;
}
.wikitoolbar :link:hover, .wikitoolbar :visited:hover {
	background-color: transparent;
	border: 1px solid #FFBA58;
}
.wikitoolbar a#em { background-position: 0 0 }
.wikitoolbar a#strong { background-position: 0 -16px }
.wikitoolbar a#heading { background-position: 0 -32px }
.wikitoolbar a#link { background-position: 0 -48px }
.wikitoolbar a#code { background-position: 0 -64px }
.wikitoolbar a#hr { background-position: 0 -80px }


/* boxes with orange/violet gradient in the header */
.orangeheader {	    
	border: 1px solid #fb5;
	background-color: #fb5; /* fallback if image is not available */
	background-image: url(/images/header-bg-orangefade.gif);
	background-position: left;
	background-repeat: repeat-y;
	margin: 0px; padding: 0px;
	font-weight: bold;
}
.blueheader,
.blueheaderwide {
	border: 1px solid #736DAB;
	background-color: #736DAB; /* fallback if image is not available */
	background-image: url(/images/header-bg-lightpurplefade.gif);
	background-position: right;
	background-repeat: repeat-y;
	margin: 0px; padding: 0px;
	font-weight: bold;
}
.blueheaderwide {
	background-color: #fff; /* fallback if image is not available */
	background-image: url(/images/header-bg-lightpurplefade.gif);
	background-position: left;
	background-repeat: repeat-y;
}
.orangeheader .inner,
.blueheader .inner,
.blueheaderwide .inner {
	margin: 0 0 0 0.5em; padding: 2px;
}
.boxcontent {
	border: 1px solid #aaa;
	border-width: 0px 1px 1px 1px;
	margin: 0px; padding: 8px;
	margin-bottom: 20px;
	
	/* for /comp/layout/editformbegin which contains floating tables.
	   http://www.quirksmode.org/css/clearing.html */
	overflow: hidden;
}
.boxcontent .inner {
	margin: 0px; padding: 0px;
	width: 100%;	
}
.boxcontent .inner ul {
	margin-top: 10px; margin-bottom: 0px; margin-left: 20px; padding: 0px;
}
.boxcontent .inner li {
	margin: 0px; padding-bottom: 10px;
}
.boxcontent .inner p {
	margin: 0px; padding: 0px; padding-bottom: 15px;
}
.boxcontent .inner p.important {
	color: #fc0; padding-bottom: 6px;
}
.boxcontent .inner p.important a {
	font-weight: bold; 
}
.boxcontent .inner ul,
.boxcontent .inner ol {
	margin: 0px;
	margin-top: 10px; margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 35px;
}
.boxcontent .inner li {
	margin: 0px; padding: 0px;
}
.boxcontent .inner hr {
	width: 275px; height: 1px;
	color: #000; background-color: #000;
	border: none; 
}

table.modpending {
	margin: 0px; padding: 0px; 
	margin-left: 5px;
	margin-bottom: 5px;
	width: 250px;
	border-collapse: collapse;
	float: right;
}
table.modpending td {
	font-size: 11px; font-weight: normal; 
	background: #ffffcc; color: #000;
	border: 1px solid #ccc;
	padding: 3px 5px; 
	margin-bottom: 5px
}
table.modpending td a {
	font-weight: bold;
}
table.modpending td.note {
	font-size: 11px; 
	margin-left: 3px; margin-top: 2px;
	padding-left: 2px; 
	border-left: 1px solid #999;
}

table.formstyle {
	float: left;
}


.newsarticle {
	margin-bottom: 10px;
}
.datetime {
	text-align: right; font-size: 11px; color: #999;
}
.readmore {
	text-align: right; font-size: 11px; 
}
.NewsLink,
.PressReleaseLink,
.WhitePaperLink {
	display: block;
	text-align: right;
}

/* add some vertical padding before the notetext textarea */
span.artistresolution {
	font-size: 11px;
	padding-bottom: 1px;
}

/** 
 * artistfilter tables, used in: 
 *  ~ /comp/artistfilter
 **/   
table.artistfilter-listing {
	border-collapse: collapse;
	margin-bottom: 5px;
}
table.artistfilter-listing td {
	padding: 0px;
	text-align: center; /* default: centered */
}
table.artistfilter-listing input {
	margin: 0px; padding: -2px; /* remove some padding of the radiobutton */
}
table.artistfilter-listing td.no {
	font-size: 11px; text-align: right;
}
table.artistfilter-listing td.link {
	padding-right: 20px;
}
table.artistfilter-listing tr.row0 {
	background-color: #ffe1b7;
}
table.artistfilter-listing tr.row1 {
}


/* listing table */ 
table.listing { }

/* listing td are centered by default, and define horizontal padding */
table.listing td { padding: 2px 4px; text-align: center;  }

/* header rows are bold, and have some padding at the bottom */
table.listing tr.header td { font-weight: bold; padding-bottom: 2px; }

/* odd/even row coloring */
table.listing tr.odd {}
table.listing tr.even { background-color: #eee }

/* if a row has the right class, all cells align to right per default */
table.listing tr.right td { text-align: right; }

/* explicit left/center/right alignment */
table.listing tr.left td { text-align: left; }
table.listing tr.right td { text-align: right; }
table.listing tr td.left { text-align: left; }
table.listing tr td.right { text-align: right; }
table.listing tr td.center { text-align: center; }

/* selected */
table.listing span.selected { font-weight: bold; }
table.listing span.selected a { color: #000; text-decoration: underline; }

/* spacer row, because table is defined using cellspacing=0, cellpadding=0 */
table.listing tr.spacer td { height: 1px; padding: 0px; }

tr.artistrel0 { background-color: #FFFFFF; }
tr.artistrel1 { background-color: #FFFdFC; }
tr.artistrel2 { background-color: #FFFaE4; }
tr.artistrel3 { background-color: #FFF6DE; }
tr.artistrel4 { background-color: #FFF2D7; }

tr.artistrel5 { background-color: #FFEfD1; }
tr.artistrel6 { background-color: #FFEbCa; }
tr.artistrel7 { background-color: #FFE8C4; }
tr.artistrel8 { background-color: #FFE4BE; }
tr.artistrel9 { background-color: #FFE1B7; }





table.browsebox {
	width: 90%;
}
table.browsebox tr {
	vertical-align: top;
}
table.browsebox td {
	width: 33%;
	text-align: center;
}
table.browsebox td.sep {
	width: 20px;
}
table.browsebox td.index {
	padding-right: 40px;
	vertical-align: middle;
}
table.browsebox td.index table {
	border-collapse: collapse;
	border: none;
	width: 10px;
}
table.browsebox td.index table tr {
	vertical-align: middle;
}
table.browsebox td.indexfield {
	padding-right: 5px;
}
table.browsebox td.indexfield input {
	padding: 0px 10px;
	border: 1px solid #000;
	background-color: #FFBA58;
	text-transform: uppercase;
	color: #000;
	font-size: 22px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	text-align: center;
}
table.browsebox td.indexbutton input {
	padding: 0px; margin: 0px; font-size: 11px;
}



table.browsebox table.symbols {
	width: 10px; border-collapse: collapse; border: 0px; padding: 0px; margin: 0px;
}
table.browsebox table.symbols td {
	padding: 1px 2px; text-align: center;
}
table.browsebox table.symbols td.special {
	padding-right: 8px;
}


/* explicit left alignment */
table.listing td.browsenr {
	font-size: 10px;
	text-align: left; 
	padding-right: 10px;
}
table.listing td.browsename{
	text-align: left; 
	padding-right: 50px;
	white-space: nowrap;
}


table.pageselector {
	padding: 0px;
}

table.pageselector td.jump {
	white-space: nowrap;
	padding-right: 40px;
}
table.pageselector td.jump table {
	border-collapse: collapse;
	border: none;
}
table.pageselector td.list {
	white-space: nowrap;
	padding-left: 40px;
}

table.pageselector td.jumpfield {
	padding-right: 5px; 
}
table.pageselector td.jumpfield input {
	padding: 0px;
	border: 1px solid #534D8B;
	background: #fff;
	color: #534D8B;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}
table.pageselector td.jumpbutton input {
	padding: 0px; margin: 0px; 
	font-size: 11px;
	/*border: 0px;
	color: #534D8B;
	background-color: #fff;*/
}



/* eof */





/** 
 * Default format for form fields, inside a hidden table.
 *
 **/   
table.formstyle {}

/* general format for TD inside a formstyle table */
table.formstyle td {
	padding: 2px 4px;
	text-align: left;
}


/* header rows are bold, and have some padding at the bottom */
table.formstyle tr {
	vertical-align: middle;
}

/* all TD in a TR.top row have vertical alignment */
table.formstyle tr.top td {
	vertical-align: top;
}

/* all TD in a TR.spaced row have 20px padding at the top. */
table.formstyle tr.spaced td {
	padding-top: 20px;
}

/* all TD in a TR.header row are bold, and have some padding at the bottom */
table.formstyle tr.header td {
	font-weight: bold;
	padding-bottom: 2px;
}

/* explicit left alignment */
table.formstyle tr.header td {
	text-align: left;
}

/* explicit center alignment */
table.formstyle td.center {
	text-align: center; 
}

/* label cells use some right padding, to give the input fields some room */
table.formstyle td.label {
	font-weight: bold;
	white-space: nowrap;
	text-align: right;
	padding-right: 15px;
	padding-left: 0px;
	width: 150px;
}

table.formstyle td.labelnopad {
	font-weight: bold;
	white-space: nowrap;
	text-align: right;
	padding-right: 0px;
	padding-left: 0px;
	width: 150px;
}


/* input field cells do not wrap (e.g. for Guess Case buttons), 
   and use as much room as they can get. */
table.formstyle td.field {
	white-space: nowrap;
}

/* suggestions are placed on top of the form fields, 
   formatted in an unordered list. */
table.formstyle td.instructions {
	padding-bottom: 15px;
	max-width: 500px;
}
table.formstyle td.instructions ul {
	margin: 0px 15px; padding: 0px;
}
table.formstyle td.instructions li {
	margin: 0px; padding: 0px; padding-bottom: 4px;
}

/* if different areas are handled in the same form,
   use this class to separate one from the others. */
table.formstyle td.formsection {
	/*font-size: 11px;*/
}

/* add some vertical padding before the notetext textarea */
table.formstyle td.notetext {
	padding-top: 20px;
}

/* include smaller text into a div, this way this can be 
   driven globally. */
table.formstyle div.small {
	padding-top: 4px;
	font-size: 11px;
}



/* errors are listed on top of the fields, under
   the instructions list, in an unordered list. */
table.formstyle td.error {
	padding: 0px;
	color: red;
}
table.formstyle td.error ul {
	margin-left: 15px;
	margin-bottom: 5px;
}
table.formstyle td.error ul li {
	padding-left: 0px;
}

/* force fields to be the same width */
table.formstyle input.textfield {
	width: 200px;
}

/* spacer row, because table is defined using cellspacing=0, cellpadding=0 */
table.formstyle tr.spacer td {
	height: 1px;
	padding: 0px;
}


table.formstyle td table.releaselist {
}
table.formstyle td table.releaselist tr.header td {	
	font-weight: bold;
}
table.formstyle td table.releaselist td {	
	padding: 0px 2px; padding-right: 40px;
}




/** 
 * textlayout tables, used in plain text pages.
 *  ~ mirrors.html
 **/   
div.textlayout {
}

/* header rows are bold, and have some padding at the bottom */
div.textlayout div {
	vertical-align: top;
}

div.textlayout div.label {
	float: left;
	width: 160px;
	font-size: 11px;
	font-weight: bold;
}

div.textlayout div.content {
	margin-left: 180px;
	margin-right: 20px;
	margin-bottom: 20px;
}


/*
#albumbatch input.button {
	border: none;
	margin: 0px; padding: 0px;
	padding-bottom: 4px;
	color: #534D8B;
	background: #fff;
	text-align: left;
	cursor: pointer;
}
#albumbatch input.button:hover {
	text-decoration: underline;
}
*/