/* Styles for the MB page layout framework */

.LogoBarCell
{
	background: #736DAB url(/images/header_BG.gif) bottom left repeat-x;
	position: relative;
	height: 67px;
	font-size: 35px;
}

.LogoBarStagingText
{
	position: absolute;
	top: 20px;
	right: 0.3em;
	color: #FFBA58;
}

.NavBarCell
{
	background: #FFBA58 url(/images/topmenu_BG.gif) bottom left repeat-x;
}

.SideBarCell
{
	background: #DDDDDD url(/images/sidemenu_BG.gif) top left repeat-y;
}

.footer
{
	background: #FFBA58 url(/images/topmenu_BG.gif) top left repeat-x;
	text-align: center;
}

.SideBarContentArea
{
	width: 130px;
}
.SideBarContentArea2
{
	margin: 0.5em;
}

.SideBarMoreLink
{
	text-align: right;
	margin-top: 8pt;
	margin-bottom: 8pt;
}

.SideBarStatsBox
{
}

.SideBarStatsBoxName
{
	width: 50%;
	font-size: 8pt;
	color: #000;
	text-align: right;
	font-weight: bold;
}

.SideBarStatsBoxCount
{
	width: 50%;
	font-size: 8pt;
	color: #000;
	text-align: left;
}

.SideBarStatsBox a,
.SideBarStatsBox a:link,
.SideBarStatsBox a:visited,
.SideBarStatsBox a:hover,
.SideBarStatsBox a:active,
.SideBarStatsBox a:focus
{
	color: #000;
}

#FooterBar
{
	width: 100%;
	border: 1px solid black;
	border-width: 1px 0;
	background: #FFBA58;
	padding: 0.2em 0;
	text-align: center;
}

#FooterBar td
{
	text-align: center;
	font-size: 8pt;
}

#FooterBar a,
#FooterBar a:link,
#FooterBar a:visited
{
	color: #997035;
	text-decoration: none;
	display: block;
	width: 100%;
}

#FooterBar a:hover,
#FooterBar a:active,
#FooterBar a:focus
{
	color: #000;
}

#CreditsBar td
{
	padding: 0.3em;
	padding-top: 1.5em;
	color: #bbb;
	font-size: 8pt;
}

#CreditsBar a,
#CreditsBar a:link,
#CreditsBar a:visited
{
	color: #bbb;
	text-decoration: none;
	font-weight: bold;
}

#CreditsBar a:hover,
#CreditsBar a:active,
#CreditsBar a:focus
{
	color: #555;
}

/* eof */
