/* styles for common elements and element combinations */
html, body {
	background: #fff;
	color: #000;
	margin: 0px; padding: 0px;	
	font-style: normal;
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
}

/* default font for body, paragraph and td's */
p, td	{
	font-style: normal;
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	background-color: inherit; color: #000; 
	text-decoration : none;
}

form {
	margin: 0px;
}

abbr, acronym, span.abbr, span.explain {
	cursor: help; 
	background-color: inherit;
}

.bold { 
	font-weight: bold; 
}

/* XHTML change: globally remove borders from images inside <a> blocks */
a img { 
	border: 0;
	vertical-align: baseline;
}

span.nobr { 
	white-space: nowrap;
}

img.entityicon { 
	margin: 0px 3px 0px 0px; /* margin: 0; margin-right: 3px */
	padding: 0px;
	vertical-align: middle;
}

/* use technique from wikipedia to show entity links (icon as background image
	 with left-padding.) */
span.linkartist-icon,
span.linkrelease-icon,
span.linklabel-icon,
span.linktrack-icon { 
	padding-left: 16px;
	background-position: 0px 65%;
	background-repeat: no-repeat;
}

span.linkartist-icon { 
	background-image: url("../images/entity/artist_small.gif");
}

span.linklabel-icon { 
	background-image: url("../images/entity/label_small.gif");
}

span.linkrelease-icon { 
	background-image: url("../images/entity/release_small.gif");
}

span.linktrack-icon { 
	background-image: url("../images/entity/track_small.gif"); 
}

/* deleted entities are shown differently */
span.deletedentity { 
	background-color: inherit; color: #999;
	cursor: help;
}

/* links to entities are usually rendered bold, can be turned of 
	 when calling the component. */
a.linkentity-strong { 
	font-weight: bold;
}

/* TODO: that is the default behaviour, isn't it? */
label { 
	cursor: pointer; 
} 

/* default link color */
a,
a:link,
a:visited {
	background-color: inherit; color: #534D8B;
	text-decoration: none;
}

/* activated, and hovered link color */
a:hover,
a:focus,
a:active {
	background-color: inherit; color: #736DAB;
	text-decoration: underline;
}

/* globallby turn off <p> TODO: why use paragraphs then? */
p {
	margin: 0px;
}

div.pagetitle {
	text-align: left;
	margin-top: 0px;
	font-size: 22px;
	font-weight: bold;
}

/* big, chunkish font (page titles only) */
h1 {
	font-size: 21px;
	font-weight: bold;
}

/* black text on orange gradient with orange line at the bottom. */
h2 {
	color: #000;
	background: #fff url(/images/header-bg-orangefade.gif) repeat-y left;
	border-style: solid;
	border-color: #ffecac;
	border-width: 0px 0 1px 1px;
	font-size: 100%;
	font-weight: bold;
	padding: 0.1em 0.3em;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* paragraph header */
h3 {
	font-weight: bold;
	font-size: 100%;
	margin-top: 20px;
	margin-bottom: 3px;
}

/* index.html, and news/* pages use this. */
.boxeslist {
	padding-top: 0px; 
}

.newslist {
	width: 250px;
	padding: 0px 5px 0px 30px; 
}

.boxeslist h1,
.newslist h1 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	border-width: 0px;
}

.newslist h2 {
	margin: 0px 0px 10px 0px; 
	background-color: #736DAC; color: #000;
	background-image: url(/images/header-bg-lightpurplefade.gif);
	background-position: top right;
	background-repeat: repeat-y;
	border: 1px solid #736DAB;
}

.notice {
	border: 3px outset #f0effe;
	margin: 1em;
	font-weight: bold;
	padding: 1em;
	background-color: #f0efff; color: #000;
}

.LicenseNotice {
	border: 3px outset #f0effe;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	padding: 1em;
	background-color: #f0efff; color: #000;
}

/*
.error {
	border: 3px outset red;
	margin: 1em;
	font-weight: bold;
	padding: 1em;
	background-color: #fee;
	color: #000;
}
*/

ul, ol {
	margin-left: 1em;
	margin-right: 2em;
}

ul.SpacedList li,
ol.SpacedList li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

kbd {
	background-color: #efefff; color: #000;
	font-family: monospace;
}

kbd.KbdBlock {
	margin: 1em 2em;
	padding: 0.5em;
	font-family: monospace;
	display: block;
}

/* Useful rules */
.CenterChildren * {
	vertical-align: middle;
}

.SpacedRows td,
.SpacedRows th {
	padding-top: 1px;
	padding-bottom: 1px;
	empty-cells: show;
}

.SpacedColumns td,
.SpacedColumns th {
	padding-left: 0.5em;
	padding-right: 0.5em;
	empty-cells: show;
}

.TopAlignCells td,
.TopAlignCells th {
	vertical-align: top;
}

/* page-specific things */
.StatsTable .SubHeading {
	padding-top: 0.5em;
	text-align: left;
}

.StatsTable .StatName {
	text-align: left;
	font-size: 10pt;
	font-weight: normal;
}

.StatsTable .NumberCell {
	text-align: right;
	font-size: 10pt;
}

.DownloadLink {
	margin-left: 2em;
}

.DownloadLink * {
	vertical-align: middle;
}

.DownloadLink img {
	margin-right: 1em;
}

.DownloadList {
	list-style-image: url(/images/download.gif);
}

/* /comp/artisttitle */
table.artisttitle {
	border-collapse: collapse;
	border: 1px solid #000;
	margin-top: 15px;
	margin-bottom: 15px;	
	background-color: #f0efff; 
	color: #000;
	width: 100%;
}

table.artisttitle td.icon {
	padding: 3px 8px 3px 4px;
	width: 32px;
}

table.artisttitle td.title {
	width: 100%;
}

table.artisttitle td.title a {
	font-size: 20pt;
	font-weight: normal;
	background-color: inherit; 
	color: #000 !important;
}

table.artisttitle td.info {
	padding-bottom: 4px;
}

table.artisttitle td.links {
	padding: 2px 4px;
}

table.artisttitle td.editlinks {
	padding: 2px 4px;
	background-color: #ffecd6; color: #000;
	border-top: 1px solid #000;
}

table.artisttitle td.relationshiplinks {
	padding: 2px 4px;
	background-color: #fbf9f7; color: #000;
	border-top: 1px solid #000;
}

table.artisttitle td.collection
{
	padding: 2px 4px;
	background-color: #e1e5ed;
	border-top: 1px solid #000;
}

/* ------------------------------------------------------------------------- 
	* /comp/albumbegin
	* The release header table.
	* ---------------------------------------------------------------------- */
table.releasebegin {
	border-collapse: collapse;
	border: 1px solid #000;
	background-color: #fff; color: #000;
	width: 100%;
}

table.releasebegin tr.mp td {
	background-color: #ffc; color: #000;
}	

table.releasebegin td.title {
	background-color: #ffba58; color: #000;
	padding: 2px 2px 2px 4px;
	vertical-align: middle;
}

table.releasebegin td.title a,
table.releasebegin td.title span {
	font-weight: bold;
}

table.releasebegin td.quality {
    background-color: #ffba58; color: #000;
    text-align: right;
}

table.releasebegin td.toggle {
	background-color: #ffba58; color: #000;
	padding: 2px 0px 0px 3px;
	width: 10px;
}
table.releasebegin td.toggle a {
	margin-top: 1px;
}
table.releasebegin td.toggle img {
	padding: 0px; margin: 0px;
}	

table.releasebegin td.icon {
	background-color: #ffba58; color: #000;
	width: 10px;
	padding-left: 2px;
	padding-top: 2px;
}

table.releasebegin td.tagger {
	background-color: #ffba58; color: #000;
	width: 10px;
}

table.releasebegin td.batchop {
	background-color: #ffba58; color: #000;
	width: 10px;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
}


/* ------------------------------------------------------------------------- 
	* The release header with the edit links,
	* and the amazon coverart, if available 
	* ---------------------------------------------------------------------- */
table.releaselinks {
	border-collapse: collapse;
	border-style: solid;
	border-color: #000;
	border-width: 0px 1px 1px 1px;
	background-color: #eee; color: #000;
	width: 100%;
}

table.releaselinks td.links {
	padding: 4px;
	width: 100%;
	Vertical-align: top;
}

table.releaselinks td.cover {
	padding: 3px 4px 3px 3px;
	width: 130px;
	Vertical-align: top;
}

table.releaselinks table.inner {
	border: 1px solid #000;
	border-collapse: collapse;
	width: 100%;
}

table.releaselinks table.inner td {
	padding: 3px;
	width: 100%;
}

table.releaselinks td.asin { 
	width: 130px; 
}

table.releaselinks a.asin {
	margin: 0px; padding: 0px;
}

table.releaselinks img.asin {
	margin: 0px; padding: 0px;
	height: 130px; width: 130px;
	border: 1px solid #000;
}

table.releaselinks div.partnerlinks {
	margin: 0px; padding: 1px;
	font-size: 9px;
}

/* info links, lightblue */
table.releaselinks td.info {
	background-color: #f0efff; color: #000;
}

/* annotation links, lightblue */
table.releaselinks td.editannotation {
	background-color: #f0efff; color: #000;
	border-top: 1px solid #000;
}

/* relationships links, lightgray */
table.releaselinks td.editrelationships {
	background-color: #fbf9f7; color: #000; 
	border-top: 1px solid #000;
}

/* editing links, lightred */
table.releaselinks td.edit {
	background-color: #ffecd6; color: #000;
	border-top: 1px solid #000;
}

/* tags, bluishgreen */
table.releaselinks td.tags {
	background-color: #F0F6FF; color: #000;
	border-top: 1px solid #000;
}

/* ratings, bluishgreen */
table.releaselinks td.rating {
	background-color: #F0F6FF; color: #000;
	border-top: 1px solid #000;
}

/* collection add/remove link box */
table.releaselinks td.collection {
	background-color:#e1e5ed;
	border-top:1px solid #000;
}

/* ------------------------------------------------------------------------- 
	* Release Tracks table
	* the list of 1..n track rows
	* ---------------------------------------------------------------------- */
table.releasetracks {
	border-style: solid;
	border-color: #000;
	border-width: 0px 1px 1px 1px;
	border-collapse: collapse;
	background-color: #fff; color: #000;
	width: 100%;
}

/* general formatting: add some horizontal
	 padding, to lighten things up, and add
	 border on the bottom. */
table.releasetracks td {
	padding: 2px 4px;
	border-bottom: 1px solid #000;
	vertical-align: top;
}

/* track number. align center, and add sufficent
	 padding left+right that it is readable. */
table.releasetracks td.no {
	width: 1%; text-align: center;
	border-right: 1px solid #aaa;
	padding-left: 15px; padding-right: 15px;
}

/* track title, if given no width it spans as much
	 of the 100% table as it can get. */
table.releasetracks td.title {
	width: 90%;
	padding-right: 15px;
	border-right: 1px solid #aaa;
}

/* various artists (or multipletrackartists) album, 
	 render track titles and track artists */
table.releasetracks td.title.va {
	width: 45%;
}

table.releasetracks td.artist {
	width: 45%;
	border-right: 1px solid #aaa;
	padding-right: 15px;	
}

/* if not logged in, this is the rightmost TD; no border */
table.releasetracks td.length {
	width: 75px; text-align: right;
	padding-left: 15px; 
}

/* if logged in, add left border to length TD */
table.releasetracks td.links {
	width: 1%; white-space: nowrap;
	text-align: right;
	border-left: 1px solid #aaa; 
	padding-left: 19px; padding-right: 7px;
}

/* Highlighting: purple background,
	 render links in bold (but not the edit links) */
table.releasetracks tr.highlight { 
	background-color: #ffeaff; color: #000; 
}

table.releasetracks tr.highlight td a { 
	font-weight: bold; 
}

table.releasetracks tr.highlight td.links a { 
	font-weight: normal; 
}

table.releasetracks tr.track:hover,
table.releasetracks tr.track-hover { 
	background : #FFFFCC; 
}

/* ------------------------------------------------------------------------- 
	* Release DiscIDs rows
	* ---------------------------------------------------------------------- */
table.releasetracks tr.discid {}
table.releasetracks tr.discid td {
	background-color: #ffecd6; color: #000;
	padding: 2px 4px;
	border-bottom: 1px solid #000;
}

/* the discid toc, and link to the toc page */
table.releasetracks tr.discid td.toc {
	width: 99%;
	border-right: 1px solid #000; 
}

/* if logged in, add left border to length TD */
table.releasetracks tr.discid td.links {
	border-left: 1px solid #000; 
	padding: 2px 6px 2px 2px;
}

/* ------------------------------------------------------------------------- 
	* Release summary table:
	* This summary with statistics (tracks/discids/puids), release
	* langauge and attributes is nested in the releasetracks table, because 
	* the discID section which comes after this row needs to align with 
	* the columns of the tracks.
	* ---------------------------------------------------------------------- */
table.releasetracks tr.summary td {
	padding: 2px;
	background-color: #f0efff; color: #000;
}

table.releasesummary {
	border-collapse: collapse; border: none;
	width: 100%;
}

table.releasesummary td {
	padding: 1px 3px;
	border: none;
}

table.releasesummary img {
	width: 13px; height: 13px;
	vertical-align: bottom;
	margin-bottom: 2px; border: none;
}

table.releasesummary span { 
	padding-right: 15px 
}

table.releasesummary span.tracks { 
	padding-left: 1px 
}

table.releasesummary span.puid img { 
	width: 35px; height: 13px; 
}

table.releasesummary td.statistics {
	width: 90%;
}

table.releasesummary td.language {
	width: 5%; white-space: nowrap;
}

table.releasesummary td.language span { 
	padding: 0px; 
}

table.releasesummary td.attributes span { 
	padding: 0px; 
}

/* ------------------------------------------------------------------------- 
	* Release Events table
	* ---------------------------------------------------------------------- */
table.releaseevents {
	border-style: solid;
	border-color: #000;
	border-width: 0px 1px 1px 1px;
	border-collapse: collapse;
	background-color: #fff; color: #000;
	width: 100%;
}

table.releaseevents td {
	padding: 2px 4px;
	border-bottom: 1px solid #000;
}

table.releaseevents td.eventslist { 
	width: 90%; 
}

table.releaseevents td.links { 
	width: 10%; 
	border: none; 
	text-align: right; white-space: nowrap; 
}

table.releaseevents table.eventslist { 
	border: none; 
	border-collapse: collapse; 
}

table.releaseevents table.eventslist th,
table.releaseevents table.eventslist td { 
	border: none; 
	padding: 0px 1em 0px 0px; 
}

table.relationships {}
table.relationships td { 
	border: none; 
	padding: 0px 0px 0px 20px;
	font-size: 11px;
}

table.relationships a { 
	font-weight: normal;
}

table.relationships span.linkartist-icon,
table.relationships span.linkrelease-icon,
table.relationships span.linktrack-icon { 
	background-position: 0px 0px;
}


/* /comp/albumtype */
h2.AlbumType {
	background-color: #736dab; color: #fff;
	background-image: none;
	border: 1px solid black;
	font-weight: bold;
	margin: 1em 0;
	padding: 2px 4px;
}

/* [ A | list | of | links ] */
.LinksRow {
	text-align: center;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

/* /comp/ar/relationship_box */
.RelationshipBox {
	padding: 5px;
	background-color: #efe8e2; color: #000;
	border-width: 1px;
	border-style: solid;
	margin-bottom: .5em;
}

/* Album meta, whereever it is shown */
td.trk, td.did { 
	font-size: 11px; 
}

td.trk, td.did, td.rdate { 
	padding: 0.3em 0.6em; 
	text-align: right; 
}

td.rtimeline { 
	background: url('/images/timeline.gif') 50% 0% repeat-y;
}

td.trk *, td.did *, td.rdate * { 
	vertical-align: middle 
}

/* "Compact" showartist page */

/* release status */
#CompactReleaseList td.rst { 
	padding: 0 1em; 
	text-align: center 
} 

#CompactReleaseList td.rdate,
#CompactReleaseList td.rst,
#CompactReleaseList td.trk,
#CompactReleaseList td.did { 
	white-space: nowrap;
} 

/* tag box */
#CompactReleaseList td.rtag { 
	padding: 0 0.6em; 
	text-align: center 
} 

/* date */
#CompactReleaseList td.rdate { 
	padding: 0 0.6em; 
	text-align: center 
} 

/* catalog number */
#CompactReleaseList td.catno { 
	padding: 0 0.6em;
	white-space: nowrap;
} 

/* release name */
#CompactReleaseList td.rname { 
	padding: 0 0.6em 
} 

#CompactReleaseList td.lang { 
	padding: 0 0.6em; 
	text-align: center 
}

/* 'even' rows */
#CompactReleaseList tr.ev { 
	background-color: #eee; color: #000; 
} 

#CompactReleaseList th h2 { 
	margin: 1em 0 0.5em 
}

#CompactReleaseList th a,
#CompactReleaseList th a:link,
#CompactReleaseList th a:visited { 
	color: #000;
}

p.editnote { 
    margin: 0px; 
    padding: 0px; 
    padding-bottom: 15px; 
}

/* Mod Pending */
.mp { background-color: #ffc; color: #000}

/* Tag Lookup */
#TagLookupTrackResults td.tlen.good { 
	background-color: inherit; color: green; 
	font-weight: bold 
}

#TagLookupTrackResults td.tlen.ok { 
	background-color: inherit; color: blue; 
}

#TagLookupTrackResults td.tlen.bad { 
	background-color: inherit; color: red; 
}

/* Reports */
#Report tr.shade { 
	background-color: #eee; color: #000; 
}

#Report td.head { 
	background-color: #eee; color: #000; 
	padding-top: 2px; padding-bottom: 2px; 
}

#Report td.link { 
	text-align: center; 
	white-space: nowrap; 
}

/* topmods.html */
table.topmods { 
	border-collapse: collapse 
}
table.topmods tr.header td { 
	font-weight: bold;
}

table.topmods tr td, table.topmods tr th { 
	padding: 0.2em; 
	border: 1px solid #999;
}

table.topmods tr td.topmodsname { 
	text-align: left; 
	width: 12em;
}

table.topmods tr td.topmodsnum { 
	text-align: right;
	width: 7em;
}

table.topmods tr.topmodseven, table.topmods th.topmodseven, table.topmods td.topmodseven { 
	background-color: #eee; color: #000; 
}

table.topmods th.subheader { 
	background-color: #ccc; color: #000; 
}

a.superscript,
span.superscript {
	vertical-align: super;
	font-weight: normal;
	font-size: 8px;
}

table.topmods tr.topmodsnone { 
	text-align: center 
}


/* Music news and dashboard */
table.datatable { 
	border-collapse: collapse;
	width: 100%
}
table.datatable tr.header td { 
	font-weight: bold;
}

table.datatable tr td, table.datatable tr th { 
	padding: 0.2em .5em 0.2em .5em; 
	border: 1px solid #999;
}

table.datatable tr.datatableodd, table.datatable th.datatableodd, table.datatable td.datatableodd { 
	background-color: #eee; color: #000; 
}

table.datatable tr.datatablefooter { 
	text-align: center;
}


/* /search/textsearch.html */
table.searchresults { 
	border-collapse: collapse; 
	width: 100% 
}

table.searchresults td { 
	padding: 3px 20px 3px 3px;
}

table.searchresults tr.searchresultsheader td { 
	font-weight: bold; 
}

table.searchresults tr.searchresultseven { 
	background-color: #ffe1b7; color: #000; 
}

table.searchresults tr.searchresultsnone { 
	text-align: center 
}

table.searchresults td.tracks,
table.searchresults td.discid,
table.searchresults td.puid,
table.searchresults td.released { 
	padding-right: 12px; white-space: nowrap;
	text-align: right;
	font-size: 11px;
}

table.searchresults td.num,
table.searchresults td.length {
	text-align: right;
}


/* Annotations */
table.annotation {
	background-color: #f0efff; color: #000;
	border: 1px solid #000;
	border-collapse: collapse;
	width: 100%;
}

table.annotation td {
	padding: 2px 4px;
}

table.annotation tr.header td {
	padding: 2px; 
	background-color: #f0efff; color: #000;
}

table.annotation tr.header>td {
	border-bottom: 1px solid #000;
}

table.annotation tr.log {
	background-color: #f0efff; color: #000;
}

table.annotation tr.log td {
	border-bottom: 1px solid #000; 
	font-size: 12px;
	padding: 3px;
}

table.annotation tr.info {
	background-color: #f0efff; color: #000;
}

table.annotation tr.info td {
	text-align: left; 
	font-size: 12px;
	padding: 3px;
}

table.annotation tr.info td.links {
	text-align: right;
	font-size: 12px;
}

table.annotation tr.text {
	background-color: #fff; color: #000;
}

table.annotation tr.text td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 4px;
}

table.annotation p {
	margin: 0px 0px 10px 0px;
}

.boxcontent table.annotation { 
	margin: 20px 0px 0px 20px; 
	width: 90%;
}

table.annotation ul {
	margin: 0px 0px 0px 20px; 
	padding: 0px 0px 5px 0px;
}

/* Related Artists & Tags */
.TagsBox {
	background-color: #F0F6FF; color: #000;
	border: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.2em;
}
.RelatedArtists {
    width: 49%;
    float: right;
}
.ArtistTags {
    width: 49%;
}
a.MyTag {
    color: #e858ce;
	font-style: italic;

}
a.MyTag:hover {
    color: #c838ae;
	font-style: italic;
}

/* Box with a title (e.g. login) */

.TitledBox {
	border: 1px solid black;
}

.TitledBoxTitle {
	border-bottom: 1px solid black;
	padding: 0.2em 0.5em;
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #ffba58; color: #997035;
	text-decoration: none;
}

form.Subs {
	text-align: center;
}

table.Subs {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 40em;
}

table.Subs caption {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	font-weight: bold;
}

table.Subs td {
	text-align: center;
}

table.Subs td.a {
	padding-left: 0.5em;
	text-align: left;
}

table.Subs .c1 {
	width: 2em;
}

table.Subs .c3 {
	width: 6em;
}

table.Subs tr.r1 td {
	background-color: #ffe1b7; color: #000;
}

.red {
	background-color: inherit; color: red;
}

/* Links to wikidocs or wiki pages */
.wikidocs {
}

.wikidocs div.official {
}

/* WIKIDOCS: unoffical (copied) pages could be visually distinct */
.wikidocs div.unofficial {
}

/* WIKIDOCS: offical (wikidocs) pages have bold links */
.wikidocs a,
.wikidocs a.official {
	font-weight: bold;
}

.wikidocs a.unofficial {
	font-weight: normal;
}

/* header section (used for unofficial pages) */
.wikidocs div.header {
	border-bottom: 2px dotted #ccc;
	text-align: left;
	padding-bottom: 5px;
	font-size: 11px;
}

/* footer section */
.wikidocs div.footer {
	border-top: 2px dotted #ccc;
	margin-top: 5px;
	padding-top: 5px;
	font-size: 11px;
}

.wikidocs div.footer * {
	font-weight: bold;
}

/* global <p> tag removes the margin from paragraphs, re-add it for wiki pages */
.wikidocs p {
	margin-left: 0px;
	margin-bottom: 12px;
}

/* copied definition from top of the page */
.wikidocs h1 {
}

/* copied definition from top of the page, adjusted margin */
.wikidocs h2 {
	color: #000;
	background: #fff url(/images/header-bg-orangefade.gif) repeat-y left;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* copied definition from top of the page, adjusted margin */
.wikidocs h3 {
	margin-top: 20px;
	margin-bottom: 3px;
}

/* copied definition from top of the page, adjusted margin */
.wikidocs h4 {
	margin-top: 20px;
	margin-bottom: 3px;
}

/* horizontal ruler */
.wikidocs hr {
	color: #000;
	background: #000001;
	height: 1px;
}

/* WIKIDOCS: <code> */
.wikidocs code {
	background-color: #eee; color: #000;
	margin: 1px 2px;
	padding: 0px 2px;
}

/* WIKIDOCS: unordered lists */
.wikidocs ul {
	margin-left: 30px;
}

.wikidocs ul li p {
	margin: 0px;
	padding: 0px;
}

/* WIKIDOCS: ordered lists */
.wikidocs ol {
	margin-left: 30px;
}

.wikidocs ol li p {
	margin: 0px;
	padding: 0px;
}

/* WIKIDOCS: ordered lists */
.wikidocs td {
	padding: 0px 10px 0px 0px;
	margin: 0px;
}

.wikidocs td p {
	margin: 0px;
	padding: 0px;
}

/* copied from wiki css: /-/musicbrainz/css/common.css */
.wikidocs pre {
	border: 1pt solid #AEBDCC;
	background-color: #F3F5F7; color: inherit;
	padding: 5pt;
	font-family: courier, monospace;
}

/* copied from wiki css: /-/musicbrainz/css/common.css */
.wikidocs hr,
.wikidocs .separator {
	background: transparent; color: gray;
}

/* Styles for the nag panel */
.nagpanel {
   background: #DDDDDD;
   border: dashed 1px #333333;
   margin: 1em;
   padding: 1em;
}
.naglinkpanel {
   text-align: center;
   margin-top: 1em;
}
.naglink {
   font-weight: bold;
   font-size: large;
   padding: 1em;
}
.nagchecklink {
   font-size: 8pt;
}

/* Styles for the timeline */
#stats-timeplot-title {
   font-weight: bold;
}
#stats-timeplot-legend a {
   text-decoration: none;
   color: #000000;
}
#stats-timeplot-link-to-this {
   float: right;
}
.lastupdated {
   color: grey; 
   font-size: x-small;
}

/* vi: set ts=4 sw=4 ft=mason : */
