/* styles for common elements and element combinations */
body
{
	background: #fff;
	color: #000;
	margin: 0px; padding: 0px;	
}

/* default font for body, paragraph and td's */
body, p, td	{
	font-style: normal;
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color : #000000; 
	text-decoration : none;
}
form {
	margin: 0px;
}

abbr, acronym, span.abbr {
  cursor: help; color: #534D8B;
}


.bold { font-weight: bold; }


/* XHTML change: globally remove borders from images inside <a> blocks */
a img
{ 
	border: 0;
	vertical-align: baseline;
}

label { cursor: pointer; } /* TODO: that is the default behaviour, isn't it? */

/* default link color */
a,
a:link,
a:visited {
	color: #534D8B;
	text-decoration: none;
}

/* activated, and hovered link color */
a:hover,
a:focus,
a:active
{
	color: #736DAB;
	text-decoration: underline;
}

/* globallby turn off <p> TODO: why use paragraphs then? */
p {
	margin: 0px;
}


div.pagetitle {
	text-align: left;
	margin-top: 0px;
	font-size: 22px;
	font-weight: bold;
}


/* big, chunkish font (page titles only) */
h1
{
	font-size: 21px;
	font-weight: bold;
}

/* black text on orange gradient with orange line at the bottom. */
h2
{
	background: #fff url(/images/header-bg-orangefade.gif) repeat-y left;
	border: 0 solid #ffecac;
	border-width: 0px 0 1px 1px;
	font-size: 100%;
	font-weight: bold;
	padding: 0.1em 0.3em;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* paragraph header */
h3
{
	font-weight: bold;
	font-size: 100%;
	margin-top: 20px;
	margin-bottom: 3px;
}

/* index.html, and news/* pages use this. */
.boxeslist {
	padding-top: 0px; 
}
.newslist {
	width: 250px;
	padding: 0px; padding-right: 5px; padding-left: 30px; 
}
.boxeslist h1,
.newslist h1 {
	margin-bottom: 20px; margin-top: 0px;
	padding: 0px;
	border-width: 0px;
}
.newslist h2 {
	margin-top: 0; margin-bottom: 10px;
	background-color: #736DAB; /* fallback if image is not available */
	background-image: url(/images/header-bg-lightpurplefade.gif);
	background-position: right;
	background-repeat: repeat-y;
	border: 1px solid #736DAB;
}


.notice
{
	border: 3px outset #f0efff;
	margin: 1em;
	font-weight: bold;
	padding: 1em;
	background-color: #f0efff;
	color: #000;
}

.LicenseNotice
{
	border: 3px outset #f0efff;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	padding: 1em;
	background-color: #f0efff;
	color: #000;
}

/*
.error
{
	border: 3px outset red;
	margin: 1em;
	font-weight: bold;
	padding: 1em;
	background-color: #fee;
	color: #000;
}
*/

ul, ol
{
	margin-left: 1em;
	margin-right: 2em;
}

ul.SpacedList li,
ol.SpacedList li
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

kbd
{
	background: #efefff;
	color: #000;
	font-family: monospace;
}

kbd.KbdBlock
{
	margin: 1em 2em;
	padding: 0.5em;
	background: #efefff;
	color: #000;
	font-family: monospace;
	display: block;
}

/* Useful rules */

.CenterChildren *
{
	vertical-align: middle;
}

.SpacedRows td,
.SpacedRows th
{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	empty-cells: show;
}

.SpacedColumns td,
.SpacedColumns th
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	empty-cells: show;
}

.TopAlignCells td,
.TopAlignCells th
{
	vertical-align: top;
}

/* page-specific things */

.StatsTable .SubHeading
{
	padding-top: 0.5em;
	text-align: left;
}

.StatsTable .StatName
{
	text-align: left;
	font-size: 10pt;
	font-weight: normal;
}

.StatsTable .NumberCell
{
	text-align: right;
	font-size: 10pt;
}

.DownloadLink
{
	margin-left: 2em;
}

.DownloadLink *
{
	vertical-align: middle;
}

.DownloadLink img
{
	margin-right: 1em;
}

.DownloadList
{
	list-style-image: url(/images/download.gif);
}

/* /comp/artisttitle */
table.artisttitle
{
	border-collapse: collapse;
	border: 1px solid #000;
	padding: 5px;
	margin-top: 1em;
	margin-bottom: 1em;	
	background-color: #f0efff;
	width: 100%;
}
table.artisttitle td.icon
{
	padding: 3px 8px 0px 4px;
	width: 32px;
}
table.artisttitle td.title 
{
	width: 100%;
}
table.artisttitle td.title a
{
	font-size: 20pt;
	font-weight: normal;
	color: #000 !important;
}
table.artisttitle td.info
{
	padding-bottom: 4px;
}
table.artisttitle td.links
{
	padding: 2px 4px;
}
table.artisttitle td.mods
{
	padding: 2px 4px;
	background-color: #ffecd6;
	border-top: 1px solid #000;
}

/* ------------------------------------------------------------------------- 
 * /comp/albumbegin
 * The release header table.
 * ---------------------------------------------------------------------- */
table.releasebegin
{
	border-collapse: collapse;
	border: 1px solid #000;
	padding: 2px;
	background-color: #fff;
	width: 100%;
}
table.releasebegin td.title 
{
	background-color: #FFBA58; 
	width: 100%; 
	padding-left: 4px;
}
table.releasebegin td.title a
{
	font-weight: bold;
}
table.releasebegin td.icon
{
	background-color: #FFBA58;
	width: 10px;
	padding-left: 4px;
}
table.releasebegin td.tagger
{
	background-color: #FFBA58;
	width: 10px;
}
table.releasebegin td.batchop
{
	background-color: #FFBA58;
	width: 10px;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
}
table.releasebegin td.info
{
	padding-bottom: 4px;
}
table.releasebegin td.links
{
	padding: 2px 4px;
}
table.releasebegin td.mods
{
	padding: 2px 4px;
	background-color: #ffecd6;
	border-top: 1px solid #000;
}

/* ------------------------------------------------------------------------- 
 * The release header with the edit links,
 * and the amazon coverart, if available 
 * ---------------------------------------------------------------------- */
table.releaselinks
{
	border-collapse: collapse;
	border: 1px solid #000;
	border-top: none;
	background-color: #fff;
	width: 100%;
}
table.releaselinks td
{
	padding: 3px;
}

table.releaselinks a.asin
{
	float: right;
}
table.releaselinks img.asin 
{
	height: 130px;
	width: 130px;
	border: 1px solid #000;
}

/* ------------------------------------------------------------------------- 
 * Release Tracks table
 * the list of 1..n track rows
 * ---------------------------------------------------------------------- */
table.releasetracks
{
	border: 1px solid #000;
	border-top: none;
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
}

/* general formatting: add some horizontal
   padding, to lighten things up, and add
   border on the bottom. */
table.releasetracks td
{
	padding: 2px 4px;
	border-bottom: 1px solid #000;
	vertical-align: top;
}

/* track number. align center, and add sufficent
   padding left+right that it is readable. */
table.releasetracks td.no
{
	width: 1%; text-align: center;
	border-right: 1px solid #ddd;
	padding-left: 15px; padding-right: 15px;
}

/* track title, if given no width it spans as much
   of the 100% table as it can get. */
table.releasetracks td.title
{
	width: 90%;
	padding-right: 15px;
	border-right: 1px solid #ddd;
}

/* various artists (or multipletrackartists) album, 
   render track titles and track artists */
table.releasetracks td.title.va
{
	width: 45%;
}
table.releasetracks td.artist
{
	width: 45%;
	border-right: 1px solid #ddd;
	padding-right: 15px;	
}

/* if not logged in, this is the rightmost TD; no border */
table.releasetracks td.length
{
	width: 75px; text-align: right;
	padding-left: 15px;  
}

/* if logged in, add left border to length TD */
table.releasetracks td.links
{
	width: 1%; white-space: nowrap;
	text-align: right;
	border-left: 1px solid #ddd; 
	padding-left: 7px; padding-right: 7px;
}

/* Highlighting: purple background,
   render links in bold (but not the edit links) */
table.releasetracks tr.highlight { background-color: #ffeaff; }
table.releasetracks tr.highlight td a { font-weight: bold; }
table.releasetracks tr.highlight td.links a { font-weight: normal; }


/* ------------------------------------------------------------------------- 
 * Release DiscIDs rows
 * ---------------------------------------------------------------------- */
table.releasetracks tr.discid {}
table.releasetracks tr.discid td
{
	background-color: #ffecd6;
	padding: 2px 4px;
	border-bottom: 1px solid #000;
}

/* the discid toc, and link to the toc page */
table.releasetracks tr.discid td.toc
{
	width: 99%;
	border-right: 1px solid #000; 
}

/* if logged in, add left border to length TD */
table.releasetracks tr.discid td.links
{
	border-left: 1px solid #000; 
}

/* ------------------------------------------------------------------------- 
 * Release summary table:
 * This summary with statistics (tracks/discids/puids/trmids), release
 * langauge and attributes is nested in the releasetracks table, because 
 * the discID section which comes after this row needs to align with 
 * the columns of the tracks.
 * ---------------------------------------------------------------------- */
table.releasetracks tr.summary td {
	padding: 2px;
	background-color: #f0efff;
}
table.releasesummary
{
	border-collapse: collapse; border: none;
	width: 100%;
}
table.releasesummary td
{
	padding: 1px 3px;
	border: none;
}
table.releasesummary img
{
	width: 13px; height: 13px;
	vertical-align: bottom;
	margin-bottom: 2px; border: none;
}
table.releasesummary span { padding-right: 15px }
table.releasesummary span.tracks { padding-left: 1px }
table.releasesummary span.puid img { width: 33px; height: 13px; }
table.releasesummary span.trmid img { width: 30px; height: 11px; }

table.releasesummary td.statistics
{
	width: 90%;
}
table.releasesummary td.language
{
	width: 5%; white-space: nowrap;
}
table.releasesummary td.language span { padding: 0px; }
table.releasesummary td.attributes span { padding: 0px; }
{
	width: 5%; white-space: nowrap;
}

/* ------------------------------------------------------------------------- 
 * Release Events table
 * ---------------------------------------------------------------------- */
table.releaseevents
{
	border: 1px solid #000;
	border-top: none;
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
}
table.releaseevents td
{
	padding: 2px 4px;
	border-bottom: 1px solid #000;
}
table.releaseevents td.eventslist 
{ 
	width: 90%; 
}
table.releaseevents td.links 
{ 
	width: 10%; 
	border: none; 
	text-align: right; white-space: nowrap; 
}
table.releaseevents table.eventslist 
{ 
	border: none; 
	border-collapse: collapse; 
}
table.releaseevents table.eventslist td 
{ 
	border: none; 
	padding: 0px; padding-right: 6px; 
}

table.relationships {}

table.relationships td 
{ 
	border: none; 
	padding: 0px; 
	padding-left: 20px;
	font-size: 11px;
}




/* /comp/album* */
.AlbumTitle
{
	padding: 5px;
	background-color: #f0efff;
	border-width: 1px;
	border-style: solid;
}

.AlbumInfo
{
	margin-right: 140px;
	background-color: #dddddd;
}

.AlbumTitleLinks
{
	margin-left: 3em;
	text-indent: -3em;
}

.AlbumTitleMod
{
	padding: 5px;
	background-color: #ffecd6;
	border-width: 0 1px 1px 1px;
	border-style: solid;
}

.AlbumTitleRelationships
{
   padding: 5px;
   background-color: #efe8e2;
	border-width: 0 1px 1px 1px;
   border-style: solid;
}

.AlbumTitleAmazon
{
	padding: 5px;
	background-color: #eeeecc;
	border-width: 0 1px 1px 1px;
	border-style: solid;
}

/* /comp/albumtype */

h2.AlbumType
{
	background: #736dab;
	background-image: none;
	color: #fff;
	border: 1px solid black;
	font-weight: bold;
	margin: 1em 0;
	padding: 2px 4px;
}

/* [ A | list | of | links ] */

.LinksRow
{
	text-align: center;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

/* /comp/ar/relationship_box */

.RelationshipBox
{
   padding: 5px;
   background-color: #efe8e2;
	border-width: 1px;
   border-style: solid;
	margin-bottom: .5em;
}

/* Search Results */
#SearchResults td,
#SearchResults th
{
	padding-left: 0.8em;
	padding-right: 0.8em;
}

/* Album meta, whereever it is shown */
td.trk, td.did, td.trm { font-size: 11px; }
td.trk, td.did, td.trm, td.rdate { padding: 0.3em 0.6em; text-align: right; }
td.trk *, td.did *, td.trm *, td.rdate * { vertical-align: middle }

/* "Compact" showartist page */

#CompactReleaseList td.rst { padding: 0 1em; text-align: center } /* release status */
#CompactReleaseList td.rtag { padding: 0 0.6em; text-align: center } /* tag box */
#CompactReleaseList td.rdate { padding: 0 0.6em; text-align: center } /* date */
#CompactReleaseList td.rname { padding: 0 0.6em } /* release name */
#CompactReleaseList td.lang { padding: 0 0.6em; text-align: center }

#CompactReleaseList tr.ev { background-color: #eee } /* 'even' rows */

#CompactReleaseList th h2 { margin: 1em 0 0.5em }

/* Mod Pending */
.mp { background: #ffc }

/* Tag Lookup */

#TagLookupTrackResults td.tlen.good { color: green; font-weight: bold }
#TagLookupTrackResults td.tlen.ok { color: blue }
#TagLookupTrackResults td.tlen.bad { color: red }

/* Mod Detail */

.SupersededVote { background: #ccc }

/* Reports */

#Report tr.shade { background-color: #eee; }
#Report td.head { background-color: #eee; font-weight: bold;
		padding-top: 0.5em; padding-bottom: 0.5em; }
#Report td.link { text-align: center; white-space: nowrap; }

/* topmods.html */
table.topmods { border-collapse: collapse }
table.topmods td { padding: 0.2em; border: 1px solid #999 }
.topmodsname { text-align: left }
.topmodsnum { text-align: right }
.topmodseven { background-color: #eee }
.topmodsnone { text-align: center }

/* /search/textsearch.html */
table.searchresults { border-collapse: collapse; width: 100% }
table.searchresults td { padding: 0.2em;  }
tr.searchresultsheader td { font-weight: bold; }
.searchresultseven { background-color: #ffe1b7 }
.searchresultsnone { text-align: center }


/* style.html */
ol.StyleGuideList li { margin: 1em 0 }
ol.StyleGuideList li .StyleExample { font-weight: bold }
ol.StyleGuideList li li { list-style-type: none }

ol.StyleGuideList li ul { padding-left: 1em }
ol.StyleGuideList li blockquote { margin-left: 2em }

table.cdtocinfo td { text-align: right; padding: 0 1em }
table.cdtocinfo tr.ev { background-color: #eee } /* 'even' rows */

td.discidlength { background-color: #ffecd6; text-align: right }

/* Annotations */

.Annotation
{
	background: #f0efff;
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

.Annotation td
{
	padding: 0.2em 0.5em;
}

.AnnotationText p {
        margin-bottom: 1em;
}


.AnnotationText td
{
	background: #fff;
}

.AnnotationInfo
{
	background: #f0efff;
	text-align: right;
}

.AnnotationInfoText
{
	float: left;
}

.AnnotationInfoLinks
{
}

.AnnotationLog
{
	background-color: #ffecd6;
}

/* Related Artists */

.RelatedArtists
{
	background: #f0efff;
	border: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.2em;
	position: relative;
}

/* Box with a title (e.g. login) */

.TitledBox
{
	border: 1px solid black;
}

.TitledBoxTitle
{
	background: #FFBA58;
	border-bottom: 1px solid black;
	padding: 0.2em 0.5em;
	text-align: left;
	font: bold 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #997035;
	text-decoration: none;
}

/* List of Moderations */
.ShowModInfo, .ShowModType, .ShowModVoteHead
{
	background: white;	
	vertical-align: top;
	white-space: nowrap;
}

.ShowModVoteHead
{
	text-align: center;
	vertical-align: middle;
}
.ShowModOld
{
	background: #ffecd6;
	vertical-align: top;
}
.ShowModNew
{
	background: #f0efff;
	width: 50%;
	vertical-align: top;
}
.ShowModVote
{
	background: white;
	text-align: center;
	vertical-align: top;
}
/* Voting buttons */

table.votechoice
{
	border: 0px;
	width: 100%;
	border-collapse: collapse;
	padding: 0px;
}

table.votechoice3 td
{
	width: 33%;
	text-align: center;
}

table.votechoice4 td
{
	width: 25%;
	text-align: center;
}

table.votechoice label
{
	text-align: center;
	display: block;
	padding: 3px;
	border: 1px solid #fff;
}

table.votechoice label:hover
{
	border: thin dotted #999;
}

#RelatedModsBox
{
	margin: 1em 0;
	width: 100%;
}

form.Subs {
  text-align: center;
}

table.Subs 
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 40em;
}

table.Subs caption {
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	font-weight: bold;
}

table.Subs td
{
	text-align: center;
}

table.Subs td.a
{
	padding-left: 0.5em;
	text-align: left;
}

table.Subs .c1
{
	width: 2em;
}

table.Subs .c3
{
	width: 6em;
}

table.Subs tr.r1 td {
	background-color: #ffe1b7;

}

.red {
  color: red;
}







/* Links to wikidocs or wiki pages */
.wikidocs {
}

.wikidocs div.official {
}

/* WIKIDOCS: unoffical (copied) pages are visually distinct */
.wikidocs div.unofficial {
	border: 2px dotted #ccc;
	padding: 10px;
	/* background-image: url(/images/wikidocs/draft.png); */
}

/* WIKIDOCS: offical (wikidocs) pages have bold links */
.wikidocs a.official {
	font-weight: bold;
}
.wikidocs a.unofficial {
}

/* header section (used for unofficial pages) */
.wikidocs div.header {
	text-align: left;
	padding-bottom: 15px;
	font-size: 11px;
}

/* header section (used for official pages) */
.wikidocs div.footer {
	border-top: 2px dotted #ccc;
	margin-top: 5px;
	padding-top: 5px;
	font-size: 11px;
}
.wikidocs div.footer * {
	font-weight: bold;
}

/* global <p> tag removes the margin from paragraphs, re-add it for wiki pages */
.wikidocs p {
	margin-left: 0px;
	margin-bottom: 12px;
}
/* copied definition from top of the page */
.wikidocs h1 {
}
/* copied definition from top of the page, adjusted margin */
.wikidocs h2 {
	background: #fff url(/images/header-bg-orangefade.gif) repeat-y left;
	margin-top: 20px;
	margin-bottom: 10px;
}
/* copied definition from top of the page, adjusted margin */
.wikidocs h3 {
	margin-top: 20px;
	margin-bottom: 3px;
}
/* copied definition from top of the page, adjusted margin */
.wikidocs h4 {
	margin-top: 20px;
	margin-bottom: 3px;
}

/* horizontal ruler */
.wikidocs hr {
	color: #000;
	background: #000;
	height: 1px;
}

/* WIKIDOCS: unordered lists */
.wikidocs ul {
	margin-left: 30px;
}
.wikidocs ul li p {
	margin: 0px;
	padding: 0px;
}

/* WIKIDOCS: ordered lists */
.wikidocs ol {
	margin-left: 30px;
}
.wikidocs ol li p {
	margin: 0px;
	padding: 0px;
}

/* WIKIDOCS: ordered lists */
.wikidocs td {
	padding: 0px; padding-right: 10px;
	margin: 0px;
}

.wikidocs td p {
	margin: 0px;
	padding: 0px;
}


/* eof */
