/* styles for common elements and element combinations */

body
{
	margin: 0;
	background: #fff;
	color: #000;
}

/* This is equivalent to /comp/title, i.e. class "title" in brainz.css */
h1
{
	font-size: 120%;
	font-weight: bold;
	text-align: center;
}

/* This is equivalent to /comp/section */
h2
{
	background-color: #ffba58;
	border: 1px solid black;
	font-size: 100%;
	font-weight: bold;
	padding: 0.1em 0.3em;
}

/* page-specific things */

.StatsTable .SubHeading
{
	padding-top: 0.5em;
	text-align: left;
}

.StatsTable .StatName
{
	text-align: left;
	font-size: 10pt;
	font-weight: normal;
}

.StatsTable .NumberCell
{
	text-align: right;
	font-size: 10pt;
}

/* eof */
