
.section { 
	font: Normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000; text-decoration : none; font-weight: 600;
}
.section a {
	color: #000000; font-size: 11px;
}
td.borderbottom {
	border-bottom: 1px solid #999;
}
td.modpending {
	width: 1%; white-space: nowrap;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	background: #FFFFCC; padding: 0px; 
	font-size: 11px; text-align: right;
}


/* ********************************************** */
/* ********************************************** */
/* ********************************************** */
.sidemenu-box {
	width: 140px; height: 19px;
	background: #DDDDDD url(/images/layout/sidemenu_box.gif);
}
.sidemenu-box div.title {
	padding-top: 2px; padding-left: 6px;
	font-size: 11px;
}
.sidemenu-box a,
.sidemenu-box a:active,
.sidemenu-box a:visited {
	color: #000;
}
.sidemenu-box a:hover {
	color: #000;
	text-decoration: underline;
}


/* ********************************************** */
/* ********************************************** */
/* ********************************************** */
.sidemenu {
	width: 130px;
	background: #ddd;
	border-right: 1px solid #000; 
	border-bottom: 1px solid #000; 
	padding: 0px; padding-left: 0px; padding-top: 2px; padding-bottom: 6px;
}
.sidemenu a,
.sidemenu a:visited {
	display: block;
	padding-left: 6px;
	font-weight: normal;
	border: 0px;
	color: #555;
}
.sidemenu a:hover,
.sidemenu a:active,
.sidemenu a:focus {
	text-decoration: underline;
	border: 0px;
	color: #000;
}
.sidemenu form, .sidemenu input {
	margin: 0px; font-size: 11px;
}



/* ********************************************** */
/* ********************************************** */
/* ********************************************** */
.sidemenusearch {
	width: 115px; margin-left: 5px; border-collapse: collapse;
}
.sidemenusearch th {
	margin: 0px;
	text-decoration: none;
	font-weight: normal;
	text-align: left;
	font-size: 10pt;
	width: 1em;
}
.sidemenusearch input.checkbox {
	margin: -2px;
}
.sidemenusearch input.searchfield {
	color: #000;
	background-color: #eee;
	border: 1px inset;
	width: 75px;
	font-size: 12px;
	padding: 1pt;
}

.morelink a,
.morelink a:visited,
.morelink a:active
{
	font-size: 10px; color: #000; 
	text-align: right; padding-right: 2px;
	white-space: nowrap;
}
.morelink a:hover {
	text-decoration: underline;
}


/* ********************************************** */
/* ********************************************** */
/* ********************************************** */
.sidemenustats {
	width: 100%; border-collapse: collapse;
}
.sidemenustats .name {
	width: 50%; 
	font-size: 8pt; color: #000; text-align: right; font-weight: bold; 
	padding-right: 2px;
}
.sidemenustats .name a,
.sidemenustats .name a:visited {
	color: #000; font-size: 8pt; font-weight: bold;
}
.sidemenustats .name a:hover,
.sidemenustats .name a:active,
.sidemenustats .name a:focus {
	text-decoration: underline;
}
.sidemenustats .count {
	width: 50%; 
	font-size: 7pt; color: #000; text-align: left; 
	padding-left: 2px;
}
.sidemenustats .sponsors {
	width: 100%; text-align: left; padding: 0px;
	padding-right: 2px; padding-top: 10px;
}

.sidemenustats .sponsors img {
	width: 110px; height: 35px; border: none;
}

/* removed diplay: none, default=open */ 
#sidebar-td { 
	width: 140px;
}
#content-td {
	width: 100%;
	background-color: #fff;
	vertical-align: top;
	padding: 15px;
}

/* the cell containing the "show/hide" links */
#sidebar-togglecell {
	width: 130px; height: 15px;
	padding: 0px; margin: 0px;
	background: #dddddd;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: black;
	text-align: left;
}
#sidebar-togglecell a {
	margin-left: 10px; font-size: 11px;
}

/* ********************************************** */
/* ********************************************** */
/* ********************************************** */

td.header_logo_b {
    width: 157px; height: 20px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: url(../images/header_logo_b.gif); 
}
/* using the real image as a background, and a smaller
   spacer image with a height of 17px instead of 
   20px fixes a display issue in gecko/opera. IE 
   displayed this well. */
td.header_logo_b img {
	width: 157px; height: 17px; border: 0px; margin: 0px;
}
td.header_mainmenu {
}

#mainmenu-table {
	width: 100%; background: #fb5;
	border: 0px; 
}
.mainmenu {
	background: #fb5;
}
.mainmenu table {
	height: 21px;
}
/* define font/wrapping behavior mainmenu TDs */
.mainmenu td {
	font-size: 12px; text-align: center;
	background: #fb5; 
	border-right: 1px solid #000; 
	border-bottom: 1px solid #000;
	padding: 0px 6px; 
	cursor: hand;
}
.mainmenu td * {
	font-weight: bold; white-space: nowrap; 
	color: #333;
}

.mainmenu a,
.mainmenu a:visited {
	color: #333;
	text-decoration: none;
}
/* if the mouse leaves the item after it was clicked, show normal state */
.mainmenu a:active { 
	color: #333;
	text-decoration: underline;
}
/* the hovered menu item (given js is enabled) is colored purple, show
   link in active state */
.mainmenu a:hover {
	color: #fff;
	text-decoration: underline;
}

/* selected item does not have a white underline, unless mouse hovers */
.mainmenu td.selected a,
.mainmenu td.selected a:active,
.mainmenu td.selected a:visited {
	color: #fff;
	text-decoration: none;
}

.mainmenu td.selected {
	border-bottom: 0px solid #fb5;
}

/* the empty cell on the right of the mainmenu */
.mainmenu td.mainmenuright {
	width: 100%;
	border-right: 0px;
}

/* the cell above the side-menu-toggler */
.NavBarCell {
    width: 157px; height: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* configuration for all the different states possible (selected,right,hover) */
.mainmenu td.hover a, 
.mainmenu td.hover a:visited,
.mainmenu td.selected a:hover,
.mainmenu td.selectedhover a,
.mainmenu td.selectedhover a:active,
.mainmenu td.selectedhover a:visited,
.mainmenu td.selectedhover a:hover {
	color: #fff;
	text-decoration: underline;
}

/* the selected/hovered td has a violet background */
.mainmenu td.selected,
.mainmenu td.selectedhover,
.mainmenu td.hover {
   background: #77a;
}

/* ********************************************** */
/* ********************************************** */
/* ********************************************** */
.submenu {
	position: absolute;
	top: 87px; left: 142px;
	display: none; padding-right: 2px;
	border: 1px solid black;
	background: #f0efff; /* darker purple: #E0DDF8; fuchs: #FFEED4 */
	z-index: 1001;
	display: none;
}
.submenu a,
.submenu a:visited,
.submenu a:active,
.submenu a:hover,
.submenu a:focus,
.submenu a.bottom {
	float: left; display: block; text-align: left;  width: 150px;
	padding: 3px; padding-left: 7px; padding-right: 7px; 
	white-space: nowrap; color: #333; 
	font-size: 11px; font-weight: bold;
	border-bottom: 1px dotted #bbb;
}
.submenu a:hover,
.submenu a:active,
.submenu a:focus {
	text-decoration: underline;
}
.submenu a.bottom {
	border-bottom: none;
}

/* ********************************************** */
/* ********************************************** */
/* ********************************************** */
.submenustatic {
	font-size: 11px;
	padding: 0px 6px 1px 6px;
	border: 1px solid #000;
	background: #f0efff; /* darker purple: #E0DDF8; fuchs: #FFEED4 */
	border-width: 0px 1px 1px 1px;
}
.submenustatic a,
.submenustatic a:visited {
	color: #000;
}
.submenustatic a:hover,
.submenustatic a:active,
.submenustatic a:focus {
	text-decoration: underline;
}

.submenu-leftspace {
	width: 26px;
	padding: 0px;
	margin: 0px;
}

/* ********************************************** */
/* ********************************************** */
/* ********************************************** */
.boxeslist {
	padding-top: 0px; 
}
.newslist {
	width: 250px;
	padding: 0px; padding-right: 5px; padding-left: 30px; 
}
.boxeslist h1,
.newslist h1 {
	margin-bottom: 20px; margin-top: 0px;
	border: none;
}
.newslist h2 {
	margin-top: 0; margin-bottom: 10px;
	background: #fff url(/images/header-bg-lightpurplefade.gif) repeat-y right;
	border: 1px solid #736DAB;
}
.orangeheader {	    
	border: 1px solid #fb5;
	background: #fb5 url(/images/header-bg-orangefade.gif) repeat-y left;
	margin: 0px; padding: 0px;
	font-weight: bold;
}
.blueheader,
.blueheaderwide {
	border: 1px solid #736DAB;
	background: #736DAB url(/images/header-bg-lightpurplefade.gif) repeat-y right;
	margin: 0px; padding: 0px;
	font-weight: bold;
}
.blueheaderwide {
	background: #fff url(/images/header-bg-lightpurplefade.gif) repeat-y left;
}
.orangeheader .inner,
.blueheader .inner,
.blueheaderwide .inner {
	margin: 0 0 0 0.5em; padding: 2px;
}
.boxcontent {
	border: 1px solid #ddd;
	border-width: 0px 1px 1px 1px;
	margin: 0px; padding: 0px;
	margin-bottom: 20px;
}
.boxcontent .inner {
	margin: 0px; padding: 8px;
}
.boxcontent .inner ul {
	margin-top: 10px; margin-bottom: 0px; margin-left: 20px; padding: 0px;
}
.boxcontent .inner li {
	margin: 0px; padding-bottom: 10px;
}
.boxcontent .inner p {
	margin: 0px; padding: 0px; padding-bottom: 15px;
}
.boxcontent .inner p.important {
	color: #fc0; padding-bottom: 6px;
}
.boxcontent .inner p.important a {
	font-weight: bold; 
}
.boxcontent .inner ul,
.boxcontent .inner ol {
	margin: 0px;
	margin-top: 10px; margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 35px;
}
.boxcontent .inner li {
	margin: 0px; padding: 0px;
}

.boxcontent .inner hr {
	width: 275px; height: 1px;
	color: #000; background-color: #000;
	border: none; 
}

.newsarticle {
	margin-bottom: 10px;
}
.datetime {
	text-align: right; font-size: 11px; color: #999;
}
.readmore {
	text-align: right; font-size: 11px; 
}

.NewsLink,
.PressReleaseLink,
.WhitePaperLink {
	display: block;
	text-align: right;
}

