
/* the page header area with logos, and mainmenu bar */
#pageheader { display: none }

/* the toggle cell, and static submenu area */
#submenu-table { display: none }

/* the sidebar, search, login, sponsers etc. boxes */
#sidebar-td { display: none }

#FooterBar { display: none }
#CreditsBar { display: none }


h2
{
	background: none;
	border: none;
	border-bottom: 1px solid black;
}

