.LogoBarCell { display: none }
.NavBarCell { display: none }
#FooterBar { display: none }
#CreditsBar { display: none }
#HeaderGroup { display: none }

h2
{
	background: none;
	border: none;
	border-bottom: 1px solid black;
}

#mainmenu-table { display: none }
#submenu-table { display: none }
#sidebar-td { display: none }
