<ol class="wizard_breadcrumbs">
    [%- found_current = 0 -%]
    [%- FOR step=wizard.steps -%]
        [%- IF step == wizard.current_step -%]
            [%- found_current = 1 -%]
            <li class="current">
        [%- ELSIF found_current -%]
            <li class="incomplete">
        [%- ELSE -%]
            <li class="complete">
        [%- END -%]
        [%- step.name -%]</li>
    [%- END -%]
</ol>

