[% WRAPPER "search/error/wrapper.tt" %]
    <p>
        [% l("Sorry, but your query (<code>{query}</code>) could not be performed, because it appears you've made too many requests and have been rate-limited.", {query => html_escape(form.value('query').query)}) %]
    </p>
[% END %]
