[% WRAPPER "layout.tt" title=l("Search") %]
    [% WRAPPER "components/box.tt" header=l("Error") %]
        [% content %]
        <p>
            [% l('For assistance in writing effective search queries, try reading the {syntax|text search syntax} documentation.', {syntax => doc_link('TextSearchSyntax')} %]
        </p>
    [% END %]
    [% INCLUDE "search/form.tt" %]
[% END %]
