[% WRAPPER "layout.tt" title="Search" %]
[% WRAPPER "components/box.tt" header="Error" %]

[% content %]

<p>
    For help on writing effective search queries, try reading the 
    [%- doc_link('TextSearchSyntax', 'text search syntax') -%] documentation.
</p>

[% END %]

[% INCLUDE "search/form.tt" %]

[% END %]
