[%- WRAPPER 'layout.tt' title=l('Amazon URLs Linked to Multiple Releases') full_width=1 -%]

<h1>[% l('Amazon URLs Linked to Multiple Releases') %]</h1>

<ul>
    <li>[% l('This report shows Amazon URLs which are linked to multiple releases.') %]</li>
    <li>[% l('Total releases found: {count}', { count => pager.total_entries }) %]</li>
    <li>[% l('Generated on {date}', { date => UserDate.format(generated) }) %]</li>
</ul>

[%- INCLUDE 'report/release_url_list.tt' -%]

[%- END -%]
