[%- WRAPPER 'components/with-pager.tt' -%]
<table class="tbl">
    <thead>
        <tr>
            <th>[% l('Label') %]</th>
        </tr>
    </thead>
    <tbody>
        [%- lastgid = 0 -%]
        [%- FOR item IN items -%]
            <tr[% ' class="ev"' IF loop.count % 2 == 0 %]>
                <td>[% link_entity(item.label) %]</td>
            </tr>
        [%- END -%]
    </tbody>
</table>
[%- END -%]
