[%- WRAPPER 'layout.tt' title=l('Error') full_width=1 -%]
    <div id="content">
        <h1>[% l('Error') %]</h1>

        <p>
            [% l("We are sorry, but data for this report is not available right now.") %]
        </p>
    </div>
[%- END -%]