[% WRAPPER "layout.tt" title=l("Edit Relationship Attribute") full_width=1 %]
    <div id="content">
        <h1>[% l("Edit Relationship Attribute") %]</h1>
        [% INCLUDE "admin/linkattributetype/form.tt" %]
    </div>
[% END %]
