<form action="[% c.uri.path %]" method="post">
    <p>[% l('Please do <strong>not</strong> post any copyrighted texts here! Please note that any content submitted
             to MusicBrainz will be made available to the public under {open|open licenses}.',
             { open => doc_link('MusicBrainz_License') }) %]</p>

    [% USE r = FormRenderer(form) %]
    [% r.textarea('text', { cols => 80, rows => 10 }) %]
    [% form_row_text(r, 'changelog', l('Change log:')) %]
    [% enter_edit() %]
</form>