[%- React.embed(c, 'static/scripts/common/components/Annotation', {
        annotation => React.to_json_object(entity.latest_annotation),
        collapse => 1,
        entity => React.to_json_object(entity),
        numberOfRevisions => number_of_revisions,
    }) -%]
