<table class="details">
  <tr>
    <th rowspan="2">[% l('Relationships:') %]</th>
  </tr>
  <tr>
    <td>
      <ul>
        [% FOR relationship=edit.display_data.relationships %]
        <li>
           [% display_relationship(relationship); %]
        </li>
        [% END %]
      </ul>
    </td>
  </tr>
</table>
