<table class="details">
  <tr>
    <th>[% l('Releases:') %]</th>
    <td>
      <ul>
        [% FOR release=edit.display_data.releases %]
          <li>[% descriptive_link(release) %]</li>
        [% END %]
      </ul>
    </td>
  </tr>
  <tr>
    <th>[% l('CD TOC:') %]</th>
    <td>[% edit.data.full_toc %]</td>
  </tr>
  <tr>
    <th>[% l('Disc ID:') %]</th>
    <td>[% link_cdtoc(edit.display_data.cdtoc) %]</td>
  </tr>
</table>
