<table class="details">
  [% FOR change=edit.display_data.changes %]
  <tr>
    <td>[% l('Releases:') %]</td>
    <td colspan="2">
      <ul>
        [% FOR release=change.releases %]
        <li>[% link_entity(release) %]</li>
        [% END %]
      </ul>
    </td>
  </tr>
  <tr>
    <td>[% l('Quality:') %]</td>
    <td class="old">[% quality_name(change.quality.old) %]</td>
    <td class="new">[% quality_name(change.quality.new) %]</td>
  </tr>
  [% END %]
</table>
