<table>
  <tr>
    <th>[% l('Releases:') %]</th>
    <td>
      <ul>
        [% FOR release=edit.display_data.releases %]
        <li>
          [% l('{release} by {artist}', {
                 release => link_entity(release),
                 artist  => artist_credit(release.artist_credit) }) %]
          </li>
        [% END %]
      </ul>
    </td>
    <tr>
      <th>[% l('Disc ID:') %]</th>
      <td>[% link_cdtoc(edit.display_data.cdtoc) %]</td>
    </tr>
  </tr>
</table>
