<table>
  <tr>
    <th>[% l('Releases:') %]</th>
    <td>
      <ul>
        [% FOR release=edit.display_data.releases %]
        <li>[% descriptive_link(release) %] </li>
        [% END %]
      </ul>
    </td>
  </tr>

  <tr>
    <th>[% l('Track:') %]</th>
    <td>[% link_entity(edit.display_data.recording, 'show',
                          edit.display_data.name) %]</td>
  </tr>
</table>
