{
  "ignore": [
    "node_modules",
    "root/static/lib",
    "root/static/scripts/tests/typeInfo.js"
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "49",
        "edge": "14",
        "firefox": "52",
        "ie": "11",
        "node": "6",
        "safari": "9.0"
      }
    }],
    "@babel/preset-stage-2",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-transform-runtime"
  ]
}
