{
  "ignore": [
    "node_modules",
    "root/static/lib",
    "root/static/scripts/tests/typeInfo.js"
  ],
  "presets": ["es2015", "stage-2"],
  "plugins": [
    "jsx-control-statements",
    "transform-react-jsx",
    "transform-react-constant-elements",
    "transform-react-inline-elements"
  ]
}
