.cpanm/
.dockerignore
.DS_Store
.git/
.github/
.nyc_output/
blib/
cover_db/
cover_html/
Dockerfile
junit_output/
lib/DBDefs.pm
lib/DBDefs.pm.bak
node_modules/
perl_modules/
root/static/build/
root/static/scripts/common/DBDefs-client.js
root/static/scripts/common/DBDefs-client.mjs
root/static/scripts/common/DBDefs.js
root/static/scripts/common/DBDefs.mjs
