.cpanm/
.dockerignore
.DS_Store
blib/
cover_db/
Dockerfile
lib/DBDefs.pm
lib/DBDefs.pm.bak
node_modules/
perl_modules/
root/static/build/
root/static/scripts/common/DBDefs.js
root/static/scripts/common/DBDefs-client.js
