.cpanm/**/*.js
flow-typed/npm/@sentry/*.js
flow-typed/npm/he_*.js
flow-typed/npm/react-dom_*.js
flow-typed/npm/redux_*.js
flow-typed/npm/tape_*.js
perl_modules/**/*.js
root/static/build/**/*.js
root/static/lib/**/*.js
root/static/scripts/common/DBDefs-client.js
root/static/scripts/common/DBDefs-client.mjs
root/static/scripts/common/DBDefs.js
root/static/scripts/common/DBDefs.mjs
root/static/scripts/tests/typeInfo.js
t/selenium.js
