{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-constant-condition": 0,
    "no-unexpected-multiline": 2,

    "block-scoped-var": 1,
    "eqeqeq": 1,
    "no-alert": 0,
    "no-eq-null": 2,
    "no-floating-decimal": 1,
    "radix": 1,
    "wrap-iife": 1,

    "strict": 0,

    "no-use-before-define": [2, "nofunc"],

    "array-bracket-spacing": [2, "never"],
    "brace-style": [2, "1tbs"],
    "camelcase": [1, {"properties": "never"}],
    "consistent-this": [0, "self"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "jsx-quotes": [2, "prefer-double"],
    "keyword-spacing": [2, {"before": true, "after": true}],
    "linebreak-style": [2, "unix"],
    "new-cap": 0,
    "no-lonely-if": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 1,
    "object-curly-spacing": [2, "never"],
    "padded-blocks": [2, "never"],
    "quote-props": [1, "as-needed"],
    "quotes": 0,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "spaced-comment": [1, "always"],

    "react/boolean-prop-naming": 0,
    "react/button-has-type": 2,
    "react/default-props-match-prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/display-name": 0,
    "react/forbid-component-props": 0,
    "react/forbid-dom-props": 0,
    "react/forbid-elements": 0,
    "react/forbid-prop-types": 0,
    "react/forbid-foreign-prop-types": 0,
    "react/no-access-state-in-setstate": 2,
    "react/no-array-index-key": 0,
    "react/no-children-prop": 2,
    "react/no-danger": 0,
    "react/no-danger-with-children": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-find-dom-node": 1,
    "react/no-is-mounted": 1,
    "react/no-multi-comp": [1, {"ignoreStateless": true}],
    "react/no-redundant-should-component-update": 2,
    "react/no-render-return-value": 1,
    "react/no-set-state": 1,
    "react/no-typos": 2,
    "react/no-string-refs": 1,
    "react/no-this-in-sfc": 2,
    "react/no-unescaped-entities": 2,
    "react/no-unknown-property": 2,
    "react/no-unused-prop-types": 0,
    "react/no-unused-state": 2,
    "react/no-will-update-set-state": 2,
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 2,
    "react/require-default-props": 0,
    "react/require-optimization": 0,
    "react/require-render-return": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 1,
    "react/sort-prop-types": 0,
    "react/style-prop-object": 2,
    "react/void-dom-elements-no-children": 2,

    "react/jsx-boolean-value": [1, "never"],
    "react/jsx-closing-bracket-location": [2, "tag-aligned"],
    "react/jsx-closing-tag-location": 2,
    "react/jsx-curly-spacing": [2, {"when": "never"}],
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-filename-extension": [2, {"extensions": [".js"]}],
    "react/jsx-first-prop-new-line": [2, "multiline-multiprop"],
    "react/jsx-handler-names": 1,
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": [2, {"maximum": 1, "when": "multiline"}],
    "react/jsx-no-bind": 1,
    "react/jsx-no-comment-textnodes": 1,
    "react/jsx-no-duplicate-props": [2, {"ignoreCase": true}],
    "react/jsx-no-literals": 1,
    "react/jsx-no-target-blank": 2,
    "react/jsx-no-undef": [2, {"allowGlobals": true}],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-brace-presence": [2, {"props": "never", "children": "ignore"}],
    "react/jsx-pascal-case": 2,
    "react/jsx-sort-default-props": 1,
    "react/jsx-sort-props": 1,
    "react/jsx-tag-spacing": [2, {"beforeClosing": "never"}],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-wrap-multilines": [2, {
      "declaration": "parens-new-line",
      "assignment": "parens-new-line",
      "return": "parens-new-line",
      "arrow": "parens-new-line",
      "condition": "parens-new-line",
      "logical": "parens-new-line",
      "prop": "ignore"
    }]
  },
  "plugins": [
    "react"
  ]
}
