{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "classes": true,
    "destructuring": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "globals": {
    "$": true,
    "document": false,
    "exports": false,
    "Intl": false,
    "localStorage": false,
    "MB": false,
    "module": false,
    "require": false,
    "sessionStorage": false,
    "window": false
  },
  "rules": {
    "comma-dangle": 0,
    "no-constant-condition": 0,
    "no-unexpected-multiline": 2,

    "block-scoped-var": 1,
    "eqeqeq": 1,
    "no-alert": 0,
    "no-eq-null": 2,
    "no-floating-decimal": 1,
    "radix": 1,
    "wrap-iife": 1,

    "strict": 0,

    "no-use-before-define": [2, "nofunc"],

    "array-bracket-spacing": [2, "never"],
    "brace-style": [2, "1tbs"],
    "camelcase": [1, {"properties": "never"}],
    "consistent-this": [0, "self"],
    "indent": [2, 2, {"indentSwitchCase": true}],
    "linebreak-style": [2, "unix"],
    "new-cap": 0,
    "no-lonely-if": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 1,
    "object-curly-spacing": [2, "never"],
    "operator-linebreak": [2, "after"],
    "padded-blocks": [2, "never"],
    "quote-props": [1, "as-needed"],
    "quotes": 0,
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "spaced-comment": [1, "always"],

    "react/jsx-no-undef": 2,
    "react/jsx-quotes": [2, "double"],
    "react/jsx-uses-react": 2,
    "react/no-did-mount-set-state": [2, "allow-in-func"],
    "react/no-did-update-set-state": 2,
    "react/no-unknown-property": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2
  },
  "plugins": [
    "react"
  ]
}
