[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The official musicbrainz-server codebase
[access "refs/*"]
	owner = group user/MusicBrainz (musicbrainz)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/MusicBrainz (musicbrainz)
	label-Verified = -1..+1 group user/MusicBrainz (musicbrainz)
	push = group user/MusicBrainz (musicbrainz)
	read = group user/MusicBrainz (musicbrainz)
	rebase = group user/MusicBrainz (musicbrainz)
	removeReviewer = group user/MusicBrainz (musicbrainz)
	submit = group user/MusicBrainz (musicbrainz)
[access "refs/heads/*"]
	create = group user/MusicBrainz (musicbrainz)
	push = +force group user/MusicBrainz (musicbrainz)
	pushMerge = group user/MusicBrainz (musicbrainz)
	read = group user/MusicBrainz (musicbrainz)
[access "refs/tags/*"]
	push = group user/MusicBrainz (musicbrainz)
	push = +force group user/MusicBrainz (musicbrainz)
