[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The official musicbrainz-server codebase
[access "refs/*"]
	owner = group MusicBrainz
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group MusicBrainz
	label-Verified = -1..+1 group MusicBrainz
	push = group MusicBrainz
	read = group MusicBrainz
	rebase = group MusicBrainz
	removeReviewer = group MusicBrainz
	submit = group MusicBrainz
	exclusiveGroupPermissions = label-Code-Review label-Verified push rebase removeReviewer submit
[access "refs/heads/*"]
	create = group MusicBrainz
	push = group MusicBrainz
	pushMerge = group MusicBrainz
	read = group MusicBrainz
	exclusiveGroupPermissions = create push pushMerge
[access "refs/tags/*"]
	push = group MusicBrainz
	exclusiveGroupPermissions = push
