[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The official musicbrainz-server codebase
[access "refs/*"]
	owner = group MusicBrainz
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group MusicBrainz
	label-Code-Review = -2..+2 group user/MusicBrainz (musicbrainz)
	label-Verified = -1..+1 group MusicBrainz
	label-Verified = -1..+1 group user/MusicBrainz (musicbrainz)
	push = group MusicBrainz
	push = group user/MusicBrainz (musicbrainz)
	read = group MusicBrainz
	read = group user/MusicBrainz (musicbrainz)
	rebase = group MusicBrainz
	rebase = group user/MusicBrainz (musicbrainz)
	removeReviewer = group MusicBrainz
	removeReviewer = group user/MusicBrainz (musicbrainz)
	submit = group MusicBrainz
	submit = group user/MusicBrainz (musicbrainz)
	exclusiveGroupPermissions = label-Code-Review label-Verified push rebase removeReviewer submit
[access "refs/heads/*"]
	create = group MusicBrainz
	create = group user/MusicBrainz (musicbrainz)
	push = group MusicBrainz
	push = +force group user/MusicBrainz (musicbrainz)
	pushMerge = group MusicBrainz
	pushMerge = group user/MusicBrainz (musicbrainz)
	read = group MusicBrainz
	read = group user/MusicBrainz (musicbrainz)
	exclusiveGroupPermissions = create push pushMerge
[access "refs/tags/*"]
	push = group MusicBrainz
	push = +force group user/MusicBrainz (musicbrainz)
	exclusiveGroupPermissions = push
