[% WRAPPER 'layout.tt' title=lp('Add Standalone Recording', 'header') full_width=1 %]
    <div id="content">
        <h1>[%- lp('Add Standalone Recording', 'header') -%]</h1>
        [% INCLUDE 'recording/edit_form.tt' %]
    </div>
[% END %]
