[% WRAPPER 'layout.tt' title=l('Edits for “{name}”', { name => html_escape(recording.name) }) full_width=1 %]
    <div class="recordingheader">
        <h1>[% l('Edits for “{name}”', { name => link_entity(recording) }) %]</h1>
        <p class="subheader">
            <span class="prefix">~</span>
                [% l('Recording by {artist}', {artist = artist_credit(recording.artist_credit)})%]
        </p>
    </div>
    [% INCLUDE 'edit/list.tt' %]
[% END %]
