[%- info_links = [
    ['index', link_artist(artist, 'show', l('Releases'))],
    ['tags', link_artist(artist, 'tags', l('Tags'))],
    ['details', link_artist(artist, 'details', l('Details'))],
] -%]

<h1>“[% link_recording(recording) %]” [% disambiguation(recording) %]</h1>
<p class="subheader">
    <span>~</span>
        [% l('Recording by {artist}', {artist = artist_credit(recording.artist_credit)})%]
</p>

[% INCLUDE 'components/tabs.tt' list=info_links %]
