[%~ WRAPPER "layout.tt" title=title ? place.name _ " - ${title}" : place.name ~%]
    [%- place_json_obj = React.to_json_object(place) -%]
    <div id="content">
        [%~ React.embed(c, 'place/PlaceHeader', { place => place_json_obj, page => page }) ~%]
        [%~ content ~%]
    </div>

    [%~ IF !full_width ~%]
        [%~ React.embed(c, 'layout/components/sidebar/PlaceSidebar', {place => place_json_obj}) ~%]
    [%~ END ~%]
[%~ END ~%]
