[%- WRAPPER 'place/layout.tt' title=l("Relationships") page='relationships' -%]
    <div>
    <h2>[% l("Relationships") %]</h2>
    [%- INCLUDE "components/relationships.tt" source=place -%]
    </div>
[%- END -%]
