<form action="[% c.req.uri %]" method="post">
    [% USE r = FormRenderer(form) %]
    <p>
        [% r.label('name', l('Alias name:')) %]
        [% r.text('name') %]
    </p>
    [% INCLUDE 'forms/edit-note.tt' %]
    [% form_submit(l('Enter edit')) %]
</form>