[% WRAPPER "layout.tt" title="Edit relationship type" full_width=1 %]
    <div id="content">
        <h1>[% 'Edit relationship type' %]</h1>
        [% INCLUDE "relationship/linktype/form.tt" %]
    </div>
[% END %]
