[% WRAPPER "layout.tt" title=l("Lost Password") full_width=1 %]

    <h1>[% l("Email Sent!") %]</h1>

    <p>[% l("We've sent you instructions on how to reset your password. If you don't
receive this email or still have problems logging in, please
{link|contact us}.", { link => contact_url }) %]</p>

[% END %]
