[% WRAPPER "layout.tt" title=l("Lost Username") full_width=1 %]

    <h1>[% l("Lost Username") %]</h1>

    [%- USE r = FormRenderer(form) -%]

    <p>[% l('Enter your email address below and we will send you an email with your
MusicBrainz account information.') %]</p>

    <form action="[% c.req.uri %]" method="post">
        [% form_row_email_long(r, 'email', l('Email:')) %]

        <div class="row no-label">
        [% form_submit(l('Send Email')) %]
        </div>
    </form>

[% END %]
