#!/bin/bash

exec 2>&1

source /etc/consul_template_helpers.sh
source /etc/mbs_constants.sh

wait_for_file "$MBS_ROOT/root/static/scripts/common/DBDefs.js"

exec node $MBS_ROOT/root/server.js
