[%- IF annotation.text -%]
	<div class="annotation">
    	<div class="body">
        	[% annotation.summary_as_html  %]
    	</div>
    	<div class="details">
        	Annotation last modified [% annotation.creation_time %].
    	</div>
	</div>
[%- END -%]
