<div class="piped_list">
    <div class="caption">[% caption %]</div>
    <div class="list">
        <ul>
            [%- FOREACH link IN list -%]
                <li>[% link %]</li>
            [%- END -%]
        </ul>
    </div>
</div>