<div class="piped_list">
    <div class="caption">[% caption %]</div>
    <div class="list">
        <ul>
            [%- FOREACH link IN list -%]
                [%- NEXT IF link.hide %]
                <li><a [% link.id.defined ? 'id="' _ link.id _ '"' : '' %] href="[% link.link %]">[% link.text %]</a></li>
            [%- END -%]
        </ul>
    </div>
</div>