[%- IF wikipedia_extract -%]
<h2 class="wikipedia">[% l('Wikipedia') %]</h2>
    [%- wikipedia_extract.content -%]
    <a href="[% html_escape(wikipedia_extract.url) %]">[% l('Continue reading at Wikipedia...') %]</a>
[%- END -%]
