[%- INCLUDE 'tag/entity-list.tt' page='artist',
    no_entities_text=l('No artists with this tag were found.')
    heading=ln('{num} artist found', '{num} artists found', pager.total_entries, { num => add_commas(pager.total_entries) }) -%]
