[%- INCLUDE 'tag/entity-list.tt' page='label',
    no_entities_text=l('No labels with this tag were found.')
    heading=ln('{num} label found', '{num} labels found', pager.total_entries, { num => add_commas(pager.total_entries) }) -%]
