[%- WRAPPER 'layout.tt'
    title=title
        ? l('Tag “{tag}”', { tag => tag.name }) _ " - ${title}"
        : l('Tag “{tag}”', { tag => tag.name })
    -%]

    <div id="content">
        [%- INCLUDE "tag/header.tt" -%]
        [%- content -%]
    </div>

[%- END -%]
