[%- INCLUDE 'tag/entity-list.tt' page='release', show_artist_credits=1
    no_entities_text=l('No releases with this tag were found.')
    heading=ln('{num} release found', '{num} releases found', entity_tags.size, { num => entity_tags.size }) -%]
