[%- INCLUDE 'tag/entity-list.tt' page='release_group'
    no_entities_text=l('No release groups with this tag were found.')
    heading=ln('{num} release group found', '{num} release groups found', pager.total_entries, { num => add_commas(pager.total_entries) }) -%]
