[%- INCLUDE 'tag/entity-list.tt' page='work'
    no_entities_text=l('No works with this tag were found.')
    heading=ln('{num} work found', '{num} works found', entity_tags.size, { num => entity_tags.size }) -%]
