version: 2.1

branch_filters: &job_filters
  filters:
    branches:
      ignore: translations

executors:
  musicbrainz-tests:
    docker:
      - image: metabrainz/musicbrainz-tests:v-2024-10-30
        user: root
    working_directory: /home/musicbrainz/musicbrainz-server

jobs:
  js-perl-and-pgtap:
    environment:
      TERM: ansi
    executor: musicbrainz-tests
    steps:
      - restore_cache:
          keys:
            - v1-source-{{ .Branch }}-{{ .Revision }}
            - v1-source-{{ .Branch }}-
            - v1-source-
      - checkout
      - run: |
          chown -R musicbrainz:musicbrainz .
          # The checkout step configures git to skip gc, so we run it
          # here to reduce .git's size before saving it to cache.
          sudo -E -H -u musicbrainz git gc
      - save_cache:
          key: v1-source-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"

      - restore_cache:
          keys:
            - v2-node-{{ checksum "yarn.lock" }}
            - v2-node-
      - run: |
          chown -R musicbrainz:musicbrainz .
          corepack enable
          sudo -E -H -u musicbrainz yarn
      - save_cache:
          key: v2-node-{{ checksum "yarn.lock" }}
          paths:
            - "node_modules"

      - run: |
          ./docker/musicbrainz-tests/run_circleci_tests.sh

      - store_test_results:
          path: ./junit_output

workflows:
  version: 2.1
  build-and-test:
    jobs:
      - js-perl-and-pgtap:
        <<: *job_filters
