SHELL=/bin/bash
30 * * * * . /etc/container_environment.sh; $HOME/musicbrainz-server/admin/run admin/cron/hourly-sitemaps.sh
10 0 * * * . /etc/container_environment.sh; $HOME/musicbrainz-server/admin/run admin/cron/daily-sitemaps.sh
