PERL_CARTON_PATH=$HOME/carton-local
0 * * * * cd $HOME/musicbrainz-server && carton exec -- admin/cron/hourly-sitemaps.sh
10 0 * * * cd $HOME/musicbrainz-server && carton exec -- admin/cron/daily-sitemaps.sh
