SHELL=/bin/bash
0 * * * * $HOME/musicbrainz-server/admin/run admin/cron/hourly.sh
10 0 * * * $HOME/musicbrainz-server/admin/run admin/cron/daily.sh
0 0 1 * * $HOME/musicbrainz-server/admin/run admin/cron/monthly.sh
