.footer {

  font-size: 1.25em;
  
  ul {
    line-height: 2;
  }
  
  .color-gray {
    color: gray;
  }

  .color-black {
    color: black;
  }
}

#meb-logo {
  display: inline-block;
  background: data-uri('../../images/meb-icons/MetaBrainz.svg') no-repeat center;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}