/* Extra CSS for the homepage */
.homepage #contnt {
    margin-right: 460px;
}

#triple {
    clear: both;
    margin-top: 20px;
    overflow: auto;
}

#triple .triple-column {
    float: left;
    margin: 0 1%;
    width: 32%;
}

#triple .first-column {
    margin-left: 0;
}

#triple .last-column {
    margin-right: 0;
}

.triple-column img {
    float:left;
    margin: 10px 0 0 2px;
}

.triple-column p {
    margin-left: 70px;
    margin-bottom: 0;
}

.triple-column ul {
    margin-top: 10px;
    margin-left: 60px;
}

.feature-column h2 {
    color: #FFFFFF;
    background-color: #736DAB;
    padding: 5px 0 5px 7px;
    margin: 0;
    border-bottom: 4px solid #FFBA58;
}

.sidebar .triple-column {
    height: 110px;
    margin-bottom: 10px;
}

.sidebar .triple-column img {
    margin: 10px 0 0 10px;
}

.sidebar .triple-column h2 {
    color: #000000;
    background-color: #FFBA58;
    border-bottom: 4px solid #736DAB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.sidebar #blog-feed {
    float: right;
    width: 209px;
    height: auto;
}

.sidebar #information {
    float: right;
    height: auto;
}

.homepage .linkbar {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
