.ajax-lookup { 
    background: white;
    border: 1px solid black;
}
.ajax-lookup .options {
    padding: 0.2em;
    text-align: right;
    background: #F5F3EB;
    overflow: auto;
}
.ajax-lookup ul {
    padding: 0;
    margin: 0;
}
.ajax-lookup li {
    padding: 0.2em 0.5em;
    list-style-type: none;
}
.ajax-lookup li {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #ddd;
}
.ajax-lookup li.hover {
    background: #736DAB;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

button.image-button img {
    vertical-align: middle;
}
button.image-button {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
}

table.credits {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}
table.credits tr {
    border-bottom: 1px solid #ddd;
}
table.credits th {
    text-align: left;
}
table.credits td,
table.credits th {
    padding: 0.2em
}
table.credits th.artist,
table.credits th.name {
    width: 40%;
}
table.credits input.entity-selector {
    width: 70%;
}
table.credits input { width: 90%; }
table.credits tr.add-new {
    border-bottom: none;
}
table.credits tr.add-new td {
    padding-top: 1em;
}
table.credits tr.add-new input {
    width: 50%;
    margin-left: 1em;
}

/* -------------- */

.floatRight {
 float: right;
}

.js-fieldset label {
 white-space: nowrap;
 text-align: left!important;
 clear: both;
}

.js-progress-text {
 padding-left: 3em;
 padding-right: 3em;
}

.js-progress-text span {
 float: left;
 padding-top: 4px;
 padding-left: 6px;
 font-weight: bolder;
}

.js-fullwidth {
 width: 100%;
}

.js-sg-div {
 height: 0px;
 overflow: auto;
 border: 1px solid #FFBB55;
 padding: 5pt;
}

.js-tp-buttons {
 float: left;
 text-align: center;
 margin-left: 5%;
 margin-right: 5%;
}

.js-tp-options {
 float: left;
 text-align: center;
 white-space: nowrap;
}

.js-tp-separator-text {
 vertical-align: top;
}

.js-button-row {
 text-align: right;
 padding-bottom: .5em;
}

.es_error_hint {
 background: url(/static/images/header-bg-orangefade.gif);
 border: 2px solid #F40;
 font-weight: 700;
 padding: 10px;
 z-index: 1000;
}
.es_field_error {
 background: #fcc;
 border: 2px solid red;
}

.es-gc-button {
 display: inline;
 position: absolute;
 right: 2%;
 text-align: center;
}

.quickselectdiv,
div.overlabel-wrapper {
 display: inline;
 position: relative;
}
label.overlabel {
 color: #999;
}
label.overlabel-apply {
 color: #999;
 left: 3px;
 padding-top: 1pt;
 position: absolute;
 z-index: 1;
}
