div.box { overflow: auto; }

dl dt {
    float: left;
    clear: both;
    font-weight: bold;
    width: 150pt;
    margin-right: 10pt;
    text-align: right;
}
dl dd { margin-left: 160pt; }
dl, dd {
    line-height: 18pt;
}
dl {
    margin-bottom: 10pt;
    overflow: auto;
}
dl .piped_list { clear: none; }

h3 {
    clear: left;
    margin: 0;
    margin-bottom: 10pt;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 2pt;
    padding-left: 4pt;
}

.statistics thead th { 
    padding-right: 15pt;
}

.statistics tbody th { 
    text-align: right;
    padding-right: 10pt;
}

.statistics tbody td.votes { 
    text-align: right;
}

.statistics tfoot th.votes { 
    text-align: center;
}
