/*
 * WikiDocs styles
 */

/* For those pesky few pages that use h1s in their content */
* + h1 {
    margin-top: 1em;
}

dt {
    margin-top: 5px;
    font-weight: bold;
}

dd {
    margin: 0 0 5px 0;
    padding-left: 20px;
}

hr {
    border: none;
    background-color: #CCCCCC;
    height: 1px;
    margin: 2px 0;
}

pre {
    padding: 0.5em 1em;
    background: #DDDDDD;
    overflow: auto;
    border: none;
    border-left: 5px solid #FC6714;
}

#toc, .toc {
    background-color: #F9F9F9;
    border: 1px solid #AAAAAA;
    font-size: 95%;
    padding: 5px;
    float:right;
    max-width: 50%;
}

/* For pages that have no content between the h1 and the TOC */
h1 + #toc, h1 + .toc { margin-top: 1em; }

#toc #toctitle, .toc #toctitle,
#toc .toctitle, .toc .toctitle {
    text-align:center;
}

#toc h2 {
    color: #000000;
    font-size: 100%;
    margin: 0 0 5px 0;
}

#toc ul, .toc ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    list-style-image: none;
    line-height: 150%;
}

#toc ul ul, .toc ul ul {
    margin-left: 20px;
}

/* header section (only shown for unofficial pages) */
.wikidocs-header {
    border-bottom: 2px dotted #CCCCCC;
    margin: 5px 0 10px;
    padding-bottom: 5px;
    font-size: 10px;
}

/* footer section */
.wikidocs-footer {
    border-top: 2px dotted #CCCCCC;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 10px;
    clear: both;
}

/*
** wikitable class for skinning tables,
** table[border^=1] added for backwards support
*/

table[border^="1"],
table.wikitable {
    border-collapse: collapse;
    border: 1px solid #ADB9CC;
    margin: 1em 1em 1em 0;
}

table[border^="1"] th,
table.wikitable th {
    border: 1px solid #ADB9CC;
    background: #F1F1F1;
    text-align: right;
    padding: 3px 5px;
    font-size: 110%;
}

table[border^="1"] tr:first-child th,
table.wikitable tr:first-child th {
    text-align: center;
}

table[border^="1"] td,
table.wikitable td {
    border: 1px solid #ADB9CC;
    padding: 3px 5px;
}

/* This will look nice for the few browsers that do/will support nth-child */
table[border^="1"] tr:nth-child(odd) td,
table.wikitable tr:nth-child(odd) td {
    background: #FAFAFA;
}

table[border^="1"] caption,
.wikitable caption {
    margin-bottom: 5px;
    font-weight: bold;
}

table.noborder td { /* Flexibility to have tables in the wiki without borders */
    border: none;
    vertical-align: top;
    padding-left: 20px;
}

table.noborder td:first-child {
    padding-left: 0;
}
