[%# Don't load the Edit Suite if the user has turned it off in user preferences. %]
[%- IF c.user.preferences.get('JS_es') -%]
    [%# Load the core edit suite files.  %]
    [%# JQuery UI's .js can be lazy loaded, but the JQuery UI .css file has to be pre-loaded, else the browser doesn't load the @includes properly. %]
    [%- editsuite_css = "editsuite.css jquery/jquery.ui.all.css" -%]
    [%- editsuite_js = "editsuite/es_main.js" %]
[% END %]
