[%- DEFAULT field=form.field("edit_note") -%]
<div class="row">
    <label for="id_[% field.name %]" class="[% field.required_text %]">Edit Note:</label>
    <div class="input">
      <textarea name="[% field.name %]" rows="5" cols="52"></textarea>
    </div>
</div>
