[% React.embed(c, 'static/scripts/relationship-editor/components/RelationshipEditorWrapper', {
  formName => form.name,
  seededRelationships => seeded_relationships,
}) %]

[% script_manifest('relationship-editor.js', { 'async' => 'async' }) %]
