[%#- Generic way to display form fields -%]

[%- id = "id_${widget.name}" -%]

[%- INCLUDE 'forms/input.tt' WRAPPER 'forms/row.tt'
        right=(widget.widget == 'checkbox') -%]

[%- IF widget.errors.size -%]
<ul class="labelRight">
  [% FOREACH error=widget.errors %]
  <li class="error">[% error %]</li>
  [% END %]
</ul>
[%- END -%]
