[%#- Generic way to display form fields -%]

[%- id = "id_${widget.name}" -%]

[%- IF widget.widget == 'checkbox' -%]
<p class="labelRight">
  [% INCLUDE "forms/input.tt" %]
  [% INCLUDE "forms/label.tt" %]
[%- ELSE -%]
  <p>
    [% INCLUDE "forms/label.tt" %]
    [% INCLUDE "forms/input.tt" %]
[%- END -%]
</p>

[%- IF widget.errors.size -%]
<ul class="labelRight">
  [% FOREACH error=widget.errors %]
  <li class="error">[% error %]</li>
  [% END %]
</ul>
[%- END -%]
