[% WRAPPER "layout.tt" title=l("Change Password") full_width=1 %]

    <h1>[% l("Change Password") %]</h1>

    <p>[% l('Your password has been changed. Click {link|here} to continue to your user page.',
            { link => c.uri_for_action('/user/index', c.user.name) }) %]</p>

[% END %]
