[%- WRAPPER 'layout.tt' title=l('Email Sent') -%]
    [% WRAPPER 'components/box.tt' header=l('Email Sent') %]
        <p>
            [% l('Your email has been successfully sent!') %]
        </p>
    [% END %]
[%- END -%]
