[% WRAPPER 'layout.tt' title=l('Editor Not Found') full_width=1 %]
<h1>[% l('Editor Not Found') %]</h1>

<p>[% l('Sorry, we could not find an editor with that name. You may
         wish to try and {search_url|search for them} instead.',
         { search_url => c.uri_for_action('/search/search') }) %]</p>
[% END %]
