[% WRAPPER "user/profile/layout.tt" title=l("Tags") page="tags" %]
    [% BLOCK tag_link_block %]
    <a href="[% c.uri_for_action('/user/tag', [ user.name ], tag.tag.name) %]">
    [% tag.tag.name | html %]
    </a>
    [% END %]
    [%- INCLUDE "components/tags.tt" tags=tags.tags -%]
    [%- UNLESS tags.tags.size -%]
        <p>[% l('{user} has not tagged anything.', { user => html_escape(user.name) }) %]</p>
    [%- END -%]
[% END %]
