[% WRAPPER 'layout.tt' title=l("Email address verified") %]
    [% WRAPPER 'components/box.tt' header=l("Email address verified") %]
        <p>
            [% l('Thank you, your email address has now been verified!') %]
        </p>
    [% END %]
[% END %]
