table.appears {
    width: 100%;
    margin-bottom: 1em;
}

table.appears .year {
    width: 60pt;
    text-align: center;
}

table.appears .artist {
    text-align: left;
    width: 200pt;
}

table.appears .title {
    text-align: left;
}

table.appears .timeline {
    background: url(/static/images/timeline.gif) repeat-y center;
    font-size: 0px;
}
