@text-black: #000000;                       // black text
@text-white: #FFFFFF;                       // white text

@background-grey: #E7E7E7;                  // site background
@secondary-grey: #F0F0F0;                   // bubble backgrounds, tab bars, etc.
@disabled-grey: #AAAAAA;                    // disabled inputs (text, generally)
@disabled-bg-grey: #DCDAD5;                 // disabled inputs background
@placeholder-grey: @disabled-grey;          // placeholder text

@musicbrainz-purple: #736DAB;               // the purple used in the top header and some subheaders
@musicbrainz-orange: #FFBA58;               // the orange used alongside that purple

@text-orange: #FC6714;                      // the orange we use for text (headers, link hovers, etc.)
@edit-orange: #FFDD99;                      // the edits-pending color. also used other random spots

@link-default: #002BBA;                     // default link color
@link-visited: #632D9B;                     // visited link color

@light-border-blue: #ADB9CC;                // the thin-bordered table borders (e.g. statistics)
@light-border-background: #F1F1F1;          // the background for the light-border tables

@warning-border: #A1A1A1;                   // "warning" and "notice" border
@warning-background: #FFFFD0;               // "warning" and "notice" background

@autocomplete-success: #BBFFBB;             // successful autocomplete background
@autocomplete-error: #FFAAAA;               // error/cancelled autocomplete background

@rel-add: #B6FFA3;                          // added rels in the rel editor (background)
@rel-remove: #FF8F8F;                       // removed rels in the rel editor (background)
@rel-edit: @edit-orange;                    // edited rels in the rel editor (+ edit hover) (background)
@rel-warning: #FBE3E4;                      // warning boxes in the rel editor

@diff-new-bg: #E8F7E8;                      // "new" sides of split diffs (background)
@diff-new-highlight: #B1EBB0;               // highlight for added text in diffs
@diff-old-bg: #F7E8E8;                      // "old" sides of split diffs (background)
@diff-old-highlight: #EBB1BA;               // highlight for removed text in diffs

@yes-border: #87F717;                       // border around 'yes' vote in edit-note h3/img
@no-border: #E55451;                        // border around 'no' vote in edit note h3/img

@yes-bg: #B1EBB0;                           // background for 'yes'
@no-bg: #EBB1BA;                            // background for 'no'
@abstain-bg: #F2F0A5;                       // background for 'abstain'

@moved-cover-art-bg: #B1EBB0;               // background for reordered cover art that's moved, I think?

@button-text: #565656;                      // button text before hover/click
@button-hover-background: #DFF4FF;          // default button hover/focus background
@button-hover-text: #336699;                // default button hover/focus text
@button-hover-border: #C2E1EF;              // default button hover/focus border
@button-active: #6299C5;                    // default button background/border color when clicked

@negative-text: #D12F19;                    // negative text color
@negative-hover-background: #FBE3E4;        // negative button hover/focus background
@negative-hover-text: @negative-text;       // negative button hover/focus text
@negative-hover-border: #FBC2C4;            // negative button hover/focus border
@negative-active: @negative-text;           // negative button background/border color when clicked

@positive-text: #529214;                    // positive text color
@positive-hover-background: #E6EFC2;        // positive button hover/focus background
@positive-hover-text: @positive-text;       // positive button hover/focus text
@positive-hover-border: #C6D880;            // positive button hover/focus border
@positive-active: @positive-text;           // positive button background/border color when clicked

@rg-art-selected: #BBFFBB;                  // selected RG cover art in set-cover-art page (background)
@rg-art-selected-border: #889988;           // selected RG cover art border

@dark-button-border: #D0D0D0;               // the darker of the button border colors (for shading)
@light-button-border: #EAEAEA;              // the lighter of the button border colors (for shading)

@tab-normal-border: #A1A1A1;                // the normal dark border around tabs
@tab-unfocus-background: #F1F1F1;           // "background" tab background-color

@re-unfocus-tab-text: #1C94C4;              // "background" RE tab text color
@re-focus-tab-text: #EB8F00;                // selected RE tab text color
@re-fieldset-grey: @disabled-grey;          // RE fieldset border

@rg-type-label: #589DFF;                    // RG type labels (on artist page listing)

@open-header: #FFD700;                      // header for open edits
@cancelled-header: #999999;                 // header for cancelled edits
@failed-header: #FF0000;                    // header for failed [vote] edits
@error-header: #660000;                     // header for errored edits

@even-table-row: #F2F2F2;                   // even table row zebra-stripe gray
@highlight-table-row: #F2F2B2;              // highlighted rows in zebra-stripe tables

@form-error-text: #FF2222;                  // errors in forms, text

@menu-background: #D4D4D4;                  // background color of opened menus

@multiselect-highlight: #FEFFDE;            // highlight color when searching in the multiselect plugin
