/* Edit pages ('edit/index.tt' and 'edit/list.tt') */

.edit-expiration {
    clear: both;
    font-weight: bold;
    line-height: 200%;
}

.cancel-edit {
    float: right;
}

.cancel-edit form {
    display: inline;
    margin-right: 5px;
}

.edit-list .cancel-edit {
    float: none;
    margin: 10px 0;
}

table.vote-tally {
    width: 100%;
    border-collapse: collapse;
}

table.vote-tally tr {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #DDDDDD;
}

table.vote-tally tr.first {
    border-bottom: none;
}

table.vote-tally th {
    text-align: right;
    white-space: nowrap;
}

table.vote-tally .vote {
    width: 100%;
    padding: 5px 5px 5px 10px;
}

table.vote-tally tr.superseded,
table.vote-tally tr.superseded a {
    color: #999999;
}

table.vote-tally .date {
    text-align: right;
    float: right;
}

.voteopts div {
    text-align: center;
    display: inline-block;
    margin: 0 5px;
}

/*
** Edit notes
*/

.edit-notes .edit-note {
    margin: 5px 0;
    padding: 5px;
}

.edit-notes .edit-note-text {
    padding-left: 1em;
}

.edit-notes .edit-note h3 {
    font-weight: normal;
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-color: #F0F0F0;
    height: 16px;
    margin: 0 0 10px;
    padding: 5px 10px 5px 26px;
}

.edit-notes .edit-note h3.Yes {
    background-image: url('../images/user_add.png');
}
/*.edit-notes .edit-note h3.Yes {
    background-image:url("../images/user.png"), url("http://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Ambox_emblem_plus.svg/48px-Ambox_emblem_plus.svg.png");
}*/

.edit-notes .edit-note h3.No {
    background-image: url('../images/user_delete.png');
}

.edit-notes .edit-note h3.owner {
    font-weight: bold;
}

.edit-notes .edit-note .date {
    color: #333333;
    float: right;
    font-weight: normal;
}

/*
** Edit list ('edit/list.tt')
*/

.edit-list {
    clear: both;
    margin: 20px 0;
    background-color: #FAFAFA;
}

.edit-list .edit-header {
    background-color: #E5E5E5;
    border-right: 10px solid transparent;
    padding: 0 10px 10px 10px;
}

.edit-list .edit-header > h2 {
    margin-top: 0;
}

.edit-list .edit-header h2 {
    padding-top: 10px;
}

.edit-list .edit-description {
    float: right;
    width: 210px;
    margin-top: 6px;
}

.edit-list .edit-description dl.properties {
    margin: 0;
    clear: both;
}

.edit-list .applied { border-right: solid 10px #999999; }
.edit-list .open { border-right: solid 10px gold; }
.edit-list .cancelling { border-right: solid 10px #000000; }
.edit-list .cancelled { border-right: solid 10px #000000; }
.edit-list .failed { border-right: solid 10px #FF0000; }
.edit-list .error { border-right: solid 10px #880000; }

.edit-list .my-vote {
    float: left;
}

.edit-list .vote-count {
    float: right;
}

.edit-list .edit-details {
    margin-top: 10px;
}

.edit-list .vote-actions {
    float: right;
    width: 220px;
    background-color: #E5E5E5;
    padding-left: 10px;
}

.edit-list .vote-actions dl.properties {
    margin: 5px 0;
    clear: both;

.edit-list .edit-actions .edit-status {
    margin: 10px 0;
    font-weight: bold;
}

.edit-list .edit-notes {
    margin: 20px 20px 0 40px;
    clear: both;
}

.seperator {
    clear: both;
}

.search-toggle {
    text-align: center;
}

.search-toggle p {
    margin: 5px;
}

.search-refine {
    display: none;
    padding: 5px;
    border-bottom: 1px solid;
    background-color: #FAFAFA;
}

.search-refine div.row {
    display: inline-block;
}

.search-help {
    background-color: #E5E5E5;
    margin-top: 5px;
    padding: 5px;
}

.search-help dl.properties {
    margin: 0;
}

.search-help dl.properties dt {
    width: 90px
}
