/* Edit pages */

.cancel-edit {
    float: right;
}

.cancel-edit form {
    display: inline;
    margin-right: 5px;
}

.edit-list .cancel-edit {
    float: none;
    margin-bottom: 10px;
}

table.vote-tally {
    width: 100%;
    border-collapse: collapse;
}

table.vote-tally tr {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
}

table.vote-tally th {
    text-align: right;
    white-space: nowrap;
}

table.vote-tally .vote {
    width: 100%;
    padding: 5px 5px 5px 10px;
}

table.vote-tally tr.superseded,
table.vote-tally tr.superseded a {
    color: #999999;
}

table.vote-tally .date {
    text-align: right;
    float: right;
}

table.voteopts td {
    text-align: center;
}

.edit-notes .edit-note {
    margin: 5px 0;
    padding: 5px;
/*    background-color: #FAFAFA;*/
}

.edit-notes .edit-note-text {
    padding-left: 1em;
}

.edit-notes .edit-note h3 {
    font-weight: normal;
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-color: #F0F0F0;
    height: 16px;
    margin: 0 0 10px;
    padding: 5px 10px 5px 26px;
}

.edit-notes .edit-note h3.Yes {
    background-image: url('../images/user_add.png');
    background-repeat: no-repeat;
}
/*.edit-notes .edit-note h3.Yes {
    background-image:url("../images/user.png"), url("http://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Ambox_emblem_plus.svg/48px-Ambox_emblem_plus.svg.png");
}*/

.edit-notes .edit-note h3.No {
    background-image: url('../images/user_delete.png');
    background-repeat: no-repeat;
}

.edit-notes .edit-note h3.owner {
    font-weight: bold;
}

.edit-notes .edit-note .date {
    color: #333333;
    float: right;
    font-weight: normal;
}

.edit-list {
    clear: both;
    margin: 20px 0 0 0;
    background-color: #FAFAFA;
}

.edit-list .edit-details {
    margin-top: 10px;
}

.edit-list .vote-actions {
    float: right;
    width: 220px;
    background-color: #E5E5E5;
    border-right: 10px solid #007700;
    padding-left: 10px;
}

.edit-list .my-vote {
    float: left;
}

.edit-list .vote-count {
    float: right;
}

.edit-list table.voteopts {
    width: 160px;
    margin: 0 24px;
}

.edit-list .edit-expiration {
    clear: both;
    font-weight: bold;
    line-height: 200%;
}

.vote-actions dl.properties {
    margin: 5px 0;
    clear: both;
}

.edit-list .edit-header > h2 {
    margin-top: 0;
}

.edit-list .edit-header {
    background-color: #E5E5E5;
    padding: 0 10px 10px 10px;
}

.edit-list .edit-header h2 {
    color: #000000;
    padding-top: 10px;
}

.edit-list .edit-notes {
    margin: 20px 20px 0 20px;
    clear: both;
}

.edit-list .edit-description dl.properties {
    margin: 0;
    clear: both;
}

.edit-header .edit-description {
    float: right;
    width: 210px;
    margin-top: 6px;
}

.edit-list .edit-header.open {
/*    border-left: solid 10px #007700;*/
    border-right: solid 10px #007700;
}

.edit-list .edit-header.cancelling {
/*    border-left: solid 10px #999999;*/
    border-right: solid 10px #999999;
}

.edit-list .edit-header.cancelled {
/*    border-left: solid 10px #000000;*/
    border-right: solid 10px #000000;
}

.edit-list .edit-header.failed {
/*    border-left: solid 10px #CC0000;*/
    border-right: solid 10px #CC0000;
}

.edit-header .edit-status {
    font-weight: bold;
}

.seperator {
    clear: both;
}

.search-toggle {
    text-align: center;
}

.search-toggle p {
    margin: 5px;
}

.search-toggle a {
    cursor: pointer;
}

.search-refine {
    display: none;
    padding: 5px;
    border-bottom: 1px solid;
    background-color: #FAFAFA;
}

.search-refine div.row {
    display: inline-block;
}

.search-help {
    background-color: #E5E5E5;
    margin-top: 5px;
    padding: 5px;
}

.search-help dl.properties {
    margin: 0;
}

.search-help dl.properties dt {
    width: 90px
}
