/* Edit pages */

.cancel-edit {
    float: right;
}

.cancel-edit form {
    display: inline;
    margin-right: 5px;
}

table.vote-tally {
    width: 100%;
    border-collapse: collapse;
}

table.vote-tally tr:nth-child(n+3) {
    border-top: 1px dotted #999999;
}

table.vote-tally th {
    text-align: right;
    white-space: nowrap;
}

table.vote-tally .vote {
    width: 100%;
    padding: 5px 5px 5px 10px;
}

table.vote-tally tr.superseded,
table.vote-tally tr.superseded a {
    color: #999999;
}

table.vote-tally .date {
    text-align: right;
    float: right;
}

table.voteopts td {
    text-align: center;
}

.edit-notes .edit-note {
    margin: 5px 0;
    padding: 5px;
}

.edit-notes .edit-note:nth-child(2n+1) {
    background-color: #F2F2F2;
}

.edit-notes .edit-note h3 {
    font-weight: normal;
    padding-left: 18px;
    background: url('../images/user.png') no-repeat;
    height: 16px;
    margin: 0 0 5px;
}

.edit-notes .edit-note h3.Yes { background: url('../images/user_add.png') no-repeat; }
.edit-notes .edit-note h3.No { background: url('../images/user_delete.png') no-repeat; }
.edit-notes .edit-note h3.owner { font-weight: bold; }

.edit-notes .edit-note .date {
    color:#999999;
    float:right;
    font-weight:normal;
}

.edit-list {
    margin: 10px 0 0 0;
    background: #FFFFFF url(../images/page-bg-edit.gif) repeat-y top right;
}

.edit-list:nth-child(2n) {
    background-color: #F2F2F2;
}

.edit-list .vote-actions {
    width: 218px;
    padding-top: 5px;
    float: right;
    font-size: 95%;
}

.vote-actions .edit-status {
    text-align: center;
    padding-bottom: 5px;
}

.vote-actions .my-vote {
    float: left;
}

.vote-actions .vote-count {
    float: right;
    margin: 0 10px 5px 0;
}

.vote-actions table.voteopts {
    width: 160px;
    margin: 0 24px;
    clear: both;
}

.vote-actions dl.properties {
    margin: 5px 0;
    clear: both;
}

.edit-list .edit-content {
    margin-right: 250px;
    padding: 5px 0 0 5px;
}

.edit-list .edit-header > h2 {
    margin-top: 0;
    color: #000000;
}

.seperator {
    clear: both;
    border-bottom: 1px solid;
    height: 10px;
    background-color: #FFFFFF;
}

.search-toggle {
    text-align: center;
}

.search-toggle p {
    margin: 5px;
    display: inline-block;
}

.search-toggle a {
    cursor: pointer;
}

.search-refine {
    display: none;
    padding: 5px;
    border-bottom: 1px solid;
}

.search-refine div.row {
    display: inline-block;
}

.search-help {
    background-color: #F2F2F2;
    margin-top: 5px;
    padding: 5px;
}

.search-help dl.properties {
    margin: 0;
}

.search-help dl.properties dt {
    width: 90px
}
