/* Edit pages ('edit/index.tt' and 'edit/list.tt') */

.overall-vote {
    float: right;
    margin-bottom: 1em;
}

.edit-expiration {
    font-weight: bold;
}

dl.edit-status {
    margin: 0;
}

.cancel-edit {
    float: right;
    margin-right: -7px;
}

.edit-list .cancel-edit {
    float: none;
    display: inline-block;
    margin: 10px -7px 10px 0;
}

table.vote-tally {
    width: 100%;
    border-collapse: collapse;
}

table.vote-tally tr {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #DDDDDD;
}

table.vote-tally tr.first {
    border-bottom: none;
}

table.vote-tally th {
    text-align: right;
    white-space: nowrap;
}

table.vote-tally td.vote {
    width: 100%;
    padding: 5px 10px;
}

table.vote-tally tr.superseded,
table.vote-tally tr.superseded a {
    color: #999999;
}

table.vote-tally .date {
    text-align: right;
    float: right;
}

.voteopts div {
    text-align: center;
    display: inline-block;
    padding: 0px;
    border: 1px solid transparent;
}

.voteopts .vote-yes {
    border: 1px solid #ccc;
    background-color: #B1EBB0;
}

.voteopts .vote-no {
    border: 1px solid #ccc;
    background-color: #EBB1BA
}

.voteopts .vote-abs {
    border: 1px solid #ccc;
    background-color: #F2F0A5;
}

.wrap-block {
    display: inline-block;
}

/*
** Edit notes
*/

.edit-notes .edit-note {
    margin: 5px 0;
    padding: 5px 0 5px 5px;
}

.edit-notes .edit-note-text {
    padding-left: 1em;
}

.edit-notes .modbot {
    color: #666;
}

.edit-notes .modbot a {
    color: #999;
}

.edit-notes .edit-note h3 {
    font-weight: normal;
    background-color: #EAEAEA;
    height: 16px;
    margin: 0 0 10px;
    padding: 5px 10px 5px 10px;
}

.edit-notes .edit-note h3.owner {
    font-weight: bold;
}

.edit-notes .edit-note .editor-class {
    font-weight: normal;
    color: #999;
}

.edit-notes h3 a img {
    margin-right: 0.75em;
}

.edit-note h3.No, .edit-note h3.Yes {
    position: relative;
}
.edit-note h3.No a img {
    border-color: #E55451;
}

.edit-note h3.No .voting-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 17px;
    background-image: url('../images/icons/delete.png');
    background-repeat: no-repeat;
}

.edit-note h3.Yes a img {
    border-color: #87F717;
}

.edit-note h3.Yes .voting-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 17px;
    background-image: url('../images/icons/add.png');
    background-repeat: no-repeat;
}

.edit-notes .edit-note .date {
    color: #333333;
    float: right;
    font-weight: normal;
}

.add-edit-note {
    padding: 5px 0 5px 5px;
}

.add-edit-note textarea {
    width: 98%;
    display: block;
}

.add-edit-note input {
    display: none;
    margin-top: 5px;
}

/*
** Edit list ('edit/list.tt')
*/

.edit-list {
    clear: both;
    margin: 20px 0;
    background-color: #F7F7F7;
}

.edit-list .edit-header {
    background-color: #E5E5E5;
    border-right: 10px solid transparent;
    padding: 0 10px 10px 10px;
}

.edit-list .edit-header > h2 {
    margin-top: 0;
}

.edit-list .edit-header h2 {
    padding-top: 10px;
}

.edit-list .edit-description {
    float: right;
    margin-top: 6px;
}

.edit-list .edit-expiration {
    min-width: 170px;
    font-weight: normal;
}

.edit-list .open .edit-expiration {
    font-weight: bold;
}

.edit-list .applied { border-right: solid 10px transparent; }
.edit-list .open,
.edit-list .cancelling { border-right: solid 10px gold; }
.edit-list .cancelled { border-right: solid 10px #999999; }
.edit-list .failed { border-right: solid 10px #FF0000; }
.edit-list .error { border-right: solid 10px #660000; }

.edit-list .vote-count {
    text-align: right;
    padding-left: 20px;
}

.edit-list .edit-details {
    margin-top: 10px;
}

.edit-list .edit-actions {
    float: right;
    background-color: #E5E5E5;
    padding: 0 10px;
}

.edit-list .edit-actions {
    margin-bottom: 10px;
}

.edit-list .edit-actions .edit-status {
    margin: 10px 0;
    font-weight: bold;
}

.edit-list .edit-notes {
    margin: 20px 20px 0 40px;
    clear: both;
}

.seperator {
    clear: both;
    height: 1px;
}

.search-toggle {
    text-align: center;
}

.search-toggle p {
    margin: 5px;
}

.search-refine {
    display: none;
    padding: 5px;
    border-bottom: 2px solid #999999;
    background-color: #F7F7F7;
}

.search-refine div.row {
    display: inline-block;
}

.search-help {
    background-color: #E5E5E5;
    margin-top: 1em;
    padding: 5px 10px;
}

.search-help dl.properties {
    margin: 0;
}

.search-help dl.properties dt {
    width: 90px
}

.editnote p { margin-right: 2em; }

/*
  Add / Edit Cover Art
  ================================================
*/

div.image-position { margin: 2em 0; overflow: hidden; }

div.thumb-position {
    width: 125px;
    height: 150px;
    margin: 3px;
    padding: 5px;
    float: left;
    border: 1px solid #e0e0e0;
    background: #eee;
    border-radius: 2px;
}

table.reorder-cover-art div.thumb-position {
    height: 125px;
}

#set-cover-art div.editimage img,
div.thumb-position img {
    max-width: 125px;
    max-height: 125px;
}

.edit-cover-art img {
    max-width: 250px;
    max-height: 250px;
}

div.thumb-position.moved {
    background: #B1EBB0;
}

.voteopts .vote label {
    padding: 5px;
    display: block;
}

.voteopts .vote label input {
    margin: 0 auto;
    display: block;
}

.set-cover-art div.editimage img {
    max-width: 125px;
    max-height: 125px;
}

#set-cover-art-images { margin: 2em 0; overflow: hidden; }

.set-cover-art div.cover-image { float: left; margin: 0 10px 10px 0; }

.set-cover-art div.editimage {
    position: relative;
    float: left;
    width: 300px;
    min-height: 140px;
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.set-cover-art div.editimage.selected {
    background: #bbffbb;
    border: 1px solid #889988;
}

div.editimage button.set-cover-art {
    position: absolute; right: 5px; bottom: 5px;
}

div.editimage p.currently-selected { display: none; }
div.editimage.selected p.currently-selected { display: block; }
