/*
 * Stuff common to most entity types
 */

div.tabs {
    border-bottom: solid 1px #a1a1a1;
    padding-top: 1em;
    font-size: 95%;
}

div.tabs ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
    width: 100%;
    position: relative;
    top: 1px;
}

div.tabs ul li {
    float: left;
}

div.tabs ul li a {
    display: block;
    padding: 0.1em 0.5em;
    margin-left: 4px;
    text-decoration: none;
    background: #f1f1f1;
    color: #000;
    border: solid 1px #a1a1a1;
    border-bottom: solid 1px #a1a1a1;
}

div.tabs ul li.sel a {
    background: #fff;
    color: #000;
    font-weight: bold;
    border-bottom: solid 1px #fff;
}

div.tabs ul li a:hover {
    background: #fff;
    color: #000;
}

.artistheader, .releaseheader, .rgheader,
.recordingheader, .labelheader, .workheader, .blankheader,
.collectionheader {
    padding-left: 38px;
    background: 0 4px no-repeat;
}

.blankheader     { background-image: url('../images/entity/blank_lg.png') }
.artistheader    { background-image: url('../images/entity/artist_lg.png') }
.releaseheader   { background-image: url('../images/entity/release_lg.png') }
.rgheader        { background-image: url('../images/entity/release_group_lg.png') }
.recordingheader { background-image: url('../images/entity/recording_lg.png') }
.labelheader     { background-image: url('../images/entity/label_lg.png') }
.workheader      { background-image: url('../images/entity/blank_lg.png') } /* TODO: create work icon */
.collectionheader      { background-image: url('../images/entity/blank_lg.png') } /* TODO: create collection icon */

span.comment, span.historical { 
    font-weight: normal;
    color: #888;
}

h1 span.comment, span.historical {
    font-size: 12px;
}

p.subheader {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.0em;
    font-size: 96%;
}

p.subheader span { color: #999; }

.tagger-icon img { border: 0; }
.releaseheader .tagger-icon, .recordingheader .tagger-icon { margin-top: 1em; float: right; }

.annotation {
    margin-top: 1em;
}

.annotation-diff {
    margin: 1em 0;
}
