input { background: #fff; color: #000; }
input:-moz-placeholder { color: #aaa; }
input.mb_placeholder { color: #aaa ! important; }
input[disabled].lookup-performed,
input[disabled] { background: #DCDAD5; cursor: default; }

button.nobutton:focus,
button.nobutton:hover,
button.nobutton {
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    border: 0;
    padding: 0;
    margin: 0;
}

div.various-artists.warning { width: 50em; }

fieldset {
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    padding: 0;
}

fieldset legend { margin-top: 0; }

form div.row {
    clear: left;
    margin: 6px 0;
}

form div.row label,
form div.row div.label {
    float: left;
    text-align: right;
    min-width: 132px;
    margin-right: 12px;
}

div.form-row-text-list { margin-left: 144px; }
div.half-width fieldset div.text-list-row > input { width: 278px; }


div.bubble div.row input[type=text] {
    width: 176px;
    font-size: 1em;
}

div.bubble div.row label,
div.bubble div.row div.label { width: 150px; }

form div.row p { float: none; clear: none; }
form div.row ul { overflow: auto; }

form div.no-label,
form p.no-label,
form ul.errors {
    margin-left: 144px;
}

form ul.errors {
    margin-top: 4px;
    padding-left: 0;
    list-style-type: none;
    list-style-image: none;
}

form ul.errors li,
span.error {
    color: #ff2222;
}

input.error,
select.error {
    background: #ffaaaa ! important;
}

input.lookup-performed { background: #bfb; }

form .input-note {
    font-style: italic;
    font-size: 85%;
}

div.enter-edit input.submit {
    font-size: 18pt;
}

ul.radio-list {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
}

label.required,
div.required {
    font-weight: bold;
}

textarea {
    font-family: sans-serif;
    font-size: 12.5px;
}

label.inline {
    float: none !important;
    width: auto !important;
}

dl.properties label {
    float: none;
    width: auto;
}

div.ar-descr {
    background: #F9F9F9;
    padding: 4px;
    border: dotted 1px #D0D0D0;
    margin: 6px;
}

a.selectFilterPrev,
a.selectFilterNext {
    color: #000;
    text-decoration: none;
}

a.selectFilterPrev:hover,
a.selectFilterNext:hover {
    color: #666;
}

div.searchform {
    margin-top: 24px;
}

/* __________________________________

          Guess Case doc bubble
   __________________________________ */

div.guesscase-options table td { vertical-align: top; width: 50%; }

/* __________________________________

          MB.Control.Autocomplete
   __________________________________ */

span.autocomplete { display: inline-block; position: relative; }
span.autocomplete img.search { position: absolute; right: 2px; top: 3px; }
span.autocomplete.disabled img.search { display: none; }
span.autocomplete input.ui-autocomplete-loading + img.search { display: none; }

.ui-autocomplete-loading {
    background: white url(../images/icons/loading.gif) right center no-repeat;
}
.autocomplete-length,
.autocomplete-comment { font-size: smaller; color: #666; }
button.autocomplete-pager {
    position: absolute;
    display: block;
    border: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
}

span.autocomplete-isrcs,
span.autocomplete-appears,
span.autocomplete-comment {
    margin-left: 12px;
    color: #999;
    font-size: 80%;
}

span.autocomplete-length { float:right; margin-left: 2em; }

/* __________________________________

         Half-width edit forms
   __________________________________ */

div.half-width {
    clear: both;
    float: left;
    margin: 12px 0 0 0;
    width: 465px;
}

div.half-width p,
fieldset > p {
    margin: 1em;
}

div.documentation {
    margin-left: 485px;
}

div.half-width fieldset {
    border: 1px solid #ddd;
    margin-top: 0;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

div.half-width fieldset.editnote {
    background-color: inherit;
    border-color: transparent; /* this preserves the spacing below the legend, but keeps the border hidden */
}

div.half-width fieldset legend {
    color: #fc6714;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px;
}

div.half-width fieldset label.row {
    float: left;
    margin-right: 12px;
    text-align: right;
    width: 132px;
}

div.half-width fieldset label.required {
    font-weight: bold;
}

div.half-width fieldset input,
div.half-width fieldset select {
    font-size: 1em;
    width: 300px;
}

div.half-width fieldset input[type=checkbox],
div.half-width fieldset span.partial-date input {
    width: auto;
}

div.half-width fieldset textarea {
    width: 300px;
}

div.half-width fieldset input.label-code {
    width: 100px;
}

div.half-width fieldset h3 {
    margin: 24px 10px 0;
}

div.documentation div.bubble {
    margin: 0;
    padding: 12px;
    border: 1px solid #999;
    background: #f0f0f0;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

div.documentation div.artist-credit div.row { clear: none; overflow: hidden; }
div.documentation div.container { width: 100%; }

table.form th,
table.form td{
    vertical-align: top;
}

table.form th {
    text-align: right;
    padding-bottom: 8pt;
    width: 100pt;
}

table.form {
    padding: 10pt 0;
}

ul.conditions button.remove {
    display: none;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

ul.conditions button.remove img {
    vertical-align: middle;
}

#filter {
    margin-top: 0.75em;
    border: 1px solid #999;
    background: #f0f0f0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.5em;
    display: none;
}

