fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    padding: 0;
}

fieldset legend { margin-top: 0; }

form div.row {
    clear: left;
    margin: 0.5em 0;
}

form div.row label,
form div.row div.label {
    float: left;
    text-align: right;
    width: 11em;
    margin-right: 1em;
}

form div.row p { float: none; clear: none; }

form div.no-label,
form p.no-label,
form ul.errors {
    margin-left: 12em;
}

form ul.errors {
    margin-top: 0.3em;
    padding-left: 0;
    list-style-type: none;
    list-style-image: none;
}

form ul.errors li,
span.error {
    color: #ff2222;
}

input.error,
select.error {
    background: #ffaaaa;
}

form .input-note {
    font-style: italic;
    font-size: 85%;
}

div.enter-edit .auto-editor {
    float: left;
    padding-top: 5pt;
}

div.enter-edit input.submit {
    font-size: 18pt;
    float: right;
}

ul.radio-list {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
}

label.required,
div.required {
    font-weight: bold;
}

textarea {
    font-family: sans-serif;
    font-size: 12.5px;
    padding: 0.5em;
}

label.inline {
    float: none !important;
    width: auto !important;
}

dl.properties label {
    float: none;
    width: auto;
}

div.ar-descr {
    background: #F9F9F9;
    padding: 4px;
    border: dotted 1px #D0D0D0;
    margin: 0.5em;
}

a.selectFilterPrev,
a.selectFilterNext {
    color: #000;
    text-decoration: none;
}

a.selectFilterPrev:hover,
a.selectFilterNext:hover {
    color: #666;
}

table.tbl + div.searchform {
    margin-top: 2em;
}
