fieldset {
    margin-bottom: 2em;
    border: none;
    border-top: 1px solid #aaa;
}

fieldset legend {
    font-size: 12pt;
    font-weight: bold;
    padding: 0 0.5em;
}

form div.row,
form p {
    clear: left;
}

form p label,
form div.row div.label {
    float: left;
    text-align: right;
    width: 10em;
    margin-right: 1em;
}

form div.row p { float: none; clear: none; }

form div.no-label,
ul.radio-list,
form p.no-label {
    margin-left: 11em;
}

ul.radio-list {
    list-style-type: none;
    padding: 0;
}

textarea {
    font-family: sans-serif;
    font-size: 12.5px;
    padding: 0.5em;
}

textarea.edit-note {
    width: 45em;
    height: 6em;
}

label.inline {
    float: none !important;
    width: auto !important;
}

div.container { margin-left: 11em }

span.formerrors {
    color: #CD0D0D;
    font-weight: bold;
    font-size: 90%;
}