body {
    padding: 0 10px;
    margin: 0;
    background-color: #E7E7E7;
    color: #000;
    font-family: 'Bitstream Vera Sans', Verdana, Arial, sans-serif;
    font-size: 12px;
    min-width: 780px;
    max-width: 1100px;
    margin: auto;
}

/*input, select {
    font-size: 12px;
}*/

a, .homepage a:visited { color:#002BBA; text-decoration: none; }
a:visited { color:#3C5DCE; }
a:hover, .homepage a:hover { color:#FC6714; text-decoration: underline; }
a:active, a:focus { outline-style: none; }

a.icon:hover { text-decoration: none; }

a>img { border: 0; }

/* TODO:
** When we start using relative links for internal links, add:
** a[href^="http://"], a[href^="https://"], */
a.external {
    background: url('/static/images/icons/external.png') no-repeat right;
    padding-right: 13px;
}

a.internal {
    background: none;
    padding-right: 0;
}

p {
    margin: 1em 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150%;
}

h1 a { color: #000 !important; }

h2,
fieldset legend {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 120%;
    color: #FC6714;
    font-weight: bold;
}

#sidebar h2 {
    font-size: 100%;
    margin-left: -5px;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: bold;
}

ul {
    margin-left: 0;
    padding-left: 40px;
    list-style-image: url('/static/images/icons/bullet.gif');
    list-style-type: square;
}

ol {
    margin-left: 0;
    padding-left: 40px;
}

ul ul, ul ol,
ol ol, ol ul {
    padding-left: 20px;
}

/* See http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/ */
pre code {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* width: 99%; */
    word-wrap: break-word;
}

/*
** Header
*/
#header {
    width: 100%;
}

#header-logo {
    background: #736DAB url('/static/images/layout/sprites.png') no-repeat top left;
    height: 58px;
    color: #FFF;
}

#header-logo div {
    position: relative;
    top: 17px;
    float: right;
    padding-right: 1em;
}

#header-logo #id-type {
    margin-right: 4px;
    margin-left: 10px;
    padding: 2px;
}

#header-logo a {
    color: #FFF;
}

#header-logo a.logo {
    display: block;
    height: 58px;
    width: 483px;
    position: absolute;
}

#header-logo a.logo strong {
    position: absolute;
    left: -10000px;
}

#header-menu {
    background: #FFBA58;
    position: relative;
    font-size: 95%;
    font-weight: bold;
    z-index: 9;
}

#header-menu div {
    padding: 0 1em;
    overflow: hidden;
}

#header-menu div.l, #header-menu div.r {
    position: absolute;
    display: block;
    padding: 0;
    width: 6px;
    height: 8px;
}

#header-menu div.r {
    bottom: 0; right: 0;
    background: url('/static/images/layout/sprites.png') -7px -58px;
}

#header-menu div.l {
    bottom: 0; left: 0;
    background: url('/static/images/layout/sprites.png') -0px -58px;
}

#header-menu ul.r {
    float: right;
}

#header-menu form {
    padding: 4px 0;
    margin: 0;
    vertical-align: middle;
}

#header-menu ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    list-style-image: none;
}

#header-menu li {
    float: left;
    list-style-type: none;
    list-style-image: none;
}

#header-menu ul a {
    color: #333;
    display: block;
    padding: 0.4em 0.5em;
    height: 100%;
    text-decoration: none;
}

#header-menu ul li:hover a,
#header-menu ul li:hover li a:hover,
#header-menu ul a:hover {
    background-color: #FC6714;
    color: #FFF;
}

#header-menu ul li li a {
    height: auto;
}

#header-menu ul li:hover li a {
    background-color: #D4D4D4;
    color: #000;
}

#header-menu li ul {
    position: absolute;
    left: -10000px;
    z-index: 9;
}

#header-menu li:hover ul {
    left: auto;
}

#header-menu li ul li {
    text-align: left;
    float: none;
    font-weight: normal;
    margin: 0;
    background-color: #D4D4D4;
}

#header-menu .separator {
    border-top: 1px dotted;
}

/*
** Main content
*/
#page,
#current-editing {
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    padding: 16px;
    background: #FFF url('/static/images/layout/page-bg.gif') repeat-y top right;
    overflow: hidden;
    position: relative;
}

#page.fullwidth,
#page.homepage,
#current-editing {
    background-image: none;
}

.bl, .br, .tl, .tr {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
}

.tr {
    top: 0; right: 0;
    background: url('/static/images/layout/sprites.png') -14px -58px;
}

.tl {
    top: 0; left: 0;
    background: url('/static/images/layout/sprites.png') -23px -58px;
}

.br {
    bottom: 0; right: 0;
    background: url('/static/images/layout/sprites.png') -32px -58px;
}

.bl {
    bottom: 0; left: 0;
    background: url('/static/images/layout/sprites.png') -41px -58px;
}

.warning-header,
.flash,
.server-details {
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    background: #FFFFFF;
    padding: 10px;
    border: 0;
    color: #FC6714;
    position: relative;
}

.flash {
    color: #000;
    font-weight: normal;
}

.flash p,
.server-details p,
.warning-header p {
    margin: 0;
}

.warning-header {
    color: #000;
}

div.notice,
div.warning {
    margin: 2em auto;
    border: 1px solid #a1a1a1;
    min-height: 54px;
    width: 30em;
    background: #ffffd0;
}

div.notice p { margin: 1em; }

#release-editor div.changes div.notice { margin: 2em auto 0 auto; }

div.warning img.warning {
    float: left;
    margin: 12px 10px 8px 10px;
    width: 32px;
    height: 32px;
}

#content {
    margin-right: 250px;
}

#page.fullwidth #content {
    margin-right: 0px;
}

#sidebar {
    float: right;
    width: 218px;
    font-size: 95%;
}

#page.homepage #sidebar {
    margin-top: 34px;
    width: 239px;
}

#sidebar p {
    margin-top: 0;
}

#sidebar ul.links {
    margin: 0;
    padding-left: 1.5em;
}

#sidebar ul.links hr {
    padding: 0;
    margin: 3px;
    height: 1px;
    width: 75%;
    border: 0;
    color: #D3D3D3;
    background-color: #D3D3D3;
}


#sidebar .cover-art {
    text-align: center;
}

#sidebar .cover-art img {
    max-height: 300px;
    max-width: 218px; /* references #sidebar's width */
}

/*
** Footer
*/
#footer {
    height: 1em;
    margin: 1em 0;
    padding: 0 1em;
    font-size: 90%;
    color: #444444;
}

#footer a { color: #002BBA; }
#footer a:hover { color: #FC6714; }

#footer p {
    display: inline-block;
    margin: 0;
}

#footer p.links {
    float: left;
    margin: 0;
}

#footer p.sponsors {
    float: right;
}

/*
** Misc
*/
.clear { clear: both; }

.c, table.tbl .c { text-align: center; }

.noborder { border: none !important; }

.nowrap { white-space: nowrap; } /* Used to keep "action links" on one line, e.g. [ Update | Remove ] */

.tooltip { border-bottom: 1px dotted; } /* Useful when adding title attributes to elements */

table.tbl tr.mp td,
span.mp {
    background: #FD9 !important;
}

.lastupdate,
.annotation-details,
.small {
    font-size: 90%;
    color: #777;
    font-style: italic;
}

/* The release information table */
table.tbl {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

table.tbl th {
    font-size: 95%;
    background: url('/static/images/layout/table-header.gif') repeat-x 0 50%;
    padding: 0.2em 0.4em;
    text-align: left;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #CCCCCC;
}

table.details table.tbl th {
    /* Override the table.details declarations
    /* inside an edit details template */
    padding: 0.2em 0.4em;
    text-align: left;
    width: auto;
}

.deleted { color: #999999; }

table.tbl tr.subh td,
table.tbl tr.subh th {
    font-size: 95%;
    background: url('/static/images/layout/table-header-2.gif') repeat-x 0 50%;
    font-weight: bold;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

table.tbl tbody th {
    border-right: 1px solid #999999;
    background: none;
}

table.tbl th a {
    color: #000;
}

table.tbl th:first-child {
    border-left: none;
}

table.tbl td {
    padding: 0.2em 0.4em;
}

table.tbl tr.ev td,
table.tbl tr.ev th {
    padding: 0.2em 0.4em;
    background: #F2F2F2;
}

table.tbl .pos { width: 1em; }
table.tbl .year { width: 4em; }
table.tbl .count { width: 2em; }
table.tbl .rating { width: 50px; }
table.tbl .treleases { width: 3em; }
table.tbl .t { text-align: right; }

/* Paginator */
.pageselector a, .pageselector span {
    font-size: 90%;
    padding: 0.05em 0.4em;
}

.pageselector a {
    border: solid 1px #000;
    text-decoration: none;
    background-color: #FFF;
    color: #000;
}

.pageselector a:hover {
    background-color: #FFBA58;
}

.pageselector a.sel {
    background-color: #FFBA58;
    font-weight: bold;
}

.pageselector span {
    border: solid 1px #999999;
    background-color: #EEEEEE;
    color: #999999;
}

.pageselector em {
    font-style: normal;
    margin-left: 0.5em;
}

.pageselector + .tbl {
    margin-top: 0px !important;
}

.pageselector-results {
    margin-bottom: 0;
}

/* Browse Entity pages */
.browse-entities {
    margin-top: 1em;
}

.browse-entities ol {
    margin: 0;
}

.browse {
    margin-top: 0.5em;
}

.browse td {
    text-align: center;
    padding: 2px;
}

.browse td.char {
    width: 0.7em;
}

/* Entity details & edit details */
table.details th {
    text-align: right;
    padding-left: 10pt;
    width: 160px;
    vertical-align: top;
}

table.details td span.new,
table.details td.new,
div.diff .diff-only-b {
    background: #B1EBB0;
}

table.details td span.old,
table.details td.old,
div.diff .diff-only-a {
    background: #EBB1BA;
}

table.details td span.new,
table.details td span.old,
table.details td.new,
table.details td.old {
    border: 1px solid #CCC;
}

/* Sidebar properties */
dl.properties {
    margin: 0;
}

dl.properties dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-right: 2pt;
}

dl.properties dd,
dl.properties dt {
    line-height: 175%;
}

/* Search Plugins */
dl.search-plugins dt {
    font-weight: bold;
}

dl.search-plugins dt,
dl.search-plugins dd {
    line-height: 200%;
}

div.searchform input#id-query { width: 30em }

/* CSS columns (instead of using tables) */
div.columns-2 div.column {
    float: left;
    width: 50%;
    min-width: 300px;
}
div.columns-3 div.column {
    float: left;
    width: 33.3%;
    min-width: 200px;
}
div.columns-4 div.column {
    float: left;
    width: 25%;
    min-width: 150px;
}
div.columns-5 div.column {
    float: left;
    width: 20%;
    min-width: 120px;
}

.nagpanel {
    background-color: #FAFAFA;
    border: 2px dashed #736DAB;
    padding: 0 1em;
    margin: 1em 0;
}

.nagpanel .naglinkpanel { text-align: center; }
.nagpanel .naglink { font-size: 200%; }
