body {
    padding: 0;
    margin: 0;
    background-color: #E7E7E7;
    color: #000;
    font-family: 'Bitstream Vera Sans', Verdana, Arial, sans-serif;
    font-size: 12px;
    min-width: 780px;
    max-width: 1100px;
    margin: auto;
}

/*input, select {
    font-size: 12px;
}*/

a, .homepage a:visited { color:#002BBA; text-decoration: none; }
a:visited { color:#3C5DCE; }
a:hover, .homepage a:hover { color:#FC6714; text-decoration: underline; }
a:active, a:focus { outline-style: none; }

dfn {
    font-style: normal;
    border-bottom: 1px dotted;
}

/* TODO:
** When we start using relative links for internal links, add:
** a[href^="http://"], a[href^="https://"], */
a.external {
    background: url("/static/images/external.png") no-repeat right;
    padding-right: 13px;
}

p {
    margin: 1em 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150%;
}

h1 a { color: #000 !important; }

h2,
fieldset legend {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 120%;
    color: #FC6714;
    font-weight: bold;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: bold;
}

ul {
    margin-left: 0;
    padding-left: 40px;
    list-style-image: url('/static/images/bullet.gif');
    list-style-type: square;
}

ol {
    margin-left: 0;
    padding-left: 40px;
}

ul ul, ul ol,
ol ol, ol ul {
    padding-left: 20px;
}

/* See http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/ */
pre code {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* width: 99%; */
    word-wrap: break-word;
}

code {
    background-color: #DDDDDD;
}
.mp code {
    background-color: inherit;
}

/*
** Header
*/
#header {
    width: 100%;
}

#header-logo {
    background: #736DAB url(../images/sprites.png) no-repeat top left;
    height: 58px;
    color: #FFF;
}

#header-logo div { text-align: right; padding-right: 1em; }
#header-logo form {
    height: 58px;
    line-height: 58px;
    margin: 0;
    padding: 0;
}

#header-logo #id-type {
    margin-right: 4px;
    margin-left: 10px;
    padding: 2px;
}

#header-logo a {
    color: #FFF;
}

#header-logo a.logo {
    display: block;
    height: 58px;
    width: 483px;
    position: absolute;
}

#header-logo a.logo strong {
    position: absolute;
    left: -10000px;
}

#header-menu {
    background: #FFBA58;
    position: relative;
    font-size: 95%;
    font-weight: bold;
    z-index: 9;
}

#header-menu div {
    padding: 0 1em;
    overflow: hidden;
}

#header-menu div.l, #header-menu div.r {
    position: absolute;
    display: block;
    padding: 0;
    width: 6px;
    height: 8px;
}

#header-menu div.r {
    bottom: 0; right: 0;
    background: url(../images/sprites.png) -7px -58px;
}

#header-menu div.l {
    bottom: 0; left: 0;
    background: url(../images/sprites.png) -0px -58px;
}

#header-menu ul.r {
    float: right;
}

#header-menu form {
    padding: 4px 0;
    margin: 0;
    vertical-align: middle;
}

#header-menu ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    list-style-image: none;
}

#header-menu li {
    float: left;
    list-style-type: none;
    list-style-image: none;
}

#header-menu ul a {
    color: #333;
    display: block;
    padding: 0.4em 0.5em;
    height: 100%;
    text-decoration: none;
}

#header-menu ul li:hover a,
#header-menu ul li:hover li a:hover,
#header-menu ul a:hover {
    background-color: #FC6714;
    color: #FFF;
}

#header-menu ul li li a {
    height: auto;
}

#header-menu ul li:hover li a {
    background-color: #D4D4D4;
    color: #000;
}

#header-menu li ul {
    position: absolute;
    left: -10000px;
    z-index: 9;
}

#header-menu li:hover ul {
    left: auto;
}

#header-menu li ul li {
    text-align: left;
    float: none;
    font-weight: normal;
    margin: 0;
    background-color: #D4D4D4;
}

#header-menu .separator {
    border-top: 1px dotted;
}

/*
** Main content
*/
#page {
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    padding: 16px;
    background: #FFF url(../images/page-bg.gif) repeat-y top right;
    overflow: hidden;
    position: relative;
}

#page.fullwidth,
#page.homepage {
    background-image: none;
}

#page .bl, #page .br, #page .tl, #page .tr,
.server-details .bl, .server-details .br,
.server-details .tl, .server-details .tr {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
}

#page .tr, .server-details .tr {
    top: 0; right: 0;
    background: url(../images/sprites.png) -14px -58px;
}

#page .tl, .server-details .tl {
    top: 0; left: 0;
    background: url(../images/sprites.png) -23px -58px;
}

#page .br, .server-details .br {
    bottom: 0; right: 0;
    background: url(../images/sprites.png) -32px -58px;
}

#page .bl, .server-details .bl {
    bottom: 0; left: 0;
    background: url(../images/sprites.png) -41px -58px;
}

.server-details {
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    background: #FFFFFF;
    padding: 10px;
    border: 0;
    color: #FC6714;
    position: relative;
}

.server-details p {
    margin: 0;
}

#content {
    margin-right: 250px;
}

#page.fullwidth #content {
    margin-right: 0px;
}

#sidebar {
    float: right;
    width: 218px;
    font-size: 95%;
}

#page.homepage #sidebar {
    margin-top: 34px;
    width: 239px;
}

#sidebar p {
    margin-top: 0;
}

#sidebar ul.links {
    margin-left: 0em;
    padding-left: 2em;
}

/*
** Footer
*/
#footer {
    margin: 1em 0;
    padding: 0 1em;
    font-size: 90%;
    color: #333;
}

#footer a { color: #002BBA; }
#footer a:hover { color: #FC6714; }

#footer ul.links {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

#footer ul.links li {
    float: left;
    margin-right: 1em;
}

#footer p.sponsors {
    text-align: right;
    margin: 0;
}

/*
** Misc
*/
.clear { clear: both; }

.c, table.tbl .c { text-align: center; }

.noborder { border: none !important; }

.nowrap { white-space: nowrap; } /* Used to keep "action links" on one line, e.g. [ Update | Remove ] */

table.tbl tr.mp td,
span.mp {
    background: #FD9;
}

.lastupdate {
    font-size: 90%;
    color: #999;
    font-style: italic;
}

/* The table! */
table.tbl {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

table.tbl th {
    font-size: 95%;
    background: url(../images/table-header.gif) repeat-x 0 50%;
    padding: 0.2em 0.4em;
    text-align: left;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #CCCCCC;
}

table.tbl tr.subh td,
table.tbl tr.subh th {
    font-size: 95%;
    background: url(../images/table-header-2.gif) repeat-x 0 50%;
    font-weight: bold;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

table.tbl th a {
    color: #000;
}

table.tbl th:first-child {
    border-left: none;
}

table.tbl td {
    padding: 0.2em 0.4em;
}

table.tbl tr.ev td {
    padding: 0.2em 0.4em;
    background: #F2F2F2;
}

table.tbl th.pos { width: 1em; }
table.tbl th.year { width: 4em; }
table.tbl th.count { width: 2em; }
table.tbl th.rating { width: 50px; }
table.tbl th.treleases { width: 3em; }
table.tbl .t { text-align: right; }

/* Paginator */
.pageselector a, .pageselector span {
    font-size: 90%;
    padding: 0.05em 0.4em;
}

.pageselector a {
    border: solid 1px #000;
    text-decoration: none;
    background-color: #FFF;
    color: #000;
}

.pageselector a:hover {
    background-color: #FFBA58;
}

.pageselector a.sel {
    background-color: #FFBA58;
    font-weight: bold;
}

.pageselector span {
    border: solid 1px #999999;
    background-color: #EEEEEE;
    color: #999999;
}

.pageselector em {
    font-style: normal;
}

.pageselector + .tbl {
    margin-top: 0px !important;
}

/* Browse Entity pages */
.browse-entities ol {
    margin: 0;
}

.browse td {
    text-align: center;
}

.browse td.char {
    width: 0.7em;
}

/* Entity details & edit details */
table.details th {
    text-align: right;
    padding-left: 10pt;
    width: 110px;
}

table.details td.new {
    background: #B1EBB0;
}

table.details td.old {
    background: #EBB1BA;
}

table.details td.new,
table.details td.old {
    border: 1px solid #CCC;
}

/* Sidebar properties */
dl.properties {
    margin-bottom: 12pt;
}

dl.properties dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-right: 2pt;
}

dl.properties dd,
dl.properties dt {
    line-height: 200%;
}

/* Search Plugins */
dl.search-plugins dt {
    font-weight: bold;
}

dl.search-plugins dt,
dl.search-plugins dd {
    line-height: 200%;
}

/* CSS columns (instead of using tables) */
div.columns-2 div.column {
    float: left;
    width: 50%;
    min-width: 300px;
}
div.columns-3 div.column {
    float: left;
    width: 33.3%;
    min-width: 200px;
}
div.columns-4 div.column {
    float: left;
    width: 25%;
    min-width: 150px;
}
div.columns-5 div.column {
    float: left;
    width: 20%;
    min-width: 120px;
}
