body {
    padding: 0;
    margin: 0;
    background-color: #E7E7E7;
    color: #000;
    font-family: 'Bitstream Vera Sans', Verdana, Arial, sans-serif;
    font-size: 12px;
    min-width: 780px;
    max-width: 1100px;
    margin: auto;
}

/*input, select {
    font-size: 12px;
}*/

a, .homepage a:visited { color:#002BBA; text-decoration: none; }
a:visited { color:#3C5DCE; }
a:hover, .homepage a:hover { color:#FC6714; text-decoration: underline; }
a:active, a:focus { outline-style: none; }

dfn {
    font-style: normal;
    border-bottom: 1px dotted;
}

/* TODO:
** Use relative links on the site and then add:
** a[href^="http://"], a[href^="https://"] */
a.external {
    background: url("/static/images/external.png") no-repeat right;
    padding-right: 13px;
}

p {
    margin: 1em 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150%;
}

h2,
fieldset legend {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 120%;
    color: #FC6714;
    font-weight: bold;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: bold;
}

ul {
    margin-left: 0;
    padding-left: 40px;
    list-style-image: url('/static/images/bullet.gif');
    list-style-type: square;
}

ol {
    margin-left: 0;
    padding-left: 40px;
}

ul ul, ul ol,
ol ol, ol ul {
    padding-left: 20px;
}

/* See http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/ */
pre code {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* width: 99%; */
    word-wrap: break-word;
}

code {
    background-color: #DDDDDD;
    padding: 0 5px;
}

#header {
    width: 100%;
}

#header-logo {
    background: #736DAB url(../images/sprites.png) no-repeat top left;
    height: 58px;
    color: #FFF;
}

#header-logo div { text-align: right; padding-right: 1em; }
#header-logo form {
    height: 58px;
    line-height: 58px;
    margin: 0;
    padding: 0;
}

#header-logo #id-type {
    margin-right: 4px;
    margin-left: 10px;
    padding: 2px;
}

#header-logo a {
    color: #FFF;
}

#header-logo a.logo {
    display: block;
    height: 58px;
    width: 483px;
    position: absolute;
}

#header-logo a.logo strong {
    position: absolute;
    left: -10000px;
}

#header-menu {
    background: #FFBA58;
    position: relative;
    font-size: 95%;
    font-weight: bold;
    z-index: 9;
}

#header-menu div {
    padding: 0 1em;
    overflow: hidden;
}

#header-menu div.l, #header-menu div.r {
    position: absolute;
    display: block;
    padding: 0;
    width: 6px;
    height: 8px;
}

#header-menu div.r {
    bottom: 0; right: 0;
    background: url(../images/sprites.png) -7px -58px;
}

#header-menu div.l {
    bottom: 0; left: 0;
    background: url(../images/sprites.png) -0px -58px;
}

#header-menu ul.r {
    float: right;
}

#header-menu form {
    padding: 4px 0;
    margin: 0;
    vertical-align: middle;
}

#header-menu form span {
}

#header-menu ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    list-style-image: none;
}

#header-menu li {
    float: left;
    list-style-type: none;
    list-style-image: none;
}

#header-menu ul a {
    color: #333;
    display: block;
    padding: 0.4em 0.5em;
    height: 100%;
    text-decoration: none;
}

#header-menu ul li:hover a,
#header-menu ul li:hover li a:hover,
#header-menu ul a:hover {
    background-color: #FC6714;
    color: #FFF;
}

#header-menu ul li li a {
    height: auto;
}

#header-menu ul li:hover li a {
    background-color: #D4D4D4;
    color: #000;
}

#header-menu li ul {
    position: absolute;
    left: -10000px;
    z-index: 9;
}

#header-menu li:hover ul {
    left: auto;
}

#header-menu li ul li {
    text-align: left;
    float: none;
    font-weight: normal;
    margin: 0;
    background-color: #D4D4D4;
}

#header-menu .separator {
    border-top: 1px dotted;
}

.page {
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    padding: 16px;
    background: #FFF url(../images/page-bg.gif) repeat-y top right;
    overflow: hidden;
    position: relative;
}

.fullwidth,
.homepage {
    background-image: none;
}

.page .bl, .page .br, .page .tl, .page .tr,
.server-details .bl, .server-details .br,
.server-details .tl, .server-details .tr {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
}

.page .tr, .server-details .tr {
    top: 0; right: 0;
    background: url(../images/sprites.png) -14px -58px;
}

.page .tl, .server-details .tl {
    top: 0; left: 0;
    background: url(../images/sprites.png) -23px -58px;
}

.page .br, .server-details .br {
    bottom: 0; right: 0;
    background: url(../images/sprites.png) -32px -58px;
}

.page .bl, .server-details .bl {
    bottom: 0; left: 0;
    background: url(../images/sprites.png) -41px -58px;
}

.server-details {
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    background: #FFFFFF;
    padding: 10px;
    border: 0;
    color: #FC6714;
    position: relative;
}

.server-details p {
    margin: 0;
}

.content {
    margin-right: 250px;
}

.content table.tbl { margin-bottom: 1em; }

.fullwidth .content {
    margin-right: 0px;
}

/* Extra CSS for the homepage */

#triple {
    clear: both;
    margin-top: 20px;
}

#triple .triple-column {
    float: left;
    margin: 0 1%;
    width: 32%;
}

#triple .first-column {
    margin-left: 0;
}

#triple .last-column {
    margin-right: 0;
}

.triple-column img {
    float:left;
    margin: 10px 0 0 2px;
}

.triple-column p {
    margin-left: 70px;
    margin-bottom: 0;
}

.triple-column ul {
    margin-top: 10px;
    margin-left: 60px;
}

.triple-column h2 {
    color: #FFFFFF;
    background-color: #736DAB;
    padding: 5px 0 5px 7px;
    margin: 0;
    border-bottom: 4px solid #FFBA58;
}

#sidebar .triple-column {
    height: 110px;
    margin-bottom: 10px;
}

#sidebar .triple-column img {
    margin: 10px 0 0 10px;
}

#sidebar .triple-column h2 {
    color: #000000;
    background-color: #FFBA58;
    border-bottom: 4px solid #736DAB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.homepage .linkbar {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

div.tabs {
    border-bottom: solid 1px #a1a1a1;
    padding-top: 1em;
    font-size: 95%;
}

.page div.tabs ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
    width: 100%;
    position: relative;
    top: 1px;
}

.page div.tabs ul li {
    float: left;
}

.page div.tabs ul li a {
    display: block;
    padding: 0.1em 0.5em;
    margin-left: 4px;
    text-decoration: none;
    background: #f1f1f1;
    color: #000;
    border: solid 1px #a1a1a1;
    border-bottom: solid 1px #a1a1a1;
}

.page div.tabs ul li.sel a {
    background: #fff;
    color: #000;
    font-weight: bold;
    border-bottom: solid 1px #fff;
}

.page div.tabs ul li a:hover {
    background: #fff;
    color: #000;
}

#sidebar {
    float: right;
    width: 218px;
    font-size: 95%;
}

.homepage #sidebar {
    margin-top: 34px;
    width: 239px;
}

#sidebar p {
    margin-top: 0;
}

#sidebar ul.links {
    margin-left: 0em;
    padding-left: 2em;
}

#footer {
    margin: 1em 0;
    padding: 0 1em;
    font-size: 90%;
    color: #333;
}

#footer a { color: #002BBA; }
#footer a:hover { color: #FC6714; }

#footer ul.links {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

#footer ul.links li {
    float: left;
    margin-right: 1em;
}

#footer p.sponsors {
    text-align: right;
    margin: 0;
}

.page h1 a {
    color: #000;
}

.page .releaseheader .prefix,
.page h1 span.prefix,
.page h1 span.comment
{
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

.artistheader, .releaseheader, .rgheader,
.recordingheader, .labelheader, .workheader {
    padding-left: 38px;
    background: 0 4px no-repeat;
}

.artistheader { background-image: url('../images/aicon_lg.png') }
.releaseheader { background-image: url('../images/licon_lg.png') }
.rgheader { background-image: url('../images/gicon_lg.png') }
.recordingheader { background-image: url('../images/ticon_lg.png') }
.labelheader { background-image: url('../images/bicon_lg.png') }

.tagger-icon img { border: 0; }
.releaseheader .tagger-icon { margin-top: 1em; float: right; }

.annotation {
    margin-top: 1em;
}

.clear { clear: both; }

.c, .page table.tbl .c {
    text-align: center;
}

.noborder {
    border: none !important;
}

/* Used to keep "action links" on one line, e.g. [ Update | Remove ] */
.nowrap {
    white-space: nowrap;
}

p.subheader {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.0em;
    font-size: 96%;
}

p.subheader span { color: #999; }

.lastupdate {
    font-size: 90%;
    color: #999;
    font-style: italic;
}

.page table.tbl tr.mp td,
span.mp {
    background: #FD9;
}

.page table.tbl {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

.page table.tbl th {
    font-size: 95%;
    background: url(../images/table-header.gif) repeat-x 0 50%;
    padding: 0.2em 0.4em;
    text-align: left;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #CCCCCC;
}

.page table.tbl tr.subh td,
.page table.tbl tr.subh th {
    font-size: 95%;
    background: url(../images/table-header-2.gif) repeat-x 0 50%;
    font-weight: bold;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

.page table.tbl th a {
    color: #000;
}

.page table.tbl th:first-child {
    border-left: none;
}

.page table.tbl td {
    padding: 0.2em 0.4em;
}

.page table.tbl tr.ev td {
    padding: 0.2em 0.4em;
    background: #F2F2F2;
}

.page table.tbl th.pos { width: 1em; }
.page table.tbl th.year { width: 4em; }
.page table.tbl th.count { width: 2em; }
.page table.tbl th.rating { width: 50px; }
.page table.tbl th.treleases { width: 3em; }
.page table.tbl .t { text-align: right; }

p.nfo span {
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.credits {
    margin-top: 1em;
}

.credits ul {
    padding-left: 2em;
    margin-top: 0;
}

.exp img {
    border: none;
}
.exp {
    float: left;
}

.pageselector a, .pageselector span {
    font-size: 90%;
    padding: 0.05em 0.4em;
}

.pageselector a {
    border: solid 1px #000;
    text-decoration: none;
    background-color: #FFF;
    color: #000;
}

.pageselector a:hover {
    background-color: #FFBA58;
}

.pageselector a.sel {
    background-color: #FFBA58;
    font-weight: bold;
}

.pageselector span {
    border: solid 1px #999999;
    background-color: #EEEEEE;
    color: #999999;
}

.pageselector em {
    font-style: normal;
}

.pageselector + .tbl {
    margin-top: 0px !important;
}

/*
** BUTTONS
** From http://particletree.com/features/rediscovering-the-button-element/
*/

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-user-rating,
.star-rating .current-rating{
    background: url('../images/rating_star.gif') left -1000px repeat-x;
}

.star-rating{
    position:relative;
    display:block;
    width:125px;
    height:25px;
    overflow:hidden;
    list-style:none;
    margin:0;
    padding:0;
    background-position: 0px 0px;
}

.star-rating li{
    display: inline;
}

.star-rating a,
.star-rating .current-user-rating,
.star-rating .current-rating{
    position:absolute;
    top:0;
    left:0;
    text-indent:-1000em;
    height:25px;
    line-height:25px;
    outline:none;
    overflow:hidden;
    border: none;
}

.star-rating a:hover{
    background-position: 0px -25px;
}

.star-rating a.stars-1{
    width:20%;
    z-index:6;
}

.star-rating a.stars-2{
    width:40%;
    z-index:5;
}

.star-rating a.stars-3{
    width:60%;
    z-index:4;
}

.star-rating a.stars-4{
    width:80%;
    z-index:3;
}

.star-rating a.stars-5{
    width:100%;
    z-index:2;
}

.star-rating .current-rating{
    z-index:1;
    background-position: 0px -75px;
}

.star-rating .current-user-rating{
    z-index:1;
    background-position: 0px -50px;
}

/* for an inline rater */
.inline-rating{
    display:-moz-inline-block;
    display:-moz-inline-box;
    display:inline-block;
}

/* smaller star */
.small-star{
    width:50px;
    height:10px;
}

.small-star,
.small-star a:hover,
.small-star a:active,
.small-star a:focus,
.small-star .current-user-rating,
.small-star .current-rating{
    background-image: url('../images/rating_star_small.gif');
    line-height: 10px;
    height: 10px;
}

.small-star a:hover{
    background-position: 0px -20px;
}

.small-star .current-rating{
    background-position: 0px -30px;
}

.small-star .current-user-rating{
    background-position: 0px -10px;
}

/*
** Browse Entity pages
*/
.browse-entities ol {
    margin: 0;
}

.browse td {
    text-align: center;
}

.browse td.char {
    width: 0.7em;
}

table.details th {
    text-align: right;
    padding-left: 10pt;
    width: 110px;
}

dl.properties {
    margin-bottom: 12pt;
}

dl.properties dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-right: 2pt;
}

dl.properties dd,
dl.properties dt {
    line-height: 200%;
}

dl.search-plugins dt {
    font-weight: bold;
}

dl.search-plugins dt,
dl.search-plugins dd {
    line-height: 200%;
}

dl.profileinfo {
    display: block;
}

dl.profileinfo dt {
    clear: left;
    display: block;
    font-weight: bold;
    float: left;
    width: 125px;
    text-align: right;
    padding: 5px;
}

dl.profileinfo dd {
    clear: right;
    display: block;
    padding: 5px;
    margin-left: 130px;
}

table.statistics {
    float: left;
    margin: 8px;
}

table.details td.new {
    background: #B1EBB0;
}

table.details td.old {
    background: #EBB1BA;
}

table.details td.new,
table.details td.old {
    border: 1px solid #CCC;
}

/*
** CSS columns instead of tables
*/
div.columns-2 div.column {
    float: left;
    width: 50%;
    min-width: 300px;
}
div.columns-3 div.column {
    float: left;
    width: 33.3%;
    min-width: 200px;
}
div.columns-4 div.column {
    float: left;
    width: 25%;
    min-width: 150px;
}
div.columns-5 div.column {
    float: left;
    width: 20%;
    min-width: 120px;
}
