div.multiselect {
    position: relative;
}

div.multiselect > input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.multiselect > div.menu {
    position: absolute;
    background: #E7E7E7;
    border: 1px #ccc solid;
    max-height: 300px;
    overflow-y: scroll;
    cursor: pointer;
    width: 100%;
}

div.multiselect > div.menu > a {
    display: block;
    color: black;
    border: 1px #E7E7E7 dotted;
    text-decoration: none !important;
}

div.multiselect > div.menu > a.hover {
    background: #FC6714;
    color: white;
    border: 1px #FC6714 dotted;
}

div.multiselect > div.menu > a > em {
    background: #FEFFDE;
    font-style: normal;
}

div.multiselect > div.menu > a.hover > em {
    color: #FEFFDE;
    background: inherit;
    font-style: normal;
}

div.multiselect > div.items > a {
    display: block;
    padding: 1px;
    background: #E7E7E7;
    border: 1px #ccc solid;
    cursor: pointer;
    text-decoration: none !important;
    width: 100%;
    margin-bottom: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.multiselect > div.menu > a:focus,
div.multiselect > div.items > a:focus {
    border: 1px #736DAB dotted !important;
}

div.multiselect > div.items > a:focus {
    background: #EEE !important;
}
