#content.rel-editor #tracklist td {vertical-align: top;}
#content.rel-editor #tracklist td.midcol {vertical-align: middle;}
#content.rel-editor div.ars {padding: 0; margin: 0.5em 0; margin-left: 1.5em;}
#content.rel-editor span.link-phrase {color: #000;}
#content.rel-editor span.link-phrase:hover {cursor: pointer; background: #FD9;}
#content.rel-editor #release-rels {margin-top: 1em;}

#content.rel-editor .rel-edit {background: #FD9;}
#content.rel-editor .rel-remove {background: #FF8F8F !important;}
#content.rel-editor .rel-add {background: #B6FFA3;}

#content.rel-editor .remove-button {color: #888; padding: 0 0.5em;}
#content.rel-editor .remove-button:hover {color: #FF8F8F; text-decoration: none;}
#content.rel-editor .remove-button:visited {color: #888;}

#content.rel-editor .btn {
    cursor: pointer;
    vertical-align: top;
    color: #002bba;
    white-space: nowrap;
}
#content.rel-editor .add-rel {margin-top: 0.5em; display: inline-block;}
#content.rel-editor img.bottom {vertical-align: bottom;}
#content.rel-editor .btn.disabled {cursor: default; color: #999;}

#content.rel-editor .warning,
#dialog.rel-editor .warning {
    border: 2px red dotted;
    background: #FBE3E4;
    padding: 0.5em;
    font-weight: bold;
}
#content.rel-editor .error-field {border-bottom: 2px red dotted;}

#dialog.rel-editor {
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid #999;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    background: #fff !important;
    position: absolute !important;
    z-index: 5000 !important;
    display: none;
    padding: 0.8em;
}
#dialog.rel-editor p.msg {display: none; margin: 0.5em 1em 1.5em 1em;}
#dialog.rel-editor span.error,
#dialog.rel-editor div.error {color: #f00;}
#dialog.rel-editor #attrs button {
    background-color: #F0F0F0;
    border: 1px solid #D0D0D0;
    border-top: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
}
#dialog.rel-editor table {border-spacing: 0; width: 100%;}
#dialog.rel-editor table.relationship td {padding: 0.25em 0;}
#dialog.rel-editor table.relationship td.section {
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
    padding-right: 1em !important;
}
#dialog.rel-editor div.ar-descr {max-width: 460px; margin: 6px 0;}
#dialog.rel-editor input.selectFilter {width: 7em;}
#dialog.rel-editor div.attr-select > * {margin: 2px !important;}

#work-options.rel-editor {margin-bottom: 1em;}
#new-work.rel-editor table {
    background: #F9F9F9;
    padding: 4px;
    border: 1px #D0D0D0 dotted;
}

#overlay.rel-editor {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 4000;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: white;
}
