#content.rel-editor #tracklist td {vertical-align: top;}
#content.rel-editor #tracklist td.midcol {vertical-align: middle; font-size: @small-text;}
#content.rel-editor #tracklist input[type="checkbox"] {vertical-align: middle;}
#content.rel-editor #batch-tools {width: 100%; margin: 0.8em;}
#content.rel-editor div.ars {padding: 0; margin: 0.5em 0; margin-left: 1.5em;}
#content.rel-editor #release-rels {margin-top: 1em;}

fieldset#relationship-editor {
    padding: @form-margin;
}

.rel-add { background: @positive-bg; }
.rel-edit { background: @rel-edit; }
.rel-remove { background: @negative-bg; }

#content.rel-editor .btn {
    cursor: pointer;
    vertical-align: top;
    color: @link-default;
    white-space: nowrap;
    text-decoration: none;
}
#content.rel-editor .add-rel {
    display: inline-block;
    margin-left: 1.5em;
    padding-bottom: 0.5em;
}
#content.rel-editor .btn.disabled {cursor: default; color: @button-text;}

#content.rel-editor .warning,
div.relationship-dialog .warning {
    border: 2px red dotted;
    background: @negative-light-bg;
    padding: 0.5em;
    font-weight: bold;
}
#content.rel-editor .error-field {border-bottom: 2px red dotted;}

div.relationship-dialog, div.work-dialog {
    width: 500px;
    fieldset {
        margin: 0px;
        legend {
            font-size: 1rem;
            margin-bottom: 6px;
        }
        table.details th {
            width: auto;
        }
        > p {
            margin: 0px;
        }
    }
    table.relationship-details, table.work-details {
        width: 100%;
        td.section {
            vertical-align: top;
            text-align: right;
            width: 25%;
            padding-right: 0.5em;
            &.required {font-weight: bold;}
        }
        td.fields {
            width: 320px;
        }
        div.autocomplete2 { width: 100%; }
    }
}

div.relationship-dialog {
    h2 {
        text-align: center;
        font-size: @medium-text;
        margin: 0.5em 0;
        border-top: 1px @medium-grey solid;
        padding-top: 0.5em;
    }

    table.relationship-details {
        select.entity-type, input.entity-credit { min-width: 60%; }
        td.fields.end-date div.row {
            /*
             * Remove bottom margin below the ended checkbox, since the
             * "Preview" h2 below already has sufficient margin/padding.
             */
            margin-bottom: 0;
        }
    }
    table.preview.details th {
        width: unset;
    }
    input.attribute-credit {
        width: 130px;
    }
    label.change-credits-checkbox {
        display: flex;
        padding-top: 6px;
        input[type="checkbox"] { margin-top: 1px; }
    }
    div.change-credits-radio-options {
        margin-top: 8px;
        label { display: block; }
    }
    button.change-direction {
        float: right;
    }
    input[type="checkbox"] {
        vertical-align: middle;
    }
}

div.multiselect-value {
    display: flex;
    align-items: center;
}

div.attribute-container {
    button.add-item {
        margin-top: 6px;
    }
}

div.ar-descr {
    width: 95%;
}

button.copy-date {
    background-image: data-uri('../images/icons/down.png');
}

div.relationship-editor, div.release-relationship-editor {
    margin-top: 1em;

    legend button.add-item {
        margin-left: 0;
    }

    table.rel-editor-table {
        width: 100%;

        > tbody > tr {
            &.add-item-row > td {
                margin-bottom: @form-margin;
            }
            > th {
                text-align: right;
                min-width: 160px;
                vertical-align: top;
            }
            > td.relationship-list {
                width: 100%;
                div.relationship-item {
                    display: flex;
                    > button.icon { padding: 1px; }
                    > span { margin-left: 4px; }
                }
            }
        }
    }

    .no-value {
        color: @dark-grey;
        border-bottom: 1px @dark-grey dotted;
    }
}

div.release-relationship-editor {
    td.recording, td.works {
        width: 50%;
    }
}
