.overlay:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #FC6714;
}

.page h1 span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

span.comment {
    font-color: #eee !important;
    font-size: 14px !important;
}

input#release-name {
    font-size: inherit;
}

img.image-button {
    vertical-align: middle;
    margin: 2px;
}
#sidebar select {
    max-width: 11em
}

div.dialog {
    background: white;
    border: 1px solid #aaa;
    padding: 10px;
}

div.lookup-results div.info,
div.lookup-results ul {
    margin-bottom: 10px;
}

div.lookup-results ul {
    padding: 0;
}

div.lookup-results li
{
    display: block;
    padding: 3pt 5pt;
    cursor: pointer;
    border-bottom: 1px dotted #ddd;
}
div.lookup-results li.odd {
    background: #eee;
}

div.lookup-results span.info {
    font-size: 10px;
}

div.lookup-results li:hover {
    background: #FC6714;
    color: white;
}

td.position {
    cursor: move;
}

tr.being-dragged td {
    background: #FC6714 !important;
}

tr.overAbove {
    border-top: 2px solid black !important;
}
tr.overBelow {
    border-bottom: 2px solid black !important;
}
table.dragHelper {
    background: white;
    border: 1px solid black;
}

table#mediums {
    width: 100%;
    border-collapse: collapse;
    margin: 6pt 0;
}

table#mediums table.tbl {
    margin: 6pt 0;
}

.ac-editor table {
    margin: 8pt 0;
}
.ac-editor th {
    text-align: left;
}
.ac-editor input.join {
    width: 3em;
}

div.ac-editor .buttons {
    float: right;
    margin-top: 8pt;
}

.position {
    width: 1.5em;
}
.length {
    width: 5em;
}
.title {
    width: 60%;
}