
h1 span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

#release-editor .form {
    clear: both;
    float: left;
    width: 465px;
    margin: 0;
}

#release-editor .documentation {
    margin-left: 485px;
}

#release-editor fieldset {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    margin-top: 0;
}

/* h2? */
#release-editor fieldset legend {
    color: #fc6714;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px;
}

#release-editor .documentation label,
#release-editor fieldset label.row {
    float: left;
    margin-right: 1em;
    text-align: right;
    width: 11em;
}

#release-editor fieldset label.required {
    font-weight: bold;
}

#release-editor fieldset input,
#release-editor fieldset select {
    font-size: 1em;
    width: 300px;
}

#release-editor fieldset input[type=checkbox],
#release-editor fieldset span.partial-date input {
    width: auto;
}

#release-editor fieldset textarea {
    height: 10px;
    width: 290px;
}

#release-editor fieldset textarea.tracklist {
    height: 250px;
    margin: 0 10px;
    width: 423px;
}

#release-editor fieldset h3 {
    margin: 24px 10px 0;
}

#tracklist-options {
    margin: 10px 0 10px 10px;
}

#release-editor ul.tabs {
    background: url(../images/release_editor/ui-bg_gloss-wave_35_f6a828_500x100.png) repeat-x scroll 50% 50% #F6A828;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e78f08;
    line-height: 1.3;
    padding: 0.2em 0 0 0.3em;
}

#release-editor ul.tabs li input {
    border: 0;
    color: #1c94c4;
    background: white;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}

#release-editor ul.tabs li.current input {
    color: #eb8f00;
}

#release-editor ul.tabs li {
    background: white;
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 0 0.2em 1px 0;
    padding: 0.5em 1em;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#release-editor ul.tabs li.current {
    color: #eb8f00;
    margin: 1px 0.2em 0px 0;
}

.ui-helper-clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.ui-helper-clearfix {
    display:inline-block;
}

* html .ui-helper-clearfix {
    height:1%;
}

.ui-helper-clearfix {
    display:block;
}

#release-editor #editnote  { height: 70px; }

#release-editor fieldset.advanced-disc .medium.tbl td input { border: 1px solid transparent; }
#release-editor fieldset.advanced-disc .medium.tbl td input:focus { border: 1px solid #FFBA58; }

#release-editor div.tracklist-padding { padding: 0 1em 1em 1em; }
#release-editor table.medium.tbl { border-collapse: collapse; width: 100%; }
table.medium.tbl td.position  { width: 2em; }
table.medium.tbl td.length    { width: 5em; }
table.medium.tbl td.delete    { width: 2em; }
#release-editor table.medium.tbl th {
    background:url("../images/table-header-2.gif") repeat-x scroll 0 50% transparent;
    border-bottom:1px solid #999;
    border-left:1px solid #CCC;
    font-size:95%;
    padding:0.2em 0.4em;
    text-align:left;
}
#release-editor .medium.tbl tr td {
    background: #fff;
    border: 1px dotted #eee;
    padding: 0 5px;
}

#release-editor .medium.tbl td input {
    background: #fff;
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
}

#release-editor .medium.tbl td.position input { text-align: right; }
#release-editor .medium.tbl td.length input { text-align: right; }

#release-editor .changes p { margin-top: 0; }
#release-editor .documentation p { margin-top: 0; }
#release-editor table.preview { width: 100%; margin: 0 0 10px 0 }
#release-editor table.preview .duration { padding-left: 10px; }
#release-editor table.preview .trackno {
    padding-right: 10px;
    text-align: right;
}

#release-editor table.basic-format { width: 100%; padding: 0 10px; margin: 10px 0 0 0; }
#release-editor table.basic-format h3 { margin: 0; }
#release-editor table.basic-format td.format { text-align: right; }

#release-editor div.basic-medium-format-and-title div.row {
    display: inline;
}

#release-editor div.basic-medium-format-and-title label { float: none; }

#release-editor .medium.tbl tr.deleted td,
#release-editor .medium.tbl tr.deleted td input { color: #aaa; text-decoration: line-through; }

/* __________________________________

          ARTIST CREDIT EDITOR
   __________________________________ */

#release-editor .medium.tbl tr.track-artist-credit,
#release-editor .medium.tbl tr.track-artist-credit th,
#release-editor .medium.tbl tr.track-artist-credit td { padding: 0; margin: 0; border: 0; }

#release-editor .medium.tbl tr.track-artist-credit,
#release-editor .medium.tbl tr.track-artist-credit > td { background-color: #f0f0f0; }
#release-editor .medium.tbl tr.track-artist-credit > td { padding: 1em; }
#release-editor .medium.tbl tr.track-artist-credit th { background: inherit; }

#release-editor div.artist-credit-vertical,
#release-editor .medium.tbl tr.track-artist-credit td table {
    margin: 0; padding: 1em; border: 1px solid #999;
    background: #fff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

#release-editor .documentation div.artist-credit { width: 100%; margin-top: 5em; }
#release-editor div.artist-credit-vertical { background: #f0f0f0; }
#release-editor div.artist-credit-vertical div.row { clear: none; }


/* little speech balloon "tail" to visibly associate the artist credit
   editor with the artist input field. */

div.artist-credit .ac-balloon0 { position: relative; }
div.artist-credit .ac-balloon1 {
    width: 14px; height: 42px; background: #eee;
    padding: 0; margin: 0; position: absolute; left: -12px; top: 16px;
}
div.artist-credit .ac-balloon2 {
    background: green;
    width: 12px; height: 20px; float: left; background: #fff;
    padding: 0; margin: 0;
    border-style: solid; border-width: 0 1px 1px 0; border-color: #999;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    border-bottom-right-radius: 12px;
}
div.artist-credit .ac-balloon3 {
    background: blue;
    width: 12px; height: 20px; float: left; background: #fff;
    padding: 0; margin: 0;
    border-style: solid; border-width: 1px 1px 0 0; border-color: #999;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topright: 12px;
    border-top-right-radius: 12px;
}

tr.track-artist-credit .ac-balloon0 { position: relative; margin-top: 4px; }
tr.track-artist-credit .ac-balloon1 {
    width: 42px; height: 14px; background: #fff;
    padding: 0; margin: 0; position: absolute; left: 550px; bottom: -2px;
}
tr.track-artist-credit .ac-balloon2 {
    width: 20px; height: 12px; float: left; background: #eee;
    padding: 0; margin: 0;
    border-style: solid; border-width: 0 1px 1px 0; border-color: #999;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    border-bottom-right-radius: 12px;
}
tr.track-artist-credit .ac-balloon3 {
    width: 20px; height: 12px; float: left; background: #eee;
    padding: 0; margin: 0;
    border-style: solid; border-width: 0 0 1px 1px; border-color: #999;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-left-radius: 12px;
}

/* __________________________________

            PREVIEW CHANGES
   __________________________________ */

span.add-recording { color: #aaa; }
#release-editor table.medium.tbl.preview-changes tr td { vertical-align: top; }
#release-editor table.medium.tbl.preview-changes tr td span.old { color: #aaa; }
#release-editor table.medium.tbl.preview-changes tr td span.change-recording { color: #aaa; }
#release-editor table.medium.tbl.preview-changes tr td { padding: 0.2em; }
#release-editor table.medium.tbl.preview-changes tr td.position { width: 2em; text-align: right; }
#release-editor table.medium.tbl.preview-changes tr td.position-from { width: 3em; }
#release-editor table.medium.tbl.preview-changes tr td.track { width: 30%; }
#release-editor table.medium.tbl.preview-changes tr td.track-artist { width: 24%; }
#release-editor table.medium.tbl.preview-changes tr td.recording { width: 30%; }
#release-editor table.medium.tbl.preview-changes tr td.length { width: 3em; text-align: right; padding-right: 1em; }

#release-editor .preview-changes tr.select-recording,
#release-editor .preview-changes tr.select-recording th,
#release-editor .preview-changes tr.select-recording td { padding: 0; margin: 0; border: 0; }

#release-editor .preview-changes tr.select-recording,
#release-editor .preview-changes tr.select-recording > td { background-color: #f0f0f0; }
#release-editor .preview-changes tr.select-recording > td { padding: 1em; }
#release-editor .preview-changes tr.select-recording th { background: inherit; }

#release-editor .preview-changes div.select-recording input { border: 1px solid #999; }

#release-editor div.artist-credit-vertical,
#release-editor .preview-changes tr.select-recording td div.select-recording  {
    margin: 0 0 1em auto; padding: 0em 2em 1em; border: 1px solid #999;
    background: #fff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

tr.recordingmatch td.select { width: 5em; }
tr.recordingmatch td.name { width: 30%; }
tr.recordingmatch td.artist { width: 20%; }
tr.recordingmatch td.release { width: 30%; }
tr.recordingmatch td.pos { width: 6em; text-align: right; }
tr.recordingmatch td.length { width: 4em; text-align: right; }


/* little speech balloon "tail" to visibly associate the artist credit
   editor with the artist input field. */

tr.select-recording .ac-balloon0 { position: relative; margin-top: 14px; }
tr.select-recording .ac-balloon1 {
    width: 42px; height: 14px; background: #fff;
    padding: 0; margin: 0; position: absolute; left: 760px; bottom: -2px;
}
tr.select-recording .ac-balloon2 {
    width: 20px; height: 12px; float: left; background: #eee;
    padding: 0; margin: 0;
    border-style: solid; border-width: 0 1px 1px 0; border-color: #999;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    border-bottom-right-radius: 12px;
}
tr.select-recording .ac-balloon3 {
    width: 20px; height: 12px; float: left; background: #eee;
    padding: 0; margin: 0;
    border-style: solid; border-width: 0 0 1px 1px; border-color: #999;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-left-radius: 12px;
}


/* __________________________________

                BUTTONS
   __________________________________ */

a.disc-remove-track,
a.disc-remove-track img,
a.disc-add-track,
a.disc-add-track img {
    cursor: pointer;
    border: 0;
    margin: 0;
}

a.disc-remove-track img { opacity: 0.2; }
a.disc-add-track img { opacity: 0.4; }

a.disc-add-track:focus img,
a.disc-add-track:hover img,
a.disc-remove-track:focus img,
a.disc-remove-track:hover img {
    opacity: 1;
}

.buttons a, .buttons input[type=submit] {
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons input[type=submit] {
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons input[type=submit] {
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html input[type=submit] {
    padding:4px 10px 3px 7px; /* IE7 */
}

/* STANDARD */

input[type=submit]:focus, .buttons a:focus,
input[type=submit]:hover, .buttons a:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

.buttons a:active {
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

.buttons input[type=submit].positive,
.buttons a.positive { color: #529214; }
.buttons input[type=submit].positive:focus,
.buttons input[type=submit].positive:hover,
.buttons a.positive:focus,
.buttons a.positive:hover {
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}

/* NEGATIVE */

.buttons input[type=submit].negative,
.buttons a.negative { color: #d12f19; }
.buttons input[type=submit].negative:focus,
.buttons input[type=submit].negative:hover,
.buttons a.negative:focus,
.buttons a.negative:hover {
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
