/*
 * Search results (from external search)
 */
table.searchresults {
    width: 100%;
    border-collapse: collapse;
}
table.searchresults .searchresultsheader td {
    font-weight: bold;
}
table.searchresults td {
    padding: 3pt 5pt;
}
table.searchresults .searchresultsodd {
    background: #eaeaea;
}

div.box .searchform {
    float: left;
    width: 50%;
}

div.box .searchinfo {
    margin-left: 50%;
}
