table.statistics {
    border-collapse: collapse;
    margin-bottom: 12pt;
}

table.statistics,
table.statistics td,
table.statistics th {
    border: 0px;
}

table.statistics td,
table.statistics th {
    padding: 5pt;
}

table.statistics th,
table.statistics tfoot {
    background: #eee;
}

table.statistics thead th,
table.statistics tbody td {
    text-align: center;
}

table.statistics th.odd_col {
    background: #e0e0e0;
}

table.statistics th.even_col {
    background: #f3f3f3;
}

table.statistics td.odd_col {
    background: #eaeaea;
}

table.statistics tr.separator th {
    background: #d0d0d0;
}
