/*
** BUTTONS
** From http://particletree.com/features/rediscovering-the-button-element/
*/

.buttons { display: inline-block; }

.buttons a { text-align: center; }

.buttons a,
.buttons button,
.buttons input[type=submit],
.buttons input[type=button] {
    float:left;
    margin:0 7px 0 0;
    background-color:#F0F0F0;
    border:1px solid #D0D0D0;
    border-top:1px solid #EAEAEA;
    border-left:1px solid #EAEAEA;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button,
.buttons input[type=submit],
.buttons input[type=button] {
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons input[type],
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html input[type],
*:first-child+html button[type] {
    padding:4px 10px 3px 7px; /* IE7 */
}

.buttons a img,
.buttons button img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* Standard */
.buttons a:focus, .buttons input[type=submit]:focus, .buttons button:focus,
.buttons a:hover, .buttons input[type=submit]:hover, .buttons button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active {
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* Positive */
.buttons a.positive,
.buttons input[type=submit].positive,
.buttons input[type=button].positive,
.buttons button.positive { color:#529214; }
.buttons a.positive:hover,                  .buttons a.positive:focus,
.buttons input[type=button].positive:hover, .buttons input[type=button].positive:focus,
.buttons input[type=submit].positive:hover, .buttons input[type=submit].positive:focus,
.buttons button.positive:hover,             .buttons button.positive:focus {
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active {
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* Negative */
.buttons a.negative,
.buttons input[type=button].negative,
.buttons input[type=submit].negative,
.buttons button.negative { color:#d12f19; }
.buttons a.negative:hover,                  .buttons a.negative:focus,
.buttons input[type=button].negative:hover, .buttons input[type=button].negative:focus,
.buttons input[type=submit].negative:hover, .buttons input[type=submit].negative:focus,
.buttons button.negative:hover,             .buttons button.negative:focus {
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active {
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* Special */

/* Buttons that should be inline (e.g. with an input or select) */
.buttons.inline button {
    float: none;
    padding: 2px 6px;
}

/* Legacy styling
   Inputs that use this shoud be converted to buttons */
form div.row input[type=button],
form input[type=button],
form input[type=submit] {

    color:#565656;
    background-color:#F0F0F0;
    border:1px solid #D0D0D0;
    border-top:1px solid #EAEAEA;
    border-left:1px solid #EAEAEA;

    cursor:pointer;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none;
    font-weight:bold;

    margin-top: 6px;
}

input[type=button].disabled,
input[type=submit].disabled,
button.disabled, button[disabled],
button.disabled:hover, button[disabled]:hover {
    color: #aaa !important;
    border: 1px solid #EAEAEA !important;
    background-color: #F0F0F0 !important;
    cursor: default !important;
}

/*
** RATINGS
*/

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-user-rating,
.star-rating .current-rating {
    background: url('../images/icons/rating_star.gif') left -1000px repeat-x;
}

.star-rating {
    position:relative;
    display:block;
    width:125px;
    height:25px;
    overflow:hidden;
    list-style:none;
    margin:0;
    padding:0;
    background-position: 0px 0px;
}

.star-rating li {
    display: inline;
}

.star-rating a,
.star-rating .current-user-rating,
.star-rating .current-rating {
    position:absolute;
    top:0;
    left:0;
    text-indent:-1000em;
    height:25px;
    line-height:25px;
    outline:none;
    overflow:hidden;
    border: none;
}

.star-rating a:hover {
    background-position: 0px -25px;
}

.star-rating a.stars-1 {
    width:20%;
    z-index:6;
}

.star-rating a.stars-2 {
    width:40%;
    z-index:5;
}

.star-rating a.stars-3 {
    width:60%;
    z-index:4;
}

.star-rating a.stars-4 {
    width:80%;
    z-index:3;
}

.star-rating a.stars-5 {
    width:100%;
    z-index:2;
}

.star-rating .current-rating {
    z-index:1;
    background-position: 0px -75px;
}

.star-rating .current-user-rating {
    z-index:1;
    background-position: 0px -50px;
}

/* for an inline rater */
.inline-rating {
    display:-moz-inline-block;
    display:-moz-inline-box;
    display:inline-block;
}

/* smaller star */
.small-star {
    width:50px;
    height:10px;
}

.small-star,
.small-star a:hover,
.small-star a:active,
.small-star a:focus,
.small-star .current-user-rating,
.small-star .current-rating {
    background-image: url('../images/icons/rating_star_small.gif');
    line-height: 10px;
    height: 10px;
}

.small-star a:hover {
    background-position: 0px -20px;
}

.small-star .current-rating {
    background-position: 0px -30px;
}

.small-star .current-user-rating {
    background-position: 0px -10px;
}

/*
** Tag cloud
*/

ul.tag-cloud {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2em;
    text-align: justify;
}

ul.tag-cloud li {
    list-style-image: none;
    list-style-type: none;
    display: inline;
    padding: 2px;
}

ul.tag-cloud li.tag1 { font-size: 0.75em; }
ul.tag-cloud li.tag2 { font-size: 1em; }
ul.tag-cloud li.tag3 { font-size: 1.3em; }
ul.tag-cloud li.tag4 { font-size: 1.7em; }
ul.tag-cloud li.tag5 { font-size: 1.7em; font-weight: bold; }
ul.tag-cloud li.tag6 { font-size: 2em; font-weight: bold;}
ul.tag-cloud li.tag7 { font-size: 2.5em; font-weight: bold; }

/*
** "Relate to ..." popup.
*/
div.relate-to {
    position: relative;
    left: -180px;
    top: 4px;
    width: 320px;
    background: #f0f0f0;
    padding: 10px 7px 7px 10px;
    border: 1px solid #999;
    z-index: 10;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/*
** Favicons
*/

ul.favicons {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.favicons li {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

ul.favicons li img {
    vertical-align: middle;
}

/*
** Misc
*/

#recaptcha_widget_div {
    display: inline-block;
}

ul.ui-autocomplete.ui-menu {
    max-height: 300px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    z-index: 5001 !important;
}
