body {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 12.5px;
    line-height: 1.5em;
    margin: 0;
    width: 100%;
}

p {
    margin: 0;
    margin-bottom: 5pt;
}

a {
    color: #534D8B;
    text-decoration: none;
}

a img { border: none; }

a:hover {
    text-decoration: underline;
}

#header {
    background: #736DAB;
    border-bottom: 1px solid #000;
    margin: 0; padding: 0;
}

#footer {
    clear: both;
}

#footer-bar {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    margin-bottom: 10pt;
    overflow: hidden;
    background: #FFBA58;
    padding: 3pt;
}

#footer-bar a {
    color: #997035;
}

#footer-bar a:hover {
    color: #000;
    text-decoration: none;
}

#footer-bar li {
    list-style-type: none;
    float: left;
    width: 20%;
    text-align: center;
}

#creditsBar {
    clear: both;
    color: #BBB;
    margin: 0 1em;
    margin-bottom: 1em;
}

#creditsBar a, #footerNotes a {
    font-weight: bold;
    color: #BBB;
}

#creditsBar a:hover, #footerNotes a:hover {
    color: #555;
}

#creditsBar li {
    text-align: center;
    list-style-type: none;
}
#creditsBar li.left { float: left;}
#creditsBar li.right { float: right; }

#sidebar {
    width: 130px;
    background: #DDD;
    border-right: 1px solid #000;
    color: #050505;
    font-size: 9pt;
    margin-bottom: 20pt;
}

#sidebar .sidebar-module {
    border-bottom: 1px solid #000;
    padding: 6pt;
}

#sidebar label {
    font-size: 8pt;
}

#sidebar input, #sidebar select {
    width: 50pt;
    background: #eee;
    border: 1px inset;
    font-size: 8pt;
}

#sidebar img {
    margin: auto;
    display: block;
    margin-bottom: 2pt;
}

#sidebar h3 {
    background: #BBB;
    margin: 0;
    padding: 5pt;
    border-bottom: 1px solid #000;
    font-size: 8pt;
    padding: 0pt 4pt;
}

#sidebar h3 a:visited,
#sidebar h3 a:active,
#sidebar h3 a:hover,
#sidebar h3 a:link {
    color: #000;
}

#sidebar h3 a:hover { text-decoration: underline; }

#sidebar a {
    color: #555;
}

#sidebar a:hover {
    color: #000;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    list-style-type: none;
}

#sidebar ul ul {
    padding: 0;
    padding-left: 10pt;
}

#container {
    width: 100%;
    float: right;
    margin-left: -200px;
}

#content {
    margin-left: 140px;
    padding: 15px;
}

div.box, #content form fieldset {
    border: 1px solid #FFBB55;
    margin-bottom: 16pt;
}

div.box h2, #content form legend {
    border-bottom: 1px solid #FFBB55;
    margin: 0;
    padding: 2pt 4pt;
    background: url(/static/images/header-bg-orangefade.gif) repeat-y;
    font-size: 10pt;
}

div.purple h2 {
    background: url(/static/images/header-bg-lightpurplefade.gif) repeat-y;
    border-bottom: 1px solid #736DAB;
}

div.purple {
    border: 1px solid #736DAB;
}

div.box div.content {
    padding: 5pt;
}

#content form.generic p {
    clear: both;
}
#content form.generic .labelRight {
    margin-left: 110pt;
}

#content form.generic label {
    float: left;
    text-align: right;
    margin-right: 10pt;
    width: 100pt;
}

#content form .required {
    font-weight: bold;
}

#content form .error {
    color: #ff0000;
}

#content form.generic .labelRight {
    margin-left: 110pt;
}
#content form.generic .labelRight label {
    width: auto;
    float: none;
    text-align: left;
    margin: 0;
}

.entity_header {
    border: 1px solid #000;
    background-color: #F0EFFF;
    color: #000;
    width: 100%;
    margin-bottom: 1em;
    padding-top: 5px;
}

.entity_header div.title a {
    color: #000;
}

.entity_header div.title {
    padding-left: 5px;
    font-size: 25pt;
}

.entity_header div.info {
    padding-left: 5px;
    padding-top: 3px;
    font-size: 8pt;
}

.infoLinks,
.editLinks {
    padding: 1pt 5pt;
}

.editLinks {
    border-top: 1px solid #000;
    background-color: #FFECD6;
}

div.TagsBox {
    background-color: #F0F6FF;
    color; #000;
    border: 1px solid #000;
    margin-bottom: 1em;
    padding: 0.2em;
}

div.RelationshipBox {
    padding: 5px;
    background-color: #EFE8E2;
    color: #000;
    border: 1px solid;
    margin-bottom: 1em;
}

span.artist_icon,
span.release_icon,
span.label_icon,
span.track_icon {
    padding-left: 16px;
    background-position: 0px 65%;
    background-repeat: no-repeat;
}

span.artist_icon { background-image: url("/static/images/entity/artist_small.gif"); }
span.release_icon { background-image: url("/static/images/entity/release_small.gif"); }
span.label_icon { background-image: url("/static/images/entity/label_small.gif"); }
span.track_icon { background-image: url("/static/images/entity/track_small.gif"); }

div.compactreleasetype {
    color: #000;
    font-weight: bold;
    padding: 1pt 5pt;
    background: url(/static/images/header-bg-orangefade.gif) repeat-y;
}

div.releasetype {
    background: #736DAB;
    color: #FFF;
    border: 1px solid #000;
    font-weight: bold;
    margin: 1em 0;
    padding: 2px 4px;
}

div.release {
    position: relative;
    border: 1px solid #000;
    margin-bottom: 10px;
}

div.release table {
    border-bottom: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

div.release table tr {
    border-bottom: 1px solid black;
}

div.release table .number,
div.release table .artist,
div.release table .title {
    border-right: 1px solid #aaa;
}

div.release table td {
    padding: 2pt 3pt;
    vertical-align: top;
}

div.release table .number {
    width: 15pt;
    text-align: center;
}

div.release table .duration {
    width: 40pt;
    text-align: center;
}

div.release table .editinglinks {
    border-left: 1px solid #aaa;
    width: 150pt;
}

div.releaseinfo div {
    padding: 2pt 3pt;
}

div.releaseinfo .tracks {
    float: left;
}
div.releaseinfo .right {
    text-align: right;
}

div.releasename {
    background: #FFBA68;
    border-bottom: 1px solid #000;
    padding: 1pt 5pt;
    color: #736DAB;
    font-weight: bold;
}

div.releaseinfo {
    padding: 1px;
    background: #F0EFFF;
}

div.releasetags {
    background: #F0EFFF;
    padding: 1pt 5pt;
    border-bottom: 1px solid black;
}

div.release .editLinks { border-bottom: 1px solid black; }

div.bio { 
    width: 90%;
    border: 1px dotted #CCC; 
    padding: 0px 5px 5px 5px; 
}

table.appears {
    width: 100%;
    margin-bottom: 1em;
}

table.appears .year {
    width: 60pt;
    text-align: center;
}

table.appears .artist {
    text-align: left;
    width: 200pt;
}

table.appears .title {
    text-align: left;
}

.release_tracks ul {
    padding: 0;
    margin: 0;
}

.release_tracks ul,
.release_tracks .more_relationships {
    margin-left: 15pt;
    font-size: 8pt;
}

.release_tracks ul li {
    list-style-type: none;
}

ul.tagcloud li {
    display: inline;
    padding-right: 10pt;
    list-style-type: none;
}

table.details th {
    text-align: right;
    padding-right: 10pt;
}
