[%- WRAPPER 'layout.tt' title=l('Open Edits') full_width=1 -%]
    <div id="content">
        <h1>[% l('Open Edits') %]</h1>
        [%~ React.embed(c, 'edit/components/EditList', {
            editCountLimit => edit_count_limit,
            edits => React.to_json_array(edits),
            guessSearch => 1,
            page => 'open',
            pager => React.serialize_pager(pager),
            refineUrlArgs => React.to_json_object(refine_url_args),
        }) ~%]
    </div>
[%- END -%]
