[% BLOCK wfield %]
<span class="field field-[% field %] predicate-[% predicate %]" style="display: none">
  [%- content -%]
</span>
[% END %]

[% BLOCK search_form %]
<form action="[% c.req.uri.path %]" method="get" id="edit-search">
  <p>
    [%- MACRO selected_if_matches(value, to_match, true_if_undef) BLOCK;
        ' selected="selected"' IF (!to_match && true_if_undef) || value == to_match;
    END -%]

    [%- autoedit_select_block = '<select name="auto_edit_filter">
      <option value=""'  _ selected_if_matches('', query.auto_edit_filter, 1)  _ '>' _ l('edits')          _ '</option>
      <option value="1"' _ selected_if_matches('1', query.auto_edit_filter) _ '>' _ l('auto-edits')     _ '</option>
      <option value="0"' _ selected_if_matches('0', query.auto_edit_filter) _ '>' _ l('non-auto-edits') _ '</option>
    </select>' -%]
    [%- sort_select_block = '<select name="order">
      <option value="desc"' _ selected_if_matches('desc', query.order, 1) _ '>' _ l('newest first') _ '</option>
      <option value="asc"'  _ selected_if_matches('asc', query.order)  _ '>' _ l('oldest first') _ '</option>
      <option value="rand"' _ selected_if_matches('rand', query.order) _ '>' _ l('randomly')     _ '</option>
    </select>' -%]
    [%- match_or_negation_block = '<select name="negation">
      <option value="0"' _ selected_if_matches('0', query.negate, 1) _ '>' _ l('match')        _ '</option>
      <option value="1"' _ selected_if_matches('1', query.negate)    _ '>' _ l('do not match') _ '</option>
    </select>' -%]
    [%- and_vs_or_block = '<select name="combinator">
      <option value="and"' _ selected_if_matches('and', query.combinator, 1) _ '>' _ l('all') _ '</option>
      <option value="or"'  _ selected_if_matches('or', query.combinator)  _ '>' _ l('any') _ '</option>
    </select>' -%]
    [%- l('Show me {autoedit_select_block} sorted {sort_select_block} that
          {match_or_negation_block} {and_vs_or_block} of the following
          conditions:',
        { autoedit_select_block => autoedit_select_block,
          sort_select_block => sort_select_block,
          match_or_negation_block => match_or_negation_block,
          and_vs_or_block => and_vs_or_block }) -%]
  </p>

  <ul class="conditions">
    [% FOR field=query.fields %]
    <li class="condition">
      [% PROCESS remove %]
      [% select_field(field) %]
      <span class="field-container">
        [% SWITCH field.meta.name;
             CASE 'MusicBrainz::Server::EditSearch::Predicate::ID';
               SWITCH field.field_name;
                 CASE 'yes_votes';
                   predicate_int(field.field_name, field);
                 CASE 'no_votes';
                   predicate_int(field.field_name, field);
                 CASE DEFAULT;
                   predicate_id(field.field_name, field);
               END;
             CASE 'MusicBrainz::Server::EditSearch::Predicate::Set';
               SWITCH field.field_name;
                 CASE 'type';
                   predicate_set(field.field_name, edit_types, field);
                 CASE 'status';
                   predicate_set(field.field_name, status, field);
               END;
             CASE 'MusicBrainz::Server::EditSearch::Predicate::ReleaseQuality';
               predicate_set(field.field_name, quality, field);
             CASE 'MusicBrainz::Server::EditSearch::Predicate::Date';
               predicate_date(field.field_name, field);
             CASE 'MusicBrainz::Server::EditSearch::Predicate::Editor';
               predicate_link(field.field_name, field);
             CASE 'MusicBrainz::Server::EditSearch::Predicate::Vote';
               predicate_vote(field.field_name, field);
             CASE 'MusicBrainz::Server::EditSearch::Predicate::ReleaseLanguage';
               predicate_release_language(field.field_name, field);
             CASE 'MusicBrainz::Server::EditSearch::Predicate::ArtistArea';
               predicate_link(field.field_name, field, 'area');
             CASE 'MusicBrainz::Server::EditSearch::Predicate::LabelArea';
               predicate_link(field.field_name, field, 'area');
             CASE 'MusicBrainz::Server::EditSearch::Predicate::ReleaseCountry';
               predicate_country(field.field_name, field);
             CASE 'MusicBrainz::Server::EditSearch::Predicate::RelationshipType';
               predicate_link_type(field.field_name, field);
             CASE 'MusicBrainz::Server::EditSearch::Predicate::EditorFlag';
               predicate_editor_flag(field.field_name, field);
             CASE 'MusicBrainz::Server::EditSearch::Predicate::AppliedEdits';
               predicate_int(field.field_name, field);
           END %]
        [% IF field.does('MusicBrainz::Server::EditSearch::Predicate::SubscribedEntity');
             predicate_subscription(field.field_name, field);
           ELSIF field.does('MusicBrainz::Server::EditSearch::Predicate::LinkedEntity');
             predicate_link(field.field_name, field);
           END %]
      </span>
      [% UNLESS field.valid %]
        <p>[% l('Oops! It seems your search parameters are not correct, please double check your input!') %]</p>
      [% END %]
    </li>
    [% END %]
    <li id="extra-condition">
      [% PROCESS remove %]
      [% select_field() %]
      <span class="field-container">
        <span class="field"></span>
      </span>
    </li>
  </ul>

  <span id="edit-search-submit">[% form_submit(l('Search')) %]</span>
</form>
[% PROCESS template_fields %]
[% END %]

[% BLOCK remove %]
<button type="button" class="icon remove">
  <div class="remove-item icon img" title="[% l('Delete') %]"></div>
</button>
[% END %]

[% MACRO operators(operators, field_contents) BLOCK %]
  <select name="operator" class="operator">
    [% FOR operator=operators %]
    <option
       [%~ ' selected="selected"' IF field_contents.operator == operator.0 =%]
       value="[% html_escape(operator.0) %]">[% html_escape(operator.1) %]</option>
    [% END %]
  </select>
[% END %]

[% MACRO predicate_id(field, field_contents) WRAPPER wfield predicate='id' %]
  [% operators([ [ '=', l('is') ],
                 [ '!=', l('is not') ],
                 [ '>', l('is after') ],
                 [ '<', l('is before') ],
                 ['BETWEEN', l('is between') ] ], field_contents) %]

  <span style="display:none" class="arg">
    <input type="number" name="args.0" size="10" value="[% html_escape(field_contents.argument(0)) %]" />
  </span>

  <span style="display:none" class="arg">
    &#x2013;
    <input type="number" name="args.1" size="10" value="[% html_escape(field_contents.argument(1)) %]" />
  </span>
[% END %]

[% MACRO predicate_int(field, field_contents) WRAPPER wfield predicate='id' %]
  [% operators([ [ '=', l('is') ],
                 [ '!=', l('is not') ],
                 [ '>', l('is more than') ],
                 [ '<', l('is less than') ],
                 ['BETWEEN', l('is between') ] ], field_contents) %]

  <span style="display:none" class="arg">
    <input type="number" name="args.0" size="6" value="[% html_escape(field_contents.argument(0)) %]" />
  </span>

  <span style="display:none" class="arg">
    &#x2013;
    <input type="number" name="args.1" size="6" value="[% html_escape(field_contents.argument(1)) %]" />
  </span>
[% END %]

[% MACRO predicate_date(field, field_contents) WRAPPER wfield predicate="date" %]
  [% operators([ [ '=', l('on') ],
                 [ '!=', l('is not') ],
                 [ '>', l('after') ],
                 [ '<', l('before') ],
                 [ 'BETWEEN', l('between') ] ], field_contents) %]

  <span style="display:none" class="arg">
    <input type="text" name="args.0" size="12" value="[% html_escape(field_contents.argument(0)) %]" />
  </span>

  <span style="display:none" class="arg">
    &#x2013;
    <input type="text" name="args.1" size="12" value="[% html_escape(field_contents.argument(1)) %]" />
  </span>
[% END %]

[% MACRO predicate_set(field, set_contents, field_contents) WRAPPER wfield predicate="set" %]
  [% operators([ [ '=', l('is') ]
                 [ '!=', l('is not') ] ], field_contents) %]
  <select name="args" multiple="multiple">
    [% FOR item=set_contents %]
    <option value="[% html_escape(item.0) %]"
            [% 'selected="selected"' IF field_contents.find_argument(item.0).defined %]
            >[% l(html_escape(item.1)) %]</option>
    [% END %]
  </select>
[% END %]

[% MACRO predicate_release_language(field, field_contents) WRAPPER wfield predicate="set" %]
  [% operators([ [ '=', l('is') ]
                 [ '!=', l('is not') ] ], field_contents) %]
  <select name="args" multiple="multiple">
    [% FOR language=languages %]
    <option value="[% language.id %]"
            [% 'selected="selected"' IF field_contents.find_argument(language.id) %]
            >[% html_escape(language.l_name) %]</option>
    [% END %]
  </select>
[% END %]

[% MACRO relationship_node(node, pad, field_contents) BLOCK; %]
  [% FOR child=node.children %]
    <option value="[% child.id %]"
            [% 'selected="selected"' IF field_contents.find_argument(child.id) %]>
      [%- pad _ child.name -%]</option>
    [% relationship_node(child, pad _ '&#xa0;&#xa0;', field_contents) %]
  [% END %]
[% END %]

[% MACRO predicate_link_type(field, field_contents) WRAPPER wfield predicate="set" %]
  [% operators([ [ '=', l('is') ] ], field_contents) %]

  <select name="args" multiple="multiple">
    [% FOR type_group=relationship_type %]
      <optgroup label="[% type_group.name %]">
        [% relationship_node(top_level, '', field_contents)
             FOR top_level=type_group %]
      </optgroup>
    [% END %]
  </select>

  <br />
  <p>[% l('Note: only searches edits that: add or edit relationships, created after 2011-05-16; or which remove relationships, created after 2013-07-08.') %]</p>
[% END %]

[% MACRO predicate_link(field, field_contents, autocomplete_name) WRAPPER wfield predicate="set" %]
  [%- autocomplete_name = autocomplete_name.defined ? autocomplete_name : field | replace('_', '-') -%]
  [% operators([ [ '=', l('is') ]
                 [ '!=', l('is not') ] ], field_contents) %]

  <span class="autocomplete [% autocomplete_name %]">
      <img class="search" src="[% c.uri_for("/static/images/icons/search.png") %]" alt="[% l('Search') %]" />
      <input type="text" class="name" name="name" value="[% html_escape(field_contents.name) %]" style="width: 170px;" />
      <input type="hidden" class="gid" />
      <input type="hidden" class="id" name="args.0" value="[% html_escape(field_contents.argument(0)) %]" />
  </span>
[% END %]

[% MACRO predicate_vote(field, field_contents) WRAPPER wfield predicate="vote" %]
  [% operators([ [ '=', l('is') ]
                 [ '!=', l('is not') ] ], field_contents) %]
  <input type="hidden" name="voter_id" value="[% c.user.id %]" />
  <select name="args" multiple="multiple">
    [% FOR item=[ [  2,   lp('Approve', 'vote') ]
                , [  1,   lp('Yes', 'vote') ]
                , [  0,   lp('No', 'vote') ]
                , [ -1,   lp('Abstain', 'vote') ]
                , [ 'no', l('No vote') ]
                ] %]
    <option value="[% html_escape(item.0) %]"
            [% 'selected="selected"' IF field_contents.find_argument(item.0).defined %]
            >[% html_escape(item.1) %]</option>
    [% END %]
  </select>
[% END %]

[% MACRO predicate_subscription(field, field_contents) WRAPPER wfield predicate="subscription" %]
  [% operators([ [ '=', l('is') ]
               , [ '!=', l('is not') ]
               , [ 'subscribed', l('is in my subscriptions') ]
               ], field_contents) %]

  <span class="arg autocomplete [% field | replace('_', '-') %]">
      <img class="search" src="[% c.uri_for("/static/images/icons/search.png") %]" alt="[% l('Search') %]" />
      <input type="text" class="name" name="name" value="[% html_escape(field_contents.name) %]" style="width: 170px;" />
      <input type="hidden" class="gid" />
      <input type="hidden" class="id" name="args.0" value="[% html_escape(field_contents.argument(0)) %]"  />
  </span>
  <input type="hidden" name="user_id" value="[% c.user.id %]"  />
[% END %]

[% MACRO predicate_country(field, field_contents) WRAPPER wfield predicate="set" %]
  [% operators([ [ '=', l('is') ]
                 [ '!=', l('is not') ] ], field_contents) %]
  <select name="args" multiple="multiple">
    [%- FOR country=countries -%]
    <option value="[% country.id %]"
            [%- 'selected="selected"' IF field_contents.find_argument(country.id) %]>
        [%- html_escape(country.l_name) -%]</option>
    [%- END -%]
  </select>
[% END %]

[% MACRO predicate_editor_flag(field, field_contents) WRAPPER wfield predicate="set" %]
  [% operators([ [ '=', l('is') ]
                 [ '!=', l('is not') ] ], field_contents) %]
  <select name="args" multiple="multiple">
    [% FOR item=[ [   1,   l('Auto-Editor') ]
                , [   2,   l('Bot') ]
                , [   4,   l('Untrusted') ]
                , [   8,   l('Relationship Editor') ]
                , [  32,   l('Wiki Transcluder') ]
                , [ 256,   l('Location Editor') ]
                ] %]
    <option value="[% html_escape(item.0) %]"
            [% 'selected="selected"' IF field_contents.find_argument(item.0).defined %]
            >[% html_escape(item.1) %]</option>
    [% END %]
  </select>
[% END %]

[% MACRO select_field(field_contents) BLOCK %]
  <select name="field" class="field">
    [% UNLESS field_contents %]
      <option>[% l('Please choose a condition') %]</option>
    [% END %]
    [% FOR field=[ [ 'id', l('ID') ],
                   [ 'open_time', l('Created') ],
                   [ 'expire_time', l('Expired') ],
                   [ 'close_time', l('Closed') ],
                   [ 'status', lp('Status', 'edit status') ],
                   [ 'type', l('Type') ],
                   [ 'no_votes', l('No vote count') ],
                   [ 'yes_votes', l('Yes vote count') ],
                   [ 'area', l('Area') ],
                   [ 'artist', l('Artist') ],
                   [ 'instrument', l('Instrument') ],
                   [ 'label', l('Label') ],
                   [ 'place', l('Place') ],
                   [ 'recording', l('Recording') ],
                   [ 'release', l('Release') ],
                   [ 'release_group', l('Release Group') ],
                   [ 'series', lp('Series', 'singular') ],
                   [ 'work', l('Work') ],
                   [ 'editor', l('Editor') ],
                   [ 'vote', l('My Vote') ]
                   [ 'release_language', l('Release Language') ],
                   [ 'release_quality', l('Release Quality') ],
                   [ 'artist_area', l('Artist Area') ],
                   [ 'label_area', l('Label Area') ]
                   [ 'release_country', l('Release Country') ]
                   [ 'link_type', l('Relationship Type') ],
                   [ 'editor_flag', l('Editor Flag') ],
                   [ 'applied_edits', l('Applied Edit Count of Editor') ],
                   ] -%]
    <option
       [%~ ' selected="selected"' IF field_contents.field_name == field.0 =%]
       value="[% html_escape(field.0) %]">[% html_escape(field.1) %]</option>
    [% END %]
  </select>
[% END %]

[% BLOCK template_fields %]
  <div id="fields">
    [% predicate_id('id') %]
    [% predicate_date(field_name) FOR field_name=['open_time', 'expire_time', 'close_time'] %]
    [% predicate_set('type', edit_types) %]
    [% predicate_set('status', status) %]
    [% predicate_set('release_quality', quality) %]
    [% predicate_int('no_votes') %]
    [% predicate_int('yes_votes') %]

    [% FOR linked_type=[ 'artist', 'label', 'series' ];
         predicate_subscription(linked_type);
       END %]

    [% FOR linked_type=[ 'area', 'instrument', 'place', 'recording', 'release_group', 'release', 'work', 'editor' ];
         predicate_link(linked_type);
       END %]

    [% predicate_vote('vote') %]
    [% predicate_release_language('release_language') %]
    [% predicate_link('artist_area', undef, 'area') %]
    [% predicate_link('label_area', undef, 'area') %]
    [% predicate_country('release_country') %]
    [% predicate_link_type('link_type') %]
    [% predicate_editor_flag('editor_flag') %]
    [% predicate_int('applied_edits') %]
  </div>
[% END %]
