[% WRAPPER 'layout.tt' title=l('Open Edits for Your Subscribed Entities') full_width=1 %]
    <div id="content">
        <h1>[% l('Open Edits for Your Subscribed Entities') %]</h1>
        [% INCLUDE 'edit/list.tt' %]
    </div>
[% END %]
