[% WRAPPER 'layout.tt' title=l('Edits for “{name}”', { name => html_escape(work.name) }) full_width=1 %]
    <div class="workheader">
        <h1>[% l('Edits for “{link}”', { link => link_entity(work) }) %]</h1>
        <p class="subheader">
            <span class="prefix">~</span>
                [% html_escape(work.l_type_name) or l('Work') %]
        </p>
    </div>
    [% INCLUDE 'edit/list.tt' %]
[% END %]
