<div class='entity_header'>
    <div class='title track'>
        [% link_work(work) %]
        [% html_escape("(${artist.comment})") IF artist.comment %]
    </div>
    <div class='info'>
        [% l('By {artist}', {artist=artist_credit(work.artist_credit)}) -%]
    </div>
    <div class='editLinks'>
        [%- l('Please {uri|log in} to edit this artist.', {uri = c.uri_for('/user/login')})
            IF !c.user_exists; -%]
    </div>
</div>
