[%- title=l('{type} {work} by {artist}', {
        type => work.type_name or "Work",
        work => work.name,
        artist => artist_credit(work.artist_credit, plain => 1)
    }) -%]

[%- WRAPPER "layout.tt" -%]
    [%- INCLUDE 'work/header.tt' %]
    [%- content -%]
[%- END -%]
