[%- WRAPPER 'work/layout.tt' title=l("Relationships") page='relationships' -%]
    <div [% rdfa_about_attr(rdfa_work_curi(work)) %]>
    <h2>[% l("Relationships") %]</h2>
    [%- INCLUDE "components/relationships.tt" source=work -%]
    </div>
[%- END -%]
