<ul>
  <li><a href="[% c.uri_for('/user/login') %]">Login</a></li>
  <li><a href="[% c.uri_for('/user/register') %]">Register</a></li>
  <li><a href="[% c.uri_for('/user/forgot_password') %]">Forgot Password</a></li>
  <li><a href="http://metabrainz.org/donate">Donate!</a></li>
</ul>
