<h3>
    [% IF link %]
        <a href="[% link %]">
            [%- title -%]
        </a>
    [% ELSE %]
        [% title %]
    [% END %]
</h3>
<div class="sidebar-module">
    [%- content -%]
</div>
