[% WRAPPER 'track/layout.tt' title="Merge" %]

[% WRAPPER 'components/box.tt' header="Remove ${track.name}" %]
    <p>Are you sure you delete the track [%- entity_link(track) -%]? If so, please enter an edit note below</p>

    [%- WRAPPER "forms/form.tt" -%]
        [% INCLUDE "forms/edit-note.tt" field=form.field("edit_note") %]
        [% INCLUDE "forms/submit.tt" label="Enter Edit" %]
    [%- END -%]
[% END %]

[% END %]
