[%- WRAPPER 'layout.tt' title=lp('Add series', 'header, singular') full_width=1 -%]
    <div id="content">
        <h1>[%- lp('Add series', 'header, singular') -%]</h1>
        [%- INCLUDE 'series/edit_form.tt' new=1 -%]
    </div>
[%- END -%]
