[%- WRAPPER "$entity_type/layout.tt" title=l('Edit') full_width=1 page='edit' gettext_domains=['attributes', 'countries', 'instruments', 'instrument_descriptions', 'languages', 'relationships'] -%]
    [%- INCLUDE "$entity_type/edit_form.tt" -%]
[%- END -%]
