[%- WRAPPER "$entity_type/layout.tt" title=l('Tags') page='tags' -%]
    [%- INCLUDE "components/tags.tt" entity=entity no_tags_text=l('Nobody has tagged this yet.') -%]

    [% IF c.user_exists %]
        <script>
          MB.init_main_tag_editor(
            {entity_type: '[% entity_type %]', gid: '[% entity.gid %]'},
            [% tags_json %],
            [% user_tags_json %],
            [% more_tags ? 'true' : 'false' %]
          );
        </script>
    [% END %]
[%- END -%]
