[%- WRAPPER "$entity_type/layout.tt" title=l('Remove Alias') full_width=1 -%]
    <h2>[% l('Remove alias') %]</h2>

    <p>[% l('You\'re removing the alias <em>{alias}</em>.', { alias => html_escape(alias.name) }) %]</p>

    <p>[% l("Please review the {doc|alias documentation} before entering this edit.", { doc => doc_link('Alias') }) %]</p>

    <form action="[% c.req.uri %]" method="post">
        [% INCLUDE 'forms/edit-note.tt' %]
        [% enter_edit() %]
    </form>
[%- END -%]
