<input type="[%- type -%]" id="[%- id -%]" 
       [%- IF name -%]
            name="[%- name -%]"
       [%- END -%]
       [%- IF title -%]
           title="[%- title -%]"
       [%- END -%]
       [%- IF disabled %]
           disabled
       [%- END -%]
       [%- IF value -%]
           checked="checked"
       [%- END -%]
       [%- IF class -%]
           class="[%- class -%]"
       [%- END -%]
       [%- extra_attributes -%] />
