[%#
    A lazy Muz-hack. Something seems to want the line 8 of "root/user/changePassword.tt" to
    use "password.tt" as opposed to "Password.tt". I can't fathom it out personally :/ Do fix pl0x.
%]
[%- INCLUDE "forms/widgets/text.tt" type="password" -%]
