[% value = '' %]
[%- INCLUDE 'forms/input.tt' type='checkbox' field=field.sub_form.field('remove') class='release_event_remove'
    UNLESS no_remove -%]
[%- INCLUDE 'forms/input.tt' type='compound' field=field.sub_form.field(field.name _ '.date') class='release_event_date' -%]
[%- INCLUDE 'forms/input.tt' type='select' field=field.sub_form.field('country') class='release_event_country' -%]
[%- INCLUDE 'forms/input.tt' type='text' field=field.sub_form.field('label') class='release_event_label' -%]
[%- INCLUDE 'forms/input.tt' type='text' field=field.sub_form.field('catalog') class='release_event_catalog' -%]
[%- INCLUDE 'forms/input.tt' type='text' field=field.sub_form.field('barcode') class='release_event_barcode' -%]
[%- INCLUDE 'forms/input.tt' type='select' field=field.sub_form.field('format') class='release_event_format' -%]