[%- INCLUDE 'forms/input.tt' type='text' field=field.sub_form.field('number') size='2'
    IF field.subform.with_track_number -%]
[%- INCLUDE 'forms/input.tt' type='text' field=field.sub_form.field('name') size='30' -%]
[%- INCLUDE 'forms/input.tt' type='text' field=field.sub_form.field('duration') size='5' -%]
[%- INCLUDE 'forms/errors.tt' -%]