<div class="blankheader">
    <h1>[% cdstub.title %]</h1>
    <p class="subheader">
        <span class="prefix">~</span>
        [%= l('CD stub by {artist}', { artist => cdstub.artist || l('Various Artists') }) -%]
    </p>
</div>
