[%- WRAPPER 'collection/layout.tt' title=l('Remove') page='delete' full_width=1 -%]
    <h2>[% l('Remove collection') %]</h2>
    <p>
            [%- l('Are you sure you want to remove the collection {collection}?', { collection => link_collection(collection) }) -%]
    </p>
    <form action="[% c.req.uri %]" method="post">
        [% form_submit(l('Remove collection')) %]
    </form>
[%- END -%]
