[%- WRAPPER 'collection/layout.tt' title=l('Delete') page='delete' full_width=1 -%]
    <h2>[% l('Delete Collection') %]</h2>
    <p>
            [%- l('Are you sure you want to delete the collection {collection}?', { collection => link_collection(collection) }) -%]
    </p>
    <form action="[% c.req.uri %]" method="post">
        [% form_submit(l('Delete collection')) %]
    </form>
[%- END -%]
