[% WRAPPER 'layout.tt' title=l('Edits for {name}', { name => html_escape(collection.name) }) full_width=1 %]
    <div class="collectionheader">
        <h1>[% l('Edits for {link}', { link => link_entity(collection) }) %]</h1>
        <p class="subheader">
            <span class="prefix">~</span> [% l('Collection') %]
        </p>
    </div>
    [% INCLUDE 'edit/list.tt' %]
[% END %]
