[% main_title = l("Collection “{collection}”", { collection => collection.name }) %]
[%- WRAPPER "layout.tt" title=title ? main_title _ " - ${title}" : main_title -%]
  <div id="content">
    [%~ React.embed(c, 'collection/CollectionHeader', { collection => collection, page => page }) ~%]
    [%- content -%]
  </div>

  [%- IF !full_width -%]
    [%- React.embed(c, 'layout/components/sidebar/CollectionSidebar', {collection => collection}) -%]
  [%- END -%]
[%- END -%]
