[% WRAPPER 'layout.tt' title=l('Add Edit Note') %]
    [% WRAPPER 'components/box.tt' header=l('Add Edit Note') %]
        [% WRAPPER 'forms/form.tt' moderation=undef quiet=1 %]
            [% INCLUDE 'forms/edit-note.tt' %]
            [% INCLUDE 'forms/submit.tt' label=l('Add Edit Note') %]
        [% END %]
    [% END %]
[% END %]
