[% IF moderation.Notes %]
    <table class="edit_notes">
    [% FOR note=moderation.Notes %]
        <tr>
            <td class="author">
            <a href="[% c.uri_for('/user/profile', note.user.name) %]">[% note.user.name %]</a>:
            </td>
            <td>
            <div class="note_date">[% UserDate.format(note.GetNoteTime) %]</div>
            [% note.text_as_html %]
            </td>
        </tr>
    [% END %]
    </table>
[% ELSE %]
    <em>(None)</em>
[% END %]
