[%- WRAPPER 'layout.tt' title=l('Add Area') full_width=1 gettext_domains=['attributes', 'countries', 'instruments', 'languages', 'relationships'] -%]
    <div id="content">
        <h1>[%- l('Add Area') -%]</h1>
        [%- INCLUDE "area/edit_form.tt" -%]
    </div>
[%- END -%]
