[%- WRAPPER 'area/layout.tt' title=l('Edit Area Alias') full_width=1 -%]
    <h2>[% l('Edit area alias') %]</h2>
    [%- INCLUDE 'alias/edit_form.tt' search_hint_type_id=3 entity_type_name='area' -%]
[%- END -%]
