[% WRAPPER 'layout.tt' title=l('Edits for {name}', { name => html_escape(area.name) }) full_width=1 %]
    <div class="areaheader">
        <h1>[% l('Edits for {link}', { link => link_entity(area) }) %]</h1>
        <p class="subheader">
            <span class="prefix">~</span> [% html_escape(area.type_name) or l('Area') %]
        </p>
    </div>
    [% INCLUDE 'edit/list.tt' %]
[% END %]
