[%- WRAPPER 'area/layout.tt' title='Labels' page='labels' -%]
    <h2>[% l('Labels') %]</h2>

    [% IF labels.size %]
      [% INCLUDE 'components/labels-list.tt' no_areas=1 WRAPPER 'components/with-pager.tt' %]
    [% ELSE %]
      [% l('This area is not currently associated with any labels.') %]
    [% END %]
[%- END -%]
