[%- WRAPPER 'area/layout.tt' title=l('Places') page='places' -%]
    <h2>[% l('Places') %]</h2>

    [% IF places.size %]
      <div id="largemap"></div>
      [% script_manifest('area/places-map.js', { 'data-args' => map_data_args }) %]
      [% React.embed(c, 'components/PlacesList', { places => places }) WRAPPER 'components/with-pager.tt' %]
    [% ELSE %]
      [% l('This area is not currently associated with any places.') %]
    [% END %]
[%- END -%]
