[%- WRAPPER 'area/layout.tt' title=l('Releases') page='releases' -%]

    [%- filter_button() -%]
    <h2>[% l('Releases') %]</h2>

    [%- IF releases.size -%]
        [% React.embed(c, 'components/ReleasesList', { releases => releases, checkboxes => 'add-to-merge', showArtists => 1})
            WRAPPER 'components/with-pager.tt' -%]
    [%- ELSE -%]
      [% l('This area is not currently associated with any releases.') %]
    [%- END -%]

[%- END -%]
