[% WRAPPER "layout.tt" title="Edit relationship attribute" full_width=1 %]
    <div id="content">
        <h1>[% 'Edit relationship attribute' %]</h1>
        [% INCLUDE "relationship/linkattributetype/form.tt" %]
    </div>
[% END %]
