[% WRAPPER "layout.tt" title=l("New Relationship Type") full_width=1 %]
    <div id="content">
        <h1>[% l("New Relationship Type") %]</h1>
        [% INCLUDE "admin/linktype/form.tt" %]
    </div>
[% END %]
