input.button {
	/*font-weight: bold; font-size: 12px; 
	font-family: Arial, Geneva, Helvetica, Verdana, sans-serif; 
	/*background: #ffba58; color: #000; */
}


/* datefield classes */
table.formstyle input.datefield,
table.formstyle input.datefield-hidden,
table.formstyle input.datefield-missing {
	text-align: center;
}

/* textfield classes */
table.formstyle input.numberfield,
table.formstyle input.numberfield-hidden,
table.formstyle input.numberfield-missing {
	width: 50px; 
	background: #fff; color: #000;
	text-align: center;
}

table.formstyle input.numberfield-missing {
	background: #fff5ce; color: #000;
	border-left: 2px solid #fb5;
}

table.formstyle input.numberfield-hidden {
	visibility: hidden;
}

table.formstyle input.checkbox-disabled {
}

table.formstyle input.textbox-disabled {
	background: #eee !important;
	border: 1px solid #aaa !important;
}

/* textfield classes */
table.formstyle input.trackseq,
table.formstyle input.trackseq-hidden,
table.formstyle input.trackseq-missing {
	width: 25px;
	background: #fff; color: #000;
	text-align: center;
}

table.formstyle input.trackseq-missing {
	background: #fff5ce; color: #000;
	border-left: 2px solid #fb5;
}

table.formstyle input.trackseq-hidden {
	visibility: hidden;
}


/* textfield classes */
table.formstyle input.shorttxtfield,
table.formstyle input.shorttxtfield-hidden,
table.formstyle input.shorttxtfield-missing {
	background: #fff; color: #000;
}

table.formstyle input.shorttxtfield-missing {
	background: #fff5ce; color: #000;
	border-left: 2px solid #fb5;
}

table.formstyle input.shorttxtfield-hidden {
	visibility: hidden;
}


/* textfield classes */
table.formstyle input.tracklength,
table.formstyle input.tracklength-hidden,
table.formstyle input.tracklength-missing {
	width: 50px;
	background: #fff; color: #000;
	text-align: center;
}

table.formstyle input.tracklength-missing {
	background: #fff5ce; color: #000;
	border-left: 2px solid #fb5;
}

table.formstyle input.tracklength-hidden {
	visibility: hidden;
}

/**
 * Date fields: 
 * yyyy-mm-dd
 *
 */
table.formstyle input.yearfield,
table.formstyle input.monthfield,
table.formstyle input.dayfield {
	background: #fff; color: #000;
	text-align: center;
}

table.formstyle input.monthfield,
table.formstyle input.dayfield {
}

table.formstyle input.yearfield-missing,
table.formstyle input.monthfield-missing,
table.formstyle input.dayfield-missing {
	background: #fff5ce; color: #000;
	border-left: 2px solid #fb5;
	text-align: center;
}

table.formstyle input.monthfield-missing,
table.formstyle input.dayfield-missing {
}


/**
 * Textfields, change color upon receiving the keyboard focus
 *
 */
table.formstyle input.textfield {
	width: 350px;
	background: #fff; color: #000;
	padding-left: 2px;
}

table.formstyle input.textfield.focus {
	background: #f0efff; color: #000;
}

table.formstyle input.textfield.missing {
	background: #fff5ce; color: #000;
	border-left: 2px solid #fb5;
}

table.formstyle select.missing {
	background: #fff5ce; color: #000;
	border-left: 2px solid #fb5;
}

table.formstyle .textfield,
table.formstyle .numberfield,
table.formstyle .yearfield,
table.formstyle .monthfield,
table.formstyle .dayfield {
	background: #fff; color: #000;
	padding-left: 2px;
}

table.formstyle .yearfield,
table.formstyle .monthfield,
table.formstyle .dayfield {
	text-align: center;
}

table.formstyle .textfieldfocus,
table.formstyle .numberfieldfocus,
table.formstyle .yearfieldfocus,
table.formstyle .monthfieldfocus,
table.formstyle .dayfieldfocus {
	background: #f0efff; color: #000;
	padding-left: 2px;
}

table.formstyle .numberfield,
table.formstyle .numberfieldfocus {
	text-align: center;
}

table.formstyle .trackerror {
	font-size: 11px;
	color: #333;
	background-color: inherit;
}


table.formstyle .textarea {
	/* width: 100%; handled with js now */
}

table.formstyle .oldtextfield,
table.formstyle .oldtextfield-modpending {
	padding: 2px; font-size: 12px;
}

table.formstyle .oldtextfield-modpending {
	background-color: #ffc; color: inherit;
}

table.formstyle td.padleft {	
	padding-left: 20px;
}

table.formstyle td.padlefttop {
	padding-left: 20px;	padding-top: 10px;
}

table.formstyle td.padtop {	
	padding-top: 10px;
}

.discidmessage {
	background-color: inherit; color: red;	
	font-weight: bold;
	padding: 10px 0px 0px 10px; 	
}

.modnotearea {
}

.backtolisting {
	padding-top: 20px;
}

.similarartist {
	border-width: 2px; border-style: dotted; border-color: red; 
	margin: 10px 0px 20px 0px ; 
	padding: 5px;
}

.similarartist .warning {
	color: red; 
	font-weight: bold;
}

.similarartist ul {
	margin: 0px; margin-left: 20px; margin-top: 5px;
}

.similarartist p {
	margin: 0px; margin-top: 10px;
}


/* AdvancedRelationship editor classes
 * ------------------------------------------------------------------------- */
.linkerror {
	font-weight: bold; 
	background-color: transparent; color: #f00; 
	padding-top: 4px;
}

.relationshipTypeDesc,
.relationshipTypeError {
	font-weight: normal; 
	width: 500px;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px dotted #666;
	background-color: #fff; color: #000;
	font-size: 12px;
}

.relationshipTypeError {
	border: 1px dotted #f00;
}

.relationshipNoScript {
	font-weight: normal; 
	width: 500px; 
	padding: 5px;
	border: 1px dotted #00f;
	background-color: #fff; color: #000;
	font-size: 12px;
}

.helptext {
	font-size: 12px;
}
.relationshipAttribute {
}

.relationshipAttributeDesc div {
	margin: 5px 25px; padding: 5px; 
	width: 400px;
	border: 1px dotted #666;
	background-color: #fff; color: #000;
	font-size: 12px;
}

/* add instrument/vocal button */ 
.relationshipAttributeDesc input {
	margin-left: 25px; 
}

/* styles for the dropdown, searchfield, and button */ 
.relationshipAttributeDropdown {
	margin-bottom: 1px; margin-right: 5px; /* formats for the <select> dropdown element */ 
}

.relationshipAttributeField {}
.relationshipAttributeButton {
	padding: 0px; 
	margin-left: 4px; margin-right: 4px;
}

.relationshipAttributeItem {
	margin: 0px; 
	padding: 0px;  /* is used to group multiple instrument/vocal dropdown boxes */
}

.autofixmenu {
}

.autofixmenu .button,
.autofixmenu .buttondisabled {
	 font-size: 11px;
}

.autofixmenu .buttondisabled {
}

/* styles for the help box. */ 
.ar-instrument-helpbox {
	margin-top: 5px;
}

.ar-instrument-help {
	font-family: Arial; 
	font-size: 12px; 
	margin-left: 10px; margin-bottom: 10px;
}

.ar-instrument-help p {
	margin: 0px; 
	padding: 0px; padding-top: 5px;
}

.ar-instrument-help ul {
	margin: 0px; margin-left: 20px; 
	padding: 0px;
}

.ar-instrument-help li {
	margin: 0px; 
	padding: 0px;
}

.ar-instrument-help code {
	margin-left: 10px; margin-right: 10px; 
	background-color: #eee; color: inherit;
}

.editsuite {
	width: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.editsuite .inner {
	border: 1px solid #000;
	border-bottom: 0px;
	padding: 4px; padding-bottom: 0px;
	background-color: #f0efff; color: inherit;
}

.editsuite .inner table.links {
	padding-bottom: 2px;
}

.editsuite .inner table.links td.title {
	width: 130px; 
	font-weight: bold;
}

.editsuite .inner table.links td.link {
	white-space: nowrap;
}

.editsuite div.noscript {
	border-bottom: 1px solid #000;
}
.editsuite-table {
	padding-top: 4px;
}


/* editsuite styles */
.editsuite-box-tr {
	vertical-align: top;
	background: url(/images/es/dotted-horiz.gif);
}

.editsuite-box-tr td {
	padding-top: 2px;
	padding-bottom: 3px;
}

.editsuite-box-tr td.toggle {
	text-align: right;
	width: 10px;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 0px;
}

/*  EDITSUITE modules styles */
.editsuite .button,
.editsuite .buttondisabled {
	font-size: 11px;
	font-weight: normal;
}

.moduletable {
	padding-top: 4px;
	border-width: 0px;
	border-collapse: collapse;
	width: 100%;
}

.moduletable td {
	padding: 0px;
	padding-bottom: 1px;
	font-size: 11px;
}

.moduletable td small {
	font-size: 10px;
}

.moduletable .srfield {
	background-color: #fff; color: #000;
	font-size: 11px;
}

/* EDITOR TOOLBOX styles */
.sr-presets-bg {
	border: 1px solid #000;
	background: #ccccff; color: inherit;
	border-collapse: collapse;
	padding: 0px;
}

.sr-presets-fg {
	background-color: #fff; color: inherit;
}

.sr-presets-bg td {
	font-size: 11px;
}

.sr-presets-caption {
	font-weight: bold;
	padding: 2px;
	background-color: transparent; color: #000;
	border: 0px; border-bottom: 1px solid #000;
}

.sr-presets-close {
	text-align: right;
	padding: 2px;
	background-color: transparent; color: #000;
	border: 0px; border-bottom: 1px solid #000;
}

.sr-presets-close a,
.sr-presets-close a:visited,
.sr-presets-close a:active,
.sr-presets-close a:hover {
	background-color: transparent; color: #000;
	text-decoration: underline;
	font-size: 11px;
}



/* EDITOR TOOLBOX styles */
.editortoolbox {
	width: 300px;
	border-collapse: collapse;
	padding: 0px;
}

.editortoolbox .row {
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
}

.editortoolbox .row-spacer {
	vertical-align: middle;
	background: url(/images/es/dotted-horiz.gif);
}

.editortoolbox .label {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 11px;
}

.editortoolbox .text {
	width: 200px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 11px;
}

.editortoolbox select {
	font-size: 11px;
	margin-bottom: 2px;
}

.editortoolbox .button {
	font-size: 11px;
	margin-bottom: 2px;
}
.editor-toolbox-bg {
	border: 1px solid #000;
	background: #fb5;
	border-collapse: collapse;
	padding: 0px;
}

.editor-toolbox-fg {
	background: #fff;
}

.editor-toolbox-caption {
	font-size: 10px;
	font-weight: bold;
	padding: 2px;
	background-color: transparent; color: #000;
	border: 0px; border-bottom: 1px solid #000;
}

.editor-toolbox-close {
	font-size: 10px;
	text-align: right;
	padding: 2px;
	background-color: transparent; color: #000;
	border: 0px; border-bottom: 1px solid #000;
}

.editor-toolbox-close a,
.editor-toolbox-close a:visited,
.editor-toolbox-close a:active,
.editor-toolbox-close a:hover {
	background-color: transparent; color: #000;
	text-decoration: underline;
}


/* javascript logging facilities */
.log-messages {
	border: 1px solid #000;
	margin: 0; padding: 0;
	font-family: Arial;
	font-size: 11px;
	margin-top: 20px;
	margin-right: 30px;
}

.log-messages .header {
	margin: 5px; margin-top: 0px;
	padding: 0px; padding-left: 2px; padding-bottom: 3px;
	font-family: Arial; font-size: 10px;
}

.log-messages .title {
	margin: 5px;
	padding-left: 2px;
	font-family: Arial; font-size: 10px;
}

.log-messages .inner {
	margin: 0px;
	padding: 5px;
	margin-top: 5px;
	font-family: monospace;
	font-size: 11px;
	overflow: auto;
}

.log-messages .log-scope {
	background: #f0efff; color: inherit;
	border: 1px solid #ccc;
	margin: 5px; margin-left: 0px; margin-right: 10px;
	padding-left: 0.4em;
	padding-right: 0.4em;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial;
}

.log-messages .log-enter {
	margin: 0px; margin-left: 112px;
	padding: 0px;
	border-left: 1px solid #ddd;
	color: #88d;
	font-size: 11px;
}

.log-messages .log-exit {
	margin: 0px; margin-left: 112px;
	padding: 0px;
	border-left: 1px solid #ddd;
	background: transparent; color: #8d8;
	font-size: 11px;
}

.log-messages .log-level-debug {
	margin: 0px; padding: 0px; border: 1px;
	font-size: 11px
}

.log-messages .log-level-info {
	margin: 0px; padding: 0px;
	font-size: 11px
}

.log-messages .log-level-warning {
	margin: 0px; padding: 0px; 
	background: transparent; color: #ff8800; 
	font-size: 11px
}

.log-messages .log-level-error {
	margin: 0px; padding: 0px; 
	background: transparent; color: #ff0000; 
	font-size: 11px
}

.log-messages .log-highlight {
	font-family: monospace;
	background: #f0efff; color: #000;
	padding-left: 0.2em;
	padding-right: 0.2em;
	font-size: 11px
}

input.hidden {
	display: none;
}

a.toolbox img.toolbox {
	margin-left: 4px;
	vertical-align: -10%;
}

fieldset.formstyle p {
	margin-top: 1em;
	margin-bottom: 1em;
}

fieldset.formstyle {
	border: solid 1px #DDD;
}

fieldset.formstyle legend {
	background-color: transparent; color: #000;
	font-weight: bold;
}
	
/* user feedback boxes */
.feedbackbox,
.feedbackbox-warning,
.feedbackbox-info {
	width: 545px;
}

.feedbackbox,
.feedbackbox-warning,
.feedbackbox-info {
	line-height: 1.2em;
	margin-bottom: 15px;
	padding: 4px;
	font-size: 12px;
}

.feedbackbox img.boxtype,
.feedbackbox-warning img.boxtype,
.feedbackbox-info img.boxtype {
	float: left;
	padding-top: 0px; padding-right: 4px; padding-bottom: 0px;
}

.feedbackbox-nobox {
	margin-bottom: 0px;
}

.feedbackbox-warning {
	border: 1px solid #000; 
	background-color: #fff5ce; color: #000;
}

.feedbackbox-info {
	border: 1px solid #999; 
	background-color: #fafafa; color: #000;
}

span.feedbackbox-header {
	font-weight: bold; margin-right: 5px;
}

span.feedbackbox-text {
}

span.feedbackbox-text ul {
	margin: 0px; padding: 0px;
}

span.feedbackbox-text ul li {
	margin: 0px; padding: 0px;
}


.feedbackbox a,

.feedbackbox a.readmore {
	font-style: normal;
	white-space: nowrap;
	margin-left: 5px;
	background-color: transparent; color: #000;
	font-size: 10px;
	text-decoration: underline;
}

.feedbackbox a.readmore:hover {}

/* workflow state indications (step x of y) */
div.formsteps {
	margin-left: 10px;
	padding-bottom: 45px;
}

div.step {
	float: left; font-size: 11px;
	border: 1px solid #ccc;
	margin-top: 2px;
	padding: 2px 4px 2px 4px;
	background-color: #fff; color: #ccc;
}

div.step.curr {
	border: 1px solid #000;
	background-color: #fff; color: #000;
}

div.stepnr {
	float: left; font-size: 11px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 0px 1px 1px;
	margin-top: 2px;
	padding: 2px;
	background-color: #ccc; color: #fff;
}

div.stepnr.currnr {
	border-color: #000;
	background-color: #000; color: #fff;
}

div.steparrow {
	float: left; font-size: 11px;
	margin-top: 2px;
	padding: 2px;
}


/* odd/even row coloring */
tr.even {}
tr.odd { background-color: #eee }

/* release editor */
table.release_editor { 
	border-collapse: collapse; 
}
table.release_editor td { 
	padding: 2px; 
}
table.release_editor tr.trackartist td { 
	padding-bottom: 10px; 
}
table.release_editor tr.step td { 
	padding-bottom: 10px; 
}

table.release_editor td.linkedits { 
	text-align: center;
	white-space: nowrap;
	padding-bottom: 12px;
	vertical-align: bottom;
}

table.release_editor td.lessboxmargin .feedbackbox,
table.release_editor td.lessboxmargin .feedbackbox-warning,
table.release_editor td.lessboxmargin .feedbackbox-info { 
	margin-bottom: 5px; 
}


/* album editor review  */
table.review {
	border-collapse: collapse;
	margin: 0px; margin-left: 40px;
	padding: 0px;
	background: #fff; color: inherit;
}

table.review tr {
	vertical-align: top;
}

table.review tr.header {}

table.review tr.header td {
	padding-left: 2px;
	padding-bottom: 2px;
	font-weight: bold;
}

table.review tr td {
	padding: 2px;
}

table.review tr td.type {
	padding-left: 4px;
	padding-right: 40px;
}

table.review tr td.newvalue {
	white-space: nowrap;
	padding-right: 40px;
}

table.review tr td.autoedit {
	width: 100px;
	padding-right: 4px;
}

table.review tr.spacer td {}

table.review tr.nochanges td {}

table.review tr td table.editdiff tr td {
	padding: 1px;
}

select.country {
	width: 18em;
}

/* vi: set ts=4 sw=4 ft=mason : */
