table.difflegend td span.legend {
	font-size: 12px; 
}
table.difflegend span.box {
	font-size: 12px;
}
div.attrlist {
	font-size: 12px;
}
table.voteslist tr td.voter {
	padding-top: 0px; font-size: 12px;
}
table.voteslist tr td.date {
	font-size: 12px;
}
table.voteslist span.date {
}
table.noteslist tr td.noter {
	padding-top: 0px; font-size: 12px;
}
table.votechoice label {
	font-size: 12px;
}
table.edittype tr.entity td {
	font-size: 12px;
}
table.relationships td  { 
	font-size: 12px;
}


table.annotation tr.info td.text,
table.annotation tr.info td.links,
table.annotation tr.log td {
	font-size: 12px;
}

/* vi: set ts=4 sw=4 ft=mason : */
