body, td { font-family: Arial; font-size: 11px; }
table { border-collapse: collapse; border: 0px; }
ol { margin: 0px; margin-left: 20px; padding: 0px; }
ol li { margin: 0px; margin-left: 15px; padding: 0px; font-size: 11px; }
a { font-weight: bold; color: #000; padding: 2px; text-decoration: underline; font-size: 12px; }

td { padding: 2px; border: 1px solid #000; }
tr.header { background-color: #fb5; font-size: 14px; font-weight: bold; }
tr.even { background-color: #eee; }
tr.odd {}


#testTable {
	border-collapse: collapse; 
	width: 100%;
}
#testTable td {
	padding: 2px;
	padding-right: 20px;
}