/* Extra CSS Styles for the landing page */

#leftSide {
    margin-right: 210pt;
}

#rightSide {
    float: right;
    width: 200pt;
}

#rightSide ul#blog {
    padding: 0;
}

#rightSide ul#blog li {
    list-style-type: none;
}