[% WRAPPER 'label/layout.tt' title='Add Alias' %]
[% WRAPPER 'components/box.tt' header='Add Alias' %]

[% WRAPPER 'forms/form.tt' %]
    [% INCLUDE 'forms/generic/row.tt' field=form.field('alias') label='Alias' %]
    [% INCLUDE 'forms/edit-note.tt' %]
    [% INCLUDE 'forms/submit.tt' label='Enter edit' %]
[% END %]

[% END %]
[% END %]
