[%- SET styleGuidelines=1 -%]
[%- PROCESS 'scripts/suitereqs.tt' -%]
[% WRAPPER 'label/layout.tt' title=l('Edit Label Alias') %]
    [% WRAPPER 'components/box.tt' header=l('Edit Label Alias') %]
        [%- INCLUDE 'scripts/module_style_guidelines.tt' -%]
        [% WRAPPER 'forms/form.tt' moderation=1 label=undef %]
            [% INCLUDE 'forms/generic/row.tt' field=form.field('alias') label=l('Alias') %]
        [% END %]
    [% END %]
[% END %]
