[% WRAPPER 'layout.tt' title=l('Edits for {name}', { name => html_escape(label.name) }) full_width=1 %]
    <div class="labelheader">
        <h1>[% l('Edits for {label}', { label => link_entity(label) }) %]</h1>
        <p class="subheader">
            <span class="prefix">~</span> [% l('Label') %]
        </p>
    </div>
    [% INCLUDE 'edit/list.tt' %]
[% END %]
