[%- WRAPPER "label/layout.tt" title=l('Relationships') page='relationships' -%]
    <h2>[% l("Relationships") %]</h2>
    [% INCLUDE "components/relationships.tt" source=label
        relationships=label.grouped_relationships('artist', 'url', 'label', 'place', 'area') %]

    [%- INCLUDE "components/relationships-table.tt" heading=l("Appearances") entity=label -%]
[%- END -%]
