[%- FOR track=tracklist.tracks;
    recording = track.recording %]
<tr[% ' class="ev"' IF loop.count % 2 == 0 %]>
    <td>[% track.position %]</td>
    <td>[% link_recording(recording, 'show', track.name) %]</td>
    [%- IF show_artists -%]
        <td>[% artist_credit(track.artist_credit) %]</td>
    [%- END -%]
    [% UNLESS hide_rating %]
    <td class="c">[% rating_stars(recording) %]</td>
    [% END %]
    <td>[% track.length | format_length %]</td>
</tr>
[%- END -%]
