<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="expires" content="1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>[% title %][% " - " IF title %]MusicBrainz.org</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
        [% extra_js = extra_js _ ' ' _ editsuite_js %]
        [% extra_css = extra_css _ ' ' _ editsuite_css %]
        [%- page = {
                css = extra_css.split('\s+'),
                js  = [
                    'jquery/jquery.cookie.js',
                    'sidebar.js',
                    'ratings.js',
                ],
            };
            FOR extra IN extra_js.split('\s+'); page.js.push(extra); END -%]
        [%- FOREACH css IN page.css %]
            <link rel="stylesheet" type="text/css" href="/static/styles/extra/[% css %]" />
        [%- END %]
        <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Artist") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_artist.xml') %]" />
        <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Label") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_label.xml') %]" />
        <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Release") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_release.xml') %]" />
        <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Track") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_track.xml') %]" />
    </head>
    <body>
        <div id="maincontent">
            [%- no_sidebar = c.user_exists AND c.user.preferences.get('nosidebar') -%]
            <iframe name="tagger-iframe" id="tagger-iframe"></iframe>
            [%- INCLUDE "layout/header.tt" -%]
            [%- INCLUDE "layout/sidebar.tt" UNLESS no_sidebar -%]
            <div id="container">
                <div id="content" [% 'style="margin-left: 0;' IF no_sidebar %]>
                    [%- IF c.flash.ok -%]
                        <div class="status_ok">[% c.flash.ok %]</div>
                    [%- END -%]
                    [%- content -%]
                </div>
            </div>
        </div>
        [%- INCLUDE "layout/footer-bar.tt" -%]
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        [%- IF includeJQueryUI -%]
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        [%- END %]
        [%- FOREACH js IN page.js %]
            <script type="text/javascript" src="/static/scripts/[% js %]"></script>
        [%- END %]
        [%- IF RadioClick -%]
        <script type="text/javascript">
            $(function() {
                $("input[type='radio']").dblclick(function() {
                    $("input[type='submit']").click();
                });
            });
        </script>
        [%- END %]
[%# The next two scripts make IE lower than IE8 handle css in a much more standards-compliant manner. %]
[%# As an additional benefit, they also make IE as low as IE5 semi-able to handle alpha-transparency correctly in png files. %]
    <!--[if lt IE 7]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script><![endif]-->
    <!--[if lt IE 8]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script><![endif]-->
    </body>
</html>
