[% WRAPPER 'layout.tt' title=l("Unconfirmed Email Address") %]
    <h2>[%- l('Unconfirmed Email Address') -%]</h2>
    <p>
        [% l('You must verify your email address before you can log in to {discourse|MetaBrainz Community Discourse}.',
              { discourse => 'https://community.metabrainz.org/' }) %]
    </p>
[% END %]
