[%- INCLUDE 'moderation/mods/diff_table.tt' changes=[
        { label='Name', new=new.LabelName },
        { label='Sort name', new=new.SortName },
        { label='Resolution', new=new.Resolution },
        { label='Label code', new=new.LabelCode },
        { label='Country', new=new.Conutry },
        { label='Founded', new=new.BeginDate },
        { label='Dissolved', new=new.EndDate },
    ] no_prev=1 -%]
