[%- INCLUDE 'moderation/mods/diff_table.tt' changes=[
    { label=l('Name'), new=new.ArtistName, prev=prev.ArtistName },
    { label=l('Sort name'), new=new.SortName, prev=prev.SortName },
    { label=l('Resolution'), new=new.Resolution, prev=prev.Resolution },
    { label=l('Begin Date'), new=new.BeginDate, prev=prev.BeginDate },
    { label=l('End Date'), new=new.EndDate, prev=prev.EndDate },
] -%]
