[%- INCLUDE 'moderation/mods/diff_table.tt' changes=[
    { label=l('<abbr title="Uniform Resource Locator">URL</abbr>'), new=new.URL, prev=prev.URL },
    { label=l('Description'), new=new.Desc, prev=prev.Desc },
] -%]
