<table class="details">
  <tr>
    <th>Name:</th>
    <td>
      <div>[% prev.LabelName %]</div>
      <div>[% new.LabelName %]</div>
    </td>
  </tr>

  <tr>
    <th>Sort Name:</th>
    <td>
      <div>[% prev.SortName %]</div>
      <div>[% new.SortName %]</div>
    </td>
  </tr>
</table>
