
body {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 11px
}

td {
  padding: 0;
  margin: 0;
  font-size: 11px
}

td img {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  display: block;
}

input {
	font-size: 11px
}

select {
	font-size: 11px
}

a:link, a:visited {
  color : #00F;
}

a:hover {
  color : #F00;
}

.jsUnitDefault {
}

.jsUnitDefault * {
	font-size: 9px;
}


h1, th {
  font-size: 12px;
  font-weight: bold;
  color: #039;
}

h2 {
  font-weight: bold;
  color: #039;
}

h3 {
  font-weight: bold;
  color: #039;
  text-decoration: underline;
}

h4 {
  font-weight: bold;
  color: #039;
}

.jsUnitTestResultSuccess {
  color: #000;
}

.jsUnitTestResultNotSuccess {
  color: #F00;
}

