[%- BLOCK layout_head -%]
  <style>
    div.warning p { font-size: 120%; margin: 1em; text-align: left; }
    div.warning p strong { text-transform: uppercase; }
  </style>
[%- END -%]

[% WRAPPER 'release_group/layout.tt' title=l('Edit Release Group') full_width=1 page='edit' %]

   [%- IF no_javascript -%]
     [%- warning( l("Javascript needs to be enabled to edit the Artist field on this page.") ) -%]
   [%- END -%]

   [% INCLUDE 'release_group/edit_form.tt' %]
[% END %]
