<form action="[% c.req.uri %]" method="post">
  [% USE r = FormRenderer(form) %]
  [% form_row_artist_credit(r, 'artist_credit', l('Artist:')) %]
  [% form_row_text(r, 'name', l('Name:')) %]
  [% form_row_text(r, 'comment', l('Comment:')) %]
  [% form_row_select(r, 'type_id', l('Type:')) %]

  [% INCLUDE 'forms/edit-note.tt' %]
  [% enter_edit() %]
</form>
