[%- info_links = [
    ['index', link_artist(artist, 'show', l('Overview'))],
    ['tags', link_artist(artist, 'tags', l('Tags'))],
    ['details', link_artist(artist, 'details', l('Details'))],
] -%]

<h1>“[% link_release_group(rg) %]” [% disambiguation(rg) %]</h1>
<p class="subheader">
    <span>~</span>
        [% l('Release group by {artist}', {artist = artist_credit(rg.artist_credit)})%]
</p>

[% INCLUDE 'components/tabs.tt' list=info_links %]
