[%- WRAPPER 'release_group/layout.tt' page='index' %]
    [%- INCLUDE 'release_group/annotation.tt' summary=1 -%]
    [%- IF releases.size -%]
        [%- INCLUDE 'release_group/releases-list.tt' WRAPPER 'components/with-pager.tt' -%]
    [%- ELSE -%]
        <p>[% l('No releases found') -%]</p>
    [%- END -%]
[%- END -%]
