[% l('This is the a verification email for your MusicBrainz account.') %]
[% l('Please click on the link below to verify your email address:') %]

[% verification_link %]

[% l('If clicking the link directly does not work, you may need to manually cut and paste the link into the location bar of your preferred web browser.') %]

[% l('Thanks for using MusicBrainz!') %]

-- [% l('The MusicBrainz Team') %]
