Hello.  Someone, probably you, asked that your MusicBrainz password be
sent to you via email.

Your MusicBrainz user name is: [% username %]
Your MusicBrainz password is: [% password %]

To log in to MusicBrainz, please use this link:

[% c.uri_for('/user/login') %]

If you still have problems logging in, please drop us a line - see
[% c.uri_for('/doc/ContactUs') %] for details.

-- The MusicBrainz Team