[% l('Hello. Someone asked that your MusicBrainz password be reset.') %]

[% l('If you did ask to reset the password on your MusicBrainz account, please use this link:') %]

[% reset_password_link %]

[% l('If you still have problems logging in, please drop us a line - see {uri} for details.', {uri => c.uri_for('/doc/ContactUs')}) %]

-- [% l('The MusicBrainz Team') %]
