<table class="details">
  <tr>
    <th>[% l('Additions:') %]</th>
    <td>
      <ul>
        [% FOR addition=edit.display_data.additions %]
        <li>
          [% l('ISRC {isrc} to {recording} by {artist}',
               { isrc => addition.isrc,
                 recording => link_recording(addition.recording),
                 artist => artist_credit(addition.recording.artist_credit) }) %]
        </li>
        [% END %]
      </ul>
    </td>
  </tr>
</table>
