<table class="details add-artist-annotation">
  <tr>
    <th>[% l('Artist:') %]</th>
    <td>[% link_entity(edit.display_data.artist) %]</td>
  </tr>
  <tr>
    <th>[% l('Changelog:') %]</th>
    <td>
      <a href="[% c.uri_for_action('/artist/annotation_revision', [ edit.display_data.artist.gid ], edit.display_data.annotation_id) %]">
        [% html_escape(edit.display_data.changelog) || l('(no changelog)') %]
      </a>
    </td>
  </tr>
</table>
