<table class="details">
  <tr>
    <th>[% l('Release:') %]</th>
    <td>[% link_release(edit.display_data.release) %]
  </tr>
  <tr>
    <th>[% l('Changelog:') %]</th>
    <td>
      <a href="[% c.uri_for_action('/release/annotation_revision', [ edit.display_data.release.gid ], edit.display_data.annotation_id) %]">
        [% edit.display_data.changelog || l('(no changelog)') %]
      </a>
    </td>
  </tr>
</table>
