<table class="details add-work-alias">
  <tr>
    <th>[% l('Work:') %]</th>
    <td>[% link_entity(edit.display_data.work) %]</td>
  </tr>
  <tr>
    <th>[% l('Alias:') %]</th>
    <td>[% edit.display_data.alias | html %]</td>
  </tr>
  [% IF edit.display_data.locale %]
  <tr>
    <th>[% l('Locale:') %]</th>
    <td>[% edit.display_data.locale | locale %]</td>
  </tr>
  [% END %]
</table>
