<table class="details add-work-annotation">
  <tr>
    <th>[% l('Work:') %]</th>
    <td>[% link_entity(edit.display_data.work) %]
  </tr>
  <tr>
    <th>[% l('Changelog:') %]</th>
    <td>
      <a href="[% c.uri_for_action('/work/annotation_revision', [ edit.display_data.work.gid ], edit.display_data.annotation_id) %]">
        [% html_escape(edit.display_data.changelog) || l('(no changelog)') %]
      </a>
    </td>
  </tr>
</table>
