<table class="details add-instrument-annotation">
  <tr>
    <th>[% l('Instrument:') %]</th>
    <td>[% link_entity(edit.display_data.instrument) %]</td>
  </tr>
  <tr>
    <th>[% l('Changelog:') %]</th>
    <td>
      <a href="[% c.uri_for_action('/instrument/annotation_revision', [ edit.display_data.instrument.gid ], edit.display_data.annotation_id) %]">
        [% html_escape(edit.display_data.changelog) || l('(no changelog)') %]
      </a>
    </td>
  </tr>
</table>
