<table class="details add-relationship">
  <tr>
    <th>[% l('Relationship:') %]</th>
    <td>
      [% link_entity(edit.display_data.relationship.source) %]
      [% display_relationship(edit.display_data.relationship) %]
    </td>
  </tr>
</table>
