<table class="details add-area-annotation">
  <tr>
    <th>[% l('Area:') %]</th>
    <td>[% link_entity(edit.display_data.area) %]</td>
  </tr>
  <tr>
    <th>[% l('Changelog:') %]</th>
    <td>
      <a href="[% c.uri_for_action('/area/annotation_revision', [ edit.display_data.area.gid ], edit.display_data.annotation_id) %]">
        [% html_escape(edit.display_data.changelog) || l('(no changelog)') %]
      </a>
    </td>
  </tr>
</table>
