<table class="details add-place-annotation">
  <tr>
    <th>[% l('Place:') %]</th>
    <td>[% descriptive_link(edit.display_data.place) %]</td>
  </tr>
  <tr>
    <th>[% l('Changelog:') %]</th>
    <td>
      <a href="[% c.uri_for_action('/place/annotation_revision', [ edit.display_data.place.gid ], edit.display_data.annotation_id) %]">
        [% html_escape(edit.display_data.changelog) || l('(no changelog)') %]
      </a>
    </td>
  </tr>
</table>
