<table class="details add-recording-annotation">
  <tr>
    <th>[% l('Recording:') %]</th>
    <td>[% link_entity(edit.display_data.recording) %]
  </tr>
  <tr>
    <th>[% l('Changelog:') %]</th>
    <td>
      <a href="[% c.uri_for_action('/recording/annotation_revision', [ edit.display_data.recording.gid ], edit.display_data.annotation_id) %]">
        [% html_escape(edit.display_data.changelog) || l('(no changelog)') %]
      </a>
    </td>
  </tr>
</table>
