<table class="details add-label-alias">
  <tr>
    <th>[% l('Label:') %]</th>
    <td>[% link_entity(edit.display_data.label) %]</td>
  </tr>
  <tr>
    <th>[% l('Alias:') %]</th>
    <td>[% edit.display_data.alias | html %]</td>
  </tr>
  [% IF edit.display_data.locale %]
  <tr>
    <th>[% l('Locale:') %]</th>
    <td>[% edit.display_data.locale | language %]</td>
  </tr>
  [% END %]
</table>
