<table class="details">
  <tr>
    <th>[% l('Recording:') %]</th>
    <td colspan="2">[% link_recording(edit.display_data.recording) %]</td>
  </tr>

  <tr>
    <th>[% l('Artist') %]</th>
    <td>[% link_artist(edit.display_data.artist.old) %]</td>
    <td>[% link_artist(edit.display_data.artist.new) %]</td>
  </tr>
</table>
