<table class="details change-artist-quality">
  <tr>
    <th>[% l('Artist:') %]</th>
    <td colspan="2">[% link_entity(edit.display_data.artist) %]</td>
  </tr>
  <tr>
    <th>[% l('Quality:') %]</th>
    <td class="old">[% quality_name(edit.display_data.quality.old) %]</td>
    <td class="new">[% quality_name(edit.display_data.quality.new) %]</td>
  </tr>
</table>
