[%-
  PROCESS 'edit/details/macros.tt';
  old_rel = edit.display_data.old;
  new_rel = edit.display_data.new;
-%]

<table class="details edit-relationship">
  [%- display_relationship_differences(l('Relationship:'), old_rel, new_rel) -%]
</table>
