<table class="details edit-release-name">
  <tr>
    <th>[% l('Releases:') %]</th>
    <td colspan="2">
      <ul>
        [% FOR release=edit.display_data.releases %]
        <li>[% descriptive_link(release) %]</li>
        [% END %]
      </ul>
    </td>
  </tr>

  <tr>
    <th>[% l('Name:') %]</th>
    <td class="old">[% edit.display_data.name.old %]</td>
    <td class="new">[% edit.display_data.name.new %]</td>
  </tr>
</table>
