<table class="details">
  <tr>
    <th>[% l('Work:') %]</th>
    <td colspan="2">[% link_work(edit.display_data.work) %]</td>
  </tr>
  <tr>
    <th>[% l('Alias:') %]</th>
    <td class="old">[% edit.display_data.alias.old | html %]</td>
    <td class="new">[% edit.display_data.alias.new | html %]</td>
  </tr>
  [% IF edit.display_data.locale %]
  <tr>
    <th>[% l('Locale:') %]</th>
    <td>[% edit.display_data.locale | language %]</td>
  </tr>
  [% END %]
</table>
