<table class="details edit-barcodes">
    [% FOR submission=edit.display_data.submissions %]
    <tr>
        <th>[% l('Release:') %]</th>
        <td>[% descriptive_link(submission.release) %]</td>
    </tr>
    <tr>
        <th>[% l('Barcode:') %]</th>
        <td>[% submission.barcode | html %]</td>
    </tr>
    [% END %]
</table>
