<table class="details merge-works">
  <tr>
    <th>[% l('Merge:') %]</th>
    <td>
      [% INCLUDE 'components/works-list.tt' works=edit.display_data.old
           no_checkboxes=1 no_ratings=1 %]
    </td>
  </tr>
  <tr>
    <th>[% l('Into:') %]</th>
    <td>
      [% INCLUDE 'components/works-list.tt' works=[edit.display_data.new]
            no_checkboxes=1 no_ratings=1 %]
    </td>
  </tr>
</table>
