<table class="details merge-artists">
  [% INCLUDE 'edit/details/merge_common.tt' %]
  <tr class="rename-artist-credits">
    <th>[% l('Rename artist credits') %]</th>
    <td>[% yesno(edit.data.rename) %]</td>
  </tr>
</table>
