<table class="details">
  <tr>
    <th>[%- l('Old artists:') %]</th>
    <td>
      <ul>
        [% FOR artist=edit.display_data.old %]
        <li>[% link_artist(artist) %]</li>
        [% END %]
      </ul>
    </td>
  </tr>

  <tr>
    <th>[%- l('New artist:') %]</th>
    <td>[% link_artist(edit.display_data.new) %]</td>
  </tr>
</table>
