<table class="details merge-places">
  <tr>
    <th>[% l('Merge:') %]</th>
    <td>
      [%~ INCLUDE 'components/places-list.tt' places=edit.display_data.old checkboxes='' ~%]
    </td>
  </tr>
  <tr>
    <th>[% l('Into:') %]</th>
    <td>
      [%~ INCLUDE 'components/places-list.tt' places=edit.display_data.new checkboxes='' ~%]
    </td>
  </tr>
</table>
