<table class="details">
  <tr>
    <th>[%- ln('Old recording:', 'Old recordings:', edit.display_data.old.size) %]</th>
    <td>
      <ul>
        [% FOR recording=edit.display_data.old %]
          <li>[% descriptive_link(recording) %]</li>
        [% END %]
      </ul>
    </td>
  </tr>

  <tr>
    <th>[% l('New recording:') %]</th>
    <td>
      [% descriptive_link(edit.display_data.new) %]
    </td>
  </tr>
</table>
