<table class="details merge-places">
  <tr>
    <th>[% l('Merge:') %]</th>
    <td>
      [%~ React.embed(c, 'components/PlacesList', { places => edit.display_data.old }) ~%]
    </td>
  </tr>
  <tr>
    <th>[% l('Into:') %]</th>
    <td>
      [%~ React.embed(c, 'components/PlacesList', { places => [edit.display_data.new] }) ~%]
    </td>
  </tr>
</table>
