<table class="details merge-series">
  <tr>
    <th>[% l('Merge:') %]</th>
    <td>
      [%~ INCLUDE 'components/series-list.tt' series=edit.display_data.old checkboxes='' ~%]
    </td>
  </tr>
  <tr>
    <th>[% l('Into:') %]</th>
    <td>
      [%~ INCLUDE 'components/series-list.tt' series=edit.display_data.new checkboxes='' ~%]
    </td>
  </tr>
</table>
