<table class="details">
  <tr>
    <th>[%- l('Old label:') %]</th>
    <td>[% link_label(edit.display_data.old) %]</td>
  </tr>

  <tr>
    <th>[%- l('New label:') %]</th>
    <td>[% link_label(edit.display_data.new) %]</td>
  </tr>
</table>
