<table class="details merge-labels">
  <tr>
    <th>[% l('Merge:') %]</th>
    <td>
      [% INCLUDE 'components/labels-list.tt' labels=edit.display_data.old
           checkboxes='' no_ratings=1 %]
    </td>
  </tr>
  <tr>
    <th>[% l('Into:') %]</th>
    <td>
      [% INCLUDE 'components/labels-list.tt' labels=edit.display_data.new
           checkboxes='' no_ratings=1 %]
    </td>
  </tr>
</table>
