<table class="details move-disc-id">
  <tr>
    <th>[% l('Disc ID:') %]</th>
    <td>[% link_cdtoc(edit.display_data.medium_cdtoc.cdtoc) %]</td>
  </tr>

  <tr>
    <th>[% l('From:') %]</th>
    <td>
      [% medium_link(edit.display_data.old_medium) %]
    </td>
  </tr>

  <tr>
    <th>[% l('To:') %]</th>
    <td>
      [% medium_link(edit.display_data.new_medium) %]
    </td>
  </tr>
</table>
