<table class="details remove-relationship-type">
  <tr>
    <th>[% l('Types:') %]</th>
    <td>[% edit.data.types.0 %]-[% edit.data.types.1 %]</td>
  </tr>
  <tr>
    <th>[% l('Name:') %]</th>
    <td>[% edit.data.name | html %]</td>
  </tr>
  <tr>
    <th>[% l('Phrase:') %]</th>
    <td>[% edit.data.link_phrase | html %]</td>
  </tr>
  <tr>
    <th>[% l('Description:') %]</th>
    <td>[% edit.data.description %]</td>
  </tr>
</table>
