<table class="details remove-relationship">
  <tr>
    <th>[% l('Relationship:') %]</th>
    <td>
      [% display_relationship(edit.display_data.relationship, 'verbose_phrase') %]
    </td>
  </tr>
</table>
