<table class="details remove-relationship-attribute">
  <tr>
    <th>[% l('Name:') %]</th>
    <td>[% edit.data.name | html %]</td>
  </tr>
  <tr>
    <th>[% l('Description:') %]</th>
    <td>[% edit.data.description | html %]</td>
  </tr>
</table>
