<table class="details">
  <tr>
    <th>[% l('ISRC:') %]</th>
    <td>[% link_isrc(edit.display_data.isrc.isrc) %]</td>
  </tr>
  <tr>
    <th>[% l('Recording:') %]</th>
    <td>[% link_recording(edit.display_data.isrc.recording) %]</td>
  </tr>
</table>
