<table class="details remove-disc-id">
  <tr>
    <th>[% l('Medium:') %]</th>
    <td colspan="2">
      [% IF edit.display_data.medium %]
        [% medium_link(edit.display_data.medium) %]
      [% ELSE %]
        on [% descriptive_link(edit.display_data.release) %]
      [% END %]
    </td>
  </tr>
  <tr>
    <th>[% l('Disc ID:') %]</th>
    <td>[% link_cdtoc(edit.display_data.cdtoc) %]</td>
  </tr>
</table>
