<table class="details remove-disc-id">
  <tr>
    <th>[% l('Medium:') %]</th>
    <td colspan="2">
      [% medium_link(edit.display_data.medium) %]
    </td>
  </tr>
  <tr>
    <th>[% l('Disc ID:') %]</th>
    <td>[% link_cdtoc(edit.display_data.cdtoc) %]</td>
  </tr>
</table>
