<table class="details remove-relationship">
  <tr>
    <th>[% l('Relationship:') %]</th>
    <td>
      [%- relationship=edit.display_data.relationship -%]
      [% descriptive_link(relationship.source, relationship.source_credit) %]
      [% display_relationship(relationship, 'verbose_phrase') %]
    </td>
  </tr>
</table>
