[%- PROCESS 'edit/details/macros.tt' -%]

<table class="details split-artist">
  <tr>
    <th>[% l('Artist:') %]</th>
    <td>[% descriptive_link(edit.display_data.artist) %]</td>
  </tr>

  <tr>
    <th>[% l('Artist Credit:') %]</th>
    <td class="new">[% expanded_artist_credit(edit.display_data.artist_credit) %]</td>
  </tr>
</table>
