<p>
    <strong>[% l('Time:') %]</strong> [% USE date; date.format(date.now, format => '%Y-%m-%d %H:%M:%S', gmt => 1) %] UTC
</p>

[% IF hostname %]
<p>
    <strong>[% l('Host:') %]</strong> [% hostname %]
</p>
[% END %]

[% IF use_languages %]
<p>
    <strong>[% l('Interface language:') %]</strong> [% current_language %]
</p>
[% END %]

<p>
  <strong>[% l("URL:") %]</strong>
  <code>[% c.req.uri %]</code>
</p>
