[% IF formatted_errors %]
<p id="errors">
  <strong>[% ln('Error:', 'Errors:', formatted_errors.size) %]</strong>
    [% FOR error=formatted_errors %]
      <pre>[%- error | html -%]</pre>
    [% END %]
  </ul>
</p>
[% ELSE %]
<p>
    <strong>[%- l('Error message: ') -%]</strong>
    [% IF message %]
        <code>[%- message | html -%]</code>
    [% ELSE %]
        <code>[%- l('(No details about this error are available)') -%]</code>
    [% END %]
</p>
[% END %]
