[% WRAPPER "layout.tt" title="Tags for ${release.name}" %]
<h2>Tags for [% release.name | html %]</h1>
[% WRAPPER 'components/box.tt' header="Tags" %]
[% INCLUDE "tag/cloud.tt" tags=tagcloud source=release %]
[% END %]
[% END %]
