/* To update the time values in this file (and thus force all clients
** to re-fetch the style sheets), run admin/UpdateStyleSheetLinks */

@import url(css/editing.css);
@import url(css/formstyles.css);
@import url(css/framework.css);
@import url(css/main.css);
@import url(css/navigation.css);
@import url(css/rating.css);

/* handy Vim command to strip the timestamps before committing to CVS:
%s/?t=\w\+//
*/
