[%- WRAPPER 'layout.tt' title=l('DiscID “{discid}”', { discid => cdtoc.discid }) full_width=1 -%]

    <h1>[% l('DiscID “{discid}”', { discid => link_cdtoc(cdtoc) }) %]</h1>

    [% INCLUDE 'cdtoc/info.tt' %]

    <h2>[% l('Attached to releases') %]</h2>
    [% INCLUDE 'cdtoc/list.tt' edit_links = 1 %]

[%- END -%]
