[%- SET styleGuidelines=1 -%]
[%- PROCESS 'scripts/suitereqs.tt' -%]
[%- WRAPPER 'artist/layout.tt' title=l('Add Artist Alias') -%]
    [%- INCLUDE 'artist/alias_form.tt'
    WRAPPER 'components/box.tt' header=l('Add Artist Alias') -%]
[%- END -%]
