[% BLOCK layout_head %]
   <script type="text/javascript">
   $(function() {
     MB.Control.AnnotationHistory('#annotation-history');
   });
   </script>
[% END %]

[% WRAPPER 'artist/layout.tt' full_width=1 title=l('Annotation history') %]
  <h2>[% l('Annotation history') %]</h2>
  [% INCLUDE 'annotation/history.tt' %]
[% END %]
