<div class="RelationshipBox">
  [% INCLUDE "components/entity-link.tt" entity=artist %]:

  <ul>
    [% FOREACH ar IN artist_relations %]
      <li>
        [% ar.connector %]
        [% FOREACH entity IN ar.entities %] 
          [% INCLUDE "components/entity-link.tt" %][% !loop.last ? "," : "" %]
        [% END %]
    [% END %]
  </ul>
</div>
