<div class="ars">
  [% INCLUDE "components/entity-link.tt" entity=artist %]:

  <ul>
    [% FOREACH ar IN artist.relations %]
      <li>
        [% ar.connector %]
        [% FOREACH entity IN ar.entities %]
          [% IF loop.last && loop.size > 1 %]
            and, 
          [% ELSIF !loop.first %]
            ,
          [% END %]

          [% INCLUDE "components/entity-link.tt" %]
        [% END %]
    [% END %]
  </ul>
</div>
