[% BLOCK layout_head %]
  [% script_manifest('guess-case.js.manifest') %]
  [% script_manifest('edit.js.manifest') %]
  <script type="text/javascript">//<![CDATA[
    $(function() {

      MB.Control.ArtistEdit ();

    });
    //]]></script>
[% END %]

[%- WRAPPER 'layout.tt' title=l('Add a New Artist') full_width=1 -%]
    <div id="content">
        <h1>[%- l('Add a New Artist') -%]</h1>
        [%- INCLUDE 'artist/edit_form.tt' new=1 -%]
    </div>
[%- END -%]
