[% extra_js = "artistform.js" %] 
[% WRAPPER "artist/layout.tt" title="Edit" %]
[% WRAPPER "components/box.tt" header="Edit ${artist.name}" %]
[% INCLUDE "artist/edit_form.tt" %]
[% END %]
[% END %]
