[% WRAPPER 'layout.tt' title=l('Artist not found') full_width=1 %]
<h1>[% l('Artist not found') %]</h1>

<p>[% l('Sorry, we could not find an artist with that MusicBrainz ID. You may
         wish to try and {search_url|search} for this artist.',
         { search_url => c.uri_for_action('/search/search') }) %]</p>
[% END %]