<div class="TagsBox">Artist tags:
  [% IF artist_tags.size %]
  <ul>
      [% FOREACH tag IN artist_tags %]
      <li>[% tag %]</li>
      [% END %]
    </ul>
  [% ELSE %]
    (none)
  [% END %]
  <p><a href="[% c.uri_for('/tags', 'artist', artist.id) %]">Tag this artist</a></p>
</div>
