[%- WRAPPER 'artist/layout.tt' title='Works' page='works' -%]
    <h2>[% l('Works') %]</h2>
    [%- IF works.size -%]
        [%- INCLUDE 'artist/works-list.tt' WRAPPER 'components/with-pager.tt' -%]
    [%- ELSE -%]
        <p>[%- l('No works found.') -%]</p>
    [%- END -%]

    [% IF c.user_exists %]
    <p>
      <a href="[% c.uri_for_action('/work/create', { artist = artist.gid }) %]">
        [% l('Create a work') %]
      </a>
    </p>
    [% END %]
[%- END -%]
