<table>
    <thead>
        <tr>
            <th>[%- l('Name') -%]</th>
            [%- IF show_artists -%]
                <th>[%- l('Artist') -%]</th>
            [%- END -%]
        </tr>
    </thead>
    <tbody>
        [%- FOR work=works -%]
        <tr>
            <td>[% link_work(work) %]</td>
            [%- IF show_artists -%]
                <td>[% artist_credit(work.artist_credit) %]</td>
            [%- END -%]
        </tr>
        [%- END -%]
    </tbody>
</table>
