<div class="instrumentheader">
    <h1>[% link_instrument(instrument) %] [% disambiguation(instrument) %]</h1>
    <p class="subheader">
        <span class="prefix">~</span>
            [% html_escape(instrument.l_type_name) or l('Instrument') %]
    </p>
</div>

[%~ IF c.user.is_relationship_editor;
    edit_tab = ['edit', link_instrument(instrument, 'edit', l('Edit'))];
END ~%]

[% INCLUDE 'components/entity-tabs.tt' edit_tab=edit_tab %]
