[%- WRAPPER "instrument/layout.tt" page='index' -%]
    [%- IF instrument.description -%]
    <h2>[% l("Description") %]</h2>
    <p>[%- instrument.l_description -%]</p>
    [%- END -%]

    [%- INCLUDE 'annotation/summary.tt' -%]

    [%- show_wikipedia_extract() -%]

    [%- INCLUDE "components/relationships.tt" source=instrument -%]

[%- END -%]

