[% # Converted to React at root/medium/MediumTracklist.js %]

[% MACRO group_dd(group) BLOCK;
     links = [];
     links.push(link_entity(rel.target)) FOR rel=group.value;
     links.join(', ');
   END -%]

[% data_tracks_started = 0 %]
[%- FOR track=tracks; recording = track.recording %]
[% IF track.is_data_track && !data_tracks_started %]
  [% data_tracks_started = 1 %]
<tr class="subh">
    <td colspan="6">
      [% data_track_icon %]
      [% l('Data tracks') %]
    </td>
</tr>
[% END %]
[%# model tracks as blank nodes %]
<tr class="[% loop.parity %][% ' mp' IF track.edits_pending %]" id="[% track.gid %]">
    <td class="pos t">
      [% IF track.position == 0 %]
        [% pregap_track_icon %]
      [% END %]
      <span style="display: none">[% track.position %]</span>
      [%- track.number -%]
    </td>
    <td>
      [%~ link_entity(recording, 'show', track.name) ~%]
    </td>
    [%- IF show_artists -%]
        <td>[% artist_credit(track.artist_credit) %]</td>
    [%- END -%]
    <td class="treleases">[% format_length(track.length) %]</td>
</tr>
[%- END -%]
