[% BLOCK layout_head %]
    <script src="[% c.uri_for('/static/scripts/libraries/QUnit.js') %]" type="text/javascript"></script>
    <script src="[% c.uri_for('/static/scripts/MB.js') %]" type="text/javascript"></script>
    <script src="[% c.uri_for('/static/scripts/MB/html.js') %]" type="text/javascript"></script>
    <script src="[% c.uri_for('/static/scripts/tests/html.js') %]" type="text/javascript"></script>
    <link rel="stylesheet" href="[% c.uri_for('/static/styles/extra/QUnit.css') %]" type="text/css" />
[% END %]

[% WRAPPER 'layout.tt' full_width=1 %]
    <h1>JavaScript Unit Tests</h1>
    <h2 id="banner"></h2>
    <h2 id="userAgent"></h2>
    <ol id="tests"></ol>
    <div id="main"></div>

    <div id="to_test">
        <select id="select1"><option>Foo</option></select>
        <select id="select1">
            <option>Foo</option>
            <option>Bar</option>
        </select>
        <select id="select1">
          <option>Foo</option>
          <option selected="selected">Bar</option>
        </select>
    </div>
[% END %]
