[%- BLOCK layout_head -%]
  [%- script_manifest('edit.js.manifest') -%]
[%- END -%]

[% WRAPPER "release/layout.tt" title=l('Add Cover Art') page='add_cover_art' %]
  <h2>[%- l('Add Cover Art') -%]</h2>
  [%- INCLUDE 'release/cover_art_form.tt' new=1 -%]
  <script>
    MB.CoverArt.add_cover_art ();
  </script>
[% END %]
