[% WRAPPER "release/layout.tt" title=l('Cannot Add Cover Art') page='cover_art' %]
  <h2>[%- l('Cannot Add Cover Art') -%]</h2>
  <p>[% l('The Cover Art Archive has had a take down request in the past for
           this release, so we are unable to allow any more uploads.') %]</p>
[% END %]
