[%- WRAPPER 'release/layout.tt' title="Convert to single artist" -%]
[%- WRAPPER 'components/box.tt' header='Convert to single artist' -%]

[%- WRAPPER 'forms/form.tt' -%]
    [%- INCLUDE 'forms/edit-note.tt' -%]
    [%- INCLUDE 'forms/submit.tt' label='Enter Edit' -%]
[%- END -%]

[%- END -%]
[%- END -%]
