[%- WRAPPER 'release/layout.tt' title=l('Remove') full_width=1 -%]
    <h2>[% l('Remove Release') %]</h2>
    <form action="[% c.req.uri %]" method="post">
        [%- USE r = FormRenderer(form) -%]
        [%- INCLUDE 'forms/edit-note.tt' -%]
        [% enter_edit() %]
    </form>
[%- END -%]

