[%- WRAPPER 'release/layout.tt' title=l('Remove') full_width=1 -%]
    <h2>[% l('Remove Release') %]</h2>
    <p>[%- l('Please review the {doc_remove|remove release edit-type} documentation before entering this edit.', {doc_remove => doc_link('Remove_Release_Edit')}) -%]</p>
    <form action="[% c.req.uri %]" method="post">
        [%- USE r = FormRenderer(form) -%]
        [%- INCLUDE 'forms/edit-note.tt' -%]
        [% enter_edit() %]
    </form>
[%- END -%]

