[% WRAPPER 'layout.tt' title=l('Edits for “{name}”', { name => html_escape(release.name) }) full_width=1 %]
    <div class="releaseheader">
        <h1>[% l('Edits for “{link}”', { link => link_entity(release) }) %]</h1>
        <p class="subheader">
            <span class="prefix">~</span>
                [% l('Release by {artist}', {artist = artist_credit(release.artist_credit)})%]
        </p>
    </div>
    [% INCLUDE 'edit/list.tt' %]
[% END %]
