[% main_title = l('Release “{name}” by {artist}', {
    artist => artist_credit(release.artist_credit, plain => 1),
    name => release.name
}) %]
[%- WRAPPER "layout.tt" title=title ? main_title _ " - ${title}" : main_title -%]

[% IF !full_width %]
    [% INCLUDE 'release/sidebar.tt' editing=0 %]
[% END %]

<div class="content">
    [%- INCLUDE "release/header.tt" -%]
    [%- content -%]
</div>

[% END %]
