[% WRAPPER 'layout.tt' title=l('Release not found') full_width=1 %]
<h1>[% l('Release not found') %]</h1>

<p>[% l('Sorry, we could not find an release with that MBID. You may
         wish to try and {search_url|search} for this release.',
         { search_url => c.uri_for_action('/search/search') }) %]</p>
[% END %]