[%- WRAPPER 'release/layout.tt' title="Remove Release" -%]
[%- WRAPPER 'components/box.tt' header="Remove Release" -%]

[%- WRAPPER 'forms/form.tt' -%]
    [%- INCLUDE 'forms/edit-note.tt' -%]
    [%- INCLUDE 'forms/submit.tt' label="Enter edit" -%]
[%- END -%]

[%- END -%]
[%- END -%]
