[%- info_links = [
    ['index', link_release(release, 'show', l('Release'))],
    ['relationships', link_release(release, 'relationships', l('Relationships'))],
    ['discids', link_release(release, 'discids', l('DiscIDs'))],
    ['details', link_release(release, 'details', l('Details'))],
    ['edit', link_release(release, 'edit', l('Edit'))],
] -%]
[% INCLUDE 'components/tabs.tt' list=info_links %]