[% WRAPPER "layout.tt" title=l('Error 403: Forbidden') full_width=1 %]
    <div id="content">
        <h1>[%- l('Forbidden') -%]</h1>
        <h2>[%- l('<abbr title="HyperText Transfer Protocol">HTTP</abbr> code 403') -%]</h2>

        <p>[%- l('The page you requested is private.') -%]</p>
    </div>
[% END %]
