[% WRAPPER "layout.tt" title=l('System busy') full_width=1 %]
    <div id="content">
        <h1>[%- l('System busy') -%]</h1>

        <p><strong>[%- l('The system is overloaded or you are making requests too fast.') -%]</strong></p>

        <p>
            [%- l("Please wait a few minutes and repeat your request.") %]
        </p>
    </div>
[%- END -%]
