.theme-light {
    --box-color: white;
    --color: black;
    --main-bg: white;
    --search-bg: white;
    --background-color: #f3f3f3;
    --primary-color: #eb743b;
    --secondary-color: purple;
    --title-color: #213b52;
    --shadow: rgba(1, 41, 112, 0.08);
    --gray-light: #e0e0e0;
    --intro-bg-first: purple;
    --intro-bg-second: orange;
    --selected-bg: #213b52;
    --footer-bg: #f3f3f3;
    --footer-sec-color: #808080;
    --supporters-card-bg: rgba(255, 255, 255, 0.5);
    --filter: grayscale(80);
    --btn-dark: black;
    --hint-color: #1a1a1a;
    --projects-bg: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}

.theme-dark  {
    --box-color: #243133;
    --main-bg: #243133;
    --color: white;
    --background-color: black;
    --search-bg: #1a1a1a;
    --primary-color: purple;
    --secondary-color: orange;
    --title-color: #f3f3f3;
    --shadow: rgba(1, 21, 92, 0.18);
    --gray-light: #243133;
    --intro-bg-first: #262626;
    --intro-bg-second: #1a1a1a;
    --selected-bg: #15DED8;
    --footer-bg: #243133;
    --footer-sec-color: #90A4AE;
    --supporters-card-bg: #808080;
    --filter: none;
    --btn-dark: #243133;
    --hint-color: #f3f3f3;
    --projects-bg: #243133;
}