[%# No need at the moment for translation in this template %]
[% WRAPPER "layout.tt" %]
    <h1>
        MusicBrainz Template Hacking
    </h1>
    <p>
        Hello, If you're reading this you're probably one of the lucky people who get to use templates with MusicBrainz! This document
        will serve as a sand-box for development, but will also allow you to see the correct way to use some of the various template
        components. By using the template components you save yourself time, and it also means that your pages will work against any
        redesigns in the future. So - let's get going!
    </p>
    <h2>
        Boxes
    </h2>
    <p>
        You're probably most familiar with these from the MusicBrainz homepage, but they are used in various other places. Here is how they look:
        [% WRAPPER "components/box.tt" header="Yay, boxes!" %]
            This is how the default box looks.
        [% END %]
        [% WRAPPER "components/box.tt" header="Ooo, purple!" color="purple" %]
            You can also add <code>color="purple"</code> to make the header purple.
        [% END %]
    </p>
    <h2>
        Links
    </h2>
    <p>
        When you are linking to various data within MusicBrainz, it is a good idea to make use of the template links, rather than raw HTML. 
        The rationale behind this is to protect the site from link-rot, as <abbr title="Uniform Resource Locators">URLs</abbr> do change over time.
    </p>
    <h3>
        Example
    </h3>
    <p>
        Here is a [%- doc_link('HowEditingWorks', 'a transcluded wiki page') -%]. You can alse link to various MusicBrainz entities:
        such as [% INCLUDE "components/entity-link.tt" type="artist" text="the Beatles" mbid="b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d" %]. 
        Linking to releases does not require the <code>type</code> to be set to <code>"release"</code>; entity-link.tt specifies the 
        default as <code>type="release"</code>.
    </p>
[% END %]
