#!/bin/sh

cd /home/musicbrainz/artwork-indexer

exec sudo -E -H -u musicbrainz bash -c '. venv/bin/activate; exec python3 indexer.py --config=config.selenium.ini --max-wait=1'
