#!/bin/sh

cd /home/musicbrainz/artwork-redirect

exec sudo -E -H -u musicbrainz bash -c '. venv/bin/activate; exec python3 artwork_redirect_server.py'
