#!/bin/sh

cd /home/musicbrainz/artwork-redirect

export HOME=/home/musicbrainz
exec chpst -u musicbrainz:musicbrainz \
    bash -c '. venv/bin/activate; exec python3 artwork_redirect_server.py' \
    2>&1
