#!/usr/bin/env bash

exec sudo -E -H -u musicbrainz /opt/chrome-linux64/chrome \
    --headless \
    --disable-dev-shm-usage \
    --disable-gpu \
    --no-sandbox \
    --remote-debugging-port=9222 \
    'about:blank'
