#!/usr/bin/env bash

# In the CircleCI environment, script/reset_selenium_env.sh runs as the
# musicbrainz user because it's invoked by t/selenium.js. The
# musicbrainz user can't run rabbitmqctl, however; only root or the
# rabbitmq user can. To work around that, we touch a file named
# .purge_sir_queues in reset_selenium_env.sh that triggers this
# service (which runs as root) to purge the search queues for us.

cd /home/musicbrainz/

while true; do
    if [[ -e .purge_sir_queues ]]; then
        ./musicbrainz-server/script/purge_sir_queues.sh /sir-test
        rm .purge_sir_queues
    fi
    sleep 1
done
