#!/bin/sh

export HOME=/var/solr
exec chpst -u solr:solr /opt/solr/bin/solr start \
    -f \
    -Dsolr.autoSoftCommit.maxDocs=10 \
    -Dsolr.autoSoftCommit.maxTime=1000 2>&1
