[% script_manifest('edit.js') %]

<h2>[% l('Edit URL') %]</h2>
<form action="[% c.req.uri %]" method="post">
    [% USE r = FormRenderer(form) %]
    [% form_row_url_long(r, 'url', l('URL:')) %]

    [% PROCESS 'forms/relationship-editor.tt' %]

    [% INCLUDE 'forms/edit-note.tt' %]
    [% enter_edit() %]
</form>

[%- script_manifest('url/edit.js') -%]
