[% script_manifest('edit.js') %]

<h2>[% l('Edit URL') %]</h2>
<form action="[% c.req.uri %]" method="post">
    [% USE r = FormRenderer(form) %]
    [% form_row_url_long(r, 'url', l('URL:')) %]

    [% React.embed(c, 'static/scripts/url/components/UrlRelationshipEditor', {
        formName => form.name,
        seededRelationships => seeded_relationships,
    }) %]

    [% INCLUDE 'forms/edit-note.tt' %]
    [% enter_edit() %]
</form>

[%- script_manifest('url/edit.js') -%]
