[% WRAPPER 'layout.tt' title=l('Edit URL') full_width=1 %]
    <form action="[% c.req.uri %]" method="post">
      [% USE r = FormRenderer(form) %]
      [% form_row_text(r, 'url', l('URL:')) %]
      [% form_row_text(r, 'description', l('Description:')) %]

      [% INCLUDE 'forms/edit-note.tt' %]
      [% enter_edit() %]
    </form>
[% END %]
