[%- WRAPPER "url/layout.tt" title=l("URL Information") page='index' -%]
    <h2 class="url-details">[% l('URL Details') %]</h2>
    <table class="details">
        <tr>
            <th>[% l('URL:') %]</th>
            <td><a href="[% html_escape(url.url) %]">[% display_url(url.url) %]</a></td>
        </tr>
    </table>
    [%- INCLUDE "components/relationships.tt" source=url -%]
[%- END -%]

