/*
 * Stuff common to most entity types
 */

/*
 * Header (ie, artist header, label header)
 */
.entity_header { 
    border: 1px solid #000;
    background-color: #F0EFFF;
    color: #000;
    width: 100%;
    margin-bottom: 1em;
    padding-top: 5px;
}

.entity_header div.title a {
    color: #000;
}

.entity_header div.title {
    padding-left: 5px;
    font-size: 25pt;
}

.entity_header div.info {
    padding-left: 5px;
    padding-top: 3px;
    font-size: 8pt;
}

.infoLinks,
.editLinks,
.TagsBox {
    padding: 1pt 5pt;
}

.editLinks {
    border-top: 1px solid #000;
    background-color: #FFECD6;
}

div.TagsBox {
    background-color: #F0F6FF;
    color; #000;
    border: 1px solid #000;
    margin-bottom: 1em;
    padding: 0.2em;
}

div.RelationshipBox {
    padding: 5px;
    background-color: #EFE8E2;
    color: #000;
    border: 1px solid;
    margin-bottom: 1em;
}

span.artist_icon,
span.release_icon,
span.label_icon,
span.track_icon {
    padding-left: 16px;
    background-position: 0px 65%;
    background-repeat: no-repeat;
}

span.artist_icon { background-image: url("/static/images/entity/artist_small.gif"); }
span.release_icon { background-image: url("/static/images/entity/release_small.gif"); }
span.label_icon { background-image: url("/static/images/entity/label_small.gif"); }
span.track_icon { background-image: url("/static/images/entity/track_small.gif"); }
