/*
 * Messages
 */
#content form .required {
    font-weight: bold;
}

#content form .error {
    color: #ff0000;
}

#content form input.error,
#content form textarea.error,
#content form select.error {
    background: #ffcccc;
}

#content form input.field_type_duration
{
    width: 40pt;
    text-align: center;
}

#content form input.field_type_tracknumber
{
    width: 20pt;
    text-align: center;
}

/*
 * Generic Forms
 */
#content form.generic p {
    clear: both;
}
#content form.generic .labelRight {
    margin-left: 110pt;
}

#content form.generic label {
    float: left;
    text-align: right;
    margin-right: 10pt;
    width: 100pt;
}

#content form.generic .labelRight {
    margin-left: 110pt;
}
#content form.generic .labelRight label {
    width: auto;
    float: none;
    text-align: left;
    margin: 0;
}
