/*
 * Messages
 */
#content form .required {
    font-weight: bold;
}

#content form .error {
    color: #ff0000;
}

#content form input.error,
#content form textarea.error,
#content form select.error {
    background: #ffcccc;
}

#content form input.field_type_duration
{
    width: 40pt;
    text-align: center;
}

#content form input.field_type_tracknumber
{
    width: 20pt;
    text-align: center;
}

/*
 * Generic Forms
 */
#content form.generic div.row {
    clear: both;
    margin-bottom: 4pt;
}

#content form.generic label {
    float: left;
    text-align: right;
    width: 100pt;
}

#content form.generic div.input,
#content form.generic .labelRight {
    margin-left: 110pt;
}

#content form.generic .labelRight .input {
    margin-left: 0;
    display: inline; 
}

#content form.generic .labelRight label {
    width: auto;
    float: none;
    text-align: left;
    margin: 0;
}

#content form.generic select
{
    width: 150pt;
}

#content form fieldset 
{
    padding: 0;
    border: none;
    border-bottom: 1px solid #FFBB55;
    padding-bottom: 10pt;
    margin-bottom: 5pt;
}
#content form fieldset legend
{
    font-weight: bold;
}
