<div id="header">
    <a href="[% c.uri_for('/') %]">
        <img src="[% c.uri_for('/static/images/musicbrainz-text.gif') %]" alt=[%- l("MusicBrainz") -%]/>
    </a>
    [%- INCLUDE 'layout/menu.tt' -%]
    <a href="[% c.uri_for('/') %]">
        <img id="brainz" src="[% c.uri_for('/static/images/brainzheader.png') %]" alt=[%- l("MusicBrainz") -%]/>
    </a>
</div>
