name: CI

on:
  push:
    branches-ignore:
      - translations
  pull_request:
    branches-ignore:
      - translations

jobs:
  build-tests-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - run: |
          if echo "$GITHUB_BASE_REF-$GITHUB_HEAD_REF" | grep -Pqv '^[\w-]+$'; then
            echo 'Invalid branch name'
            exit 1
          fi
          make -C docker config

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.tests
          tags: metabrainz/musicbrainz-tests:${{ github.event_name == 'pull_request' && format('{0}-{1}', github.base_ref, github.head_ref) || github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true

  js-perl-and-pgtap:
    needs: build-tests-image
    runs-on: ubuntu-latest
    container:
      image: metabrainz/musicbrainz-tests:${{ github.event_name == 'pull_request' && format('{0}-{1}', github.base_ref, github.head_ref) || github.ref_name }}
      options: --user root
    defaults:
      run:
        working-directory: /home/musicbrainz/musicbrainz-server

    steps:
      - run: |
          ./docker/musicbrainz-tests/run_js_perl_and_pgtap_tests.sh

      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: js_nyc_output
          path: nyc_output

      - if: always()
        uses: mikepenz/action-junit-report@v5
        with:
          check_name: JavaScript, Perl and pgTap Test Report
          report_paths: 'junit_output/*.xml'
          fail_on_failure: true
          require_tests: true

  selenium:
    needs: build-tests-image
    runs-on: ubuntu-latest
    container:
      image: metabrainz/musicbrainz-tests:${{ github.event_name == 'pull_request' && format('{0}-{1}', github.base_ref, github.head_ref) || github.ref_name }}
      options: --user root
    strategy:
      matrix:
        partition: [1, 2, 3, 4]
      fail-fast: false
    defaults:
      run:
        working-directory: /home/musicbrainz/musicbrainz-server

    steps:
      - run: |
          SELENIUM_JS_OPTIONS='--run-partition ${{ matrix.partition }}/4' \
            ./docker/musicbrainz-tests/run_selenium_tests.sh

      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: selenium_${{ matrix.partition }}_service_logs
          path: service_logs

      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: selenium_${{ matrix.partition }}_nyc_output
          path: nyc_output

      - if: always()
        uses: mikepenz/action-junit-report@v5
        with:
          check_name: "Selenium #${{ matrix.partition }} Test Report"
          report_paths: 'junit_output/*.xml'
          annotate_only: true
          fail_on_failure: true
          require_tests: true

  coverage:
    needs: [js-perl-and-pgtap, selenium]
    if: always()
    runs-on: ubuntu-latest
    container:
      image: metabrainz/musicbrainz-tests:${{ github.event_name == 'pull_request' && format('{0}-{1}', github.base_ref, github.head_ref) || github.ref_name }}
      options: --user root
    defaults:
      run:
        working-directory: /home/musicbrainz/musicbrainz-server

    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: "*_nyc_output"

      - run: |
          sudo -E -H -u musicbrainz mkdir -p .nyc_output
          mv \
            "$GITHUB_WORKSPACE"/*_nyc_output/*.json \
            .nyc_output/
          sudo -E -H -u musicbrainz ./node_modules/.bin/nyc report --reporter=html
          mv coverage "$GITHUB_WORKSPACE"

      - uses: actions/upload-artifact@v4
        with:
          name: coverage_report
          path: coverage
