name: CI

on:
  push:
    branches-ignore:
      - translations
  pull_request:
    branches-ignore:
      - translations

jobs:
  js-perl-and-pgtap:
    runs-on: ubuntu-latest
    env:
      TERM: ansi
      MBS_ROOT: /home/musicbrainz/musicbrainz-server
      NO_YARN: 1 # disables yarn within compile_resources.sh
    container:
      image: metabrainz/musicbrainz-tests:v-2024-10-30
      options: --user root

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-tests-container

      - run: |
          ./docker/musicbrainz-tests/run_js_perl_and_pgtap_tests.sh

      - if: always()
        uses: mikepenz/action-junit-report@v5
        with:
          check_name: JavaScript, Perl and pgTap Test Report
          report_paths: 'junit_output/*.xml'
          fail_on_failure: true
          require_tests: true

  selenium:
    runs-on: ubuntu-latest
    env:
      TERM: ansi
      MBS_ROOT: /home/musicbrainz/musicbrainz-server
      NO_YARN: 1
    container:
      image: metabrainz/musicbrainz-tests:v-2024-10-30
      options: --user root

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-tests-container

      - run: |
          ./docker/musicbrainz-tests/run_selenium_tests.sh

      - if: always()
        uses: actions/upload-artifact@v4
        with:
          path: |
            coverage
            svlog
            t/selenium/.sir-*.log

      - if: always()
        uses: mikepenz/action-junit-report@v5
        with:
          check_name: Selenium Test Report
          report_paths: 'junit_output/*.xml'
          annotate_only: true
          fail_on_failure: true
          require_tests: true
